{% load staticfiles %}
<script type="text/javascript">
    function setAllSEDSelectedCoords(sed_id, selected)
    {
        var boxes=$('.sed_'+sed_id+'_coord_select');
        for(var i=0; i<boxes.length; i++)
        {
            boxes[i].checked=selected;
            sedCoordSelect(selected, boxes[i].value, '{{ csrf_token }}');
        }
        return false;
    }
</script>
<div id="imagingSEDData">
    <table class="tab_panel">
        <tr class="section_subheader">
            <td colspan=7>Brain imaging SEDs (1-{{ imaging_seds|length }})</td>
        </tr>
        {% if not ispopup %}
            {% if can_add_entry or can_remove_entry %}
                <tr class="col_header">
                    <td colspan=7>
                        Workspace Select: {% if can_add_entry %}<a href="../../" onclick="return toggleAllSEDSelect('Imaging',true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../../" onclick="return toggleAllSEDSelect('Imaging',false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class="col_header">
            <td>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=150px>&nbsp;</td>
            <td width=100px>&nbsp;</td>
        </tr>
        {% for selected,is_favorite,subscribed,sed,coords in imaging_seds %}
            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                <td>{{ forloop.counter }}</td>
                <td align=center>
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup %}
                            {% if multiple %}
                                <a href="../../" onclick="return opener.addSEDMultiple('{{ type }}', {{ sed.id }}, ['{{ sed.title|escapejs }}', '{{ sed.brief_description|escapejs }}', '{{ sed.type }}']);">Select</a>
                            {% endif %}
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite({{ sed.id }},'favIcon-{{ sed.id }}','{{ csrf_token }}');">
                                <img id="favIcon-{{ sed.id }}" name="favIcon-{{ sed.id }}" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
                            </a>
                            <input type=checkbox class="selectedImagingSEDCheckbox" name="selectedSEDCheckbox_{{ sed.id }}" id="selectedImagingSEDCheckbox_{{ sed.id }}" value="{{ sed.id }}" {% if selected %}checked=True{% endif %} {% if selected and not can_remove_entry or not selected and not can_add_entry %}disabled="True"{% endif %} onclick="toggleSEDSelect(this.value, '{{ csrf_token }}');"/>
                            <input type=hidden name="selectedSED" id="selectedSED_{{ sed.id }}" value="{{ sed.id }}"/>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <a href="/bodb/sed/{{ sed.id }}/" onclick="return openInNewTab('/bodb/sed/{{ sed.id }}/');">{{ sed }}</a>
                    {% if sed.draft %}<span style="color: red;">&lt;draft&gt;</span>{% endif %}
                </td>
                <td><a href="/bodb/user/{{ sed.collator.id }}/">{{ sed.get_collator_str }}</a> {% if not sed.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ sed.collator.id }}&type=SED');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
                <td>{{sed.brief_description }}</td>
                <td>
                    {{ sed.html_url_string|safe }}
                </td>
                <td><span id="sed_{{ sed.id }}_message" name="sed_{{ sed.id }}_message" class="messages"></span></td>
            </tr>
            {% if coords %}
                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                    <td colspan="3"></td>
                    <td colspan="4" class="col_header">Coordinates</td>
                </tr>
                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                    <td colspan="3"></td>
                    <td colspan="4">
                        <table class="tab_panel">
                            <tr>
                                <td style="width:50px"></td>
                                <td style="width:200px"><strong>Region</strong></td>
                                <td style="width:100px"><strong>Hemisphere</strong></td>
                                <td style="width:50px"><strong>x</strong></td>
                                <td style="width:50px"><strong>y</strong></td>
                                <td style="width:50px"><strong>z</strong></td>
                                <td></td>
                            </tr>
                            {% for coord in coords %}
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td>
                                        {% if user.is_authenticated and not user.is_anonymous %}
                                            <input type=checkbox class="sed_{{ sed.id }}_coord_select" name="sed_coord_select" id="sed_coord_select_{{ coord.id }}" value="{{ coord.id }}" onclick="sedCoordSelect(this.checked, '{{ coord.id }}', '{{ csrf_token }}');" {% if coord.id in selected_coord_ids %}checked=True{% endif %}/>
                                        {% endif %}
                                    </td>
                                    <td>{{ coord.named_brain_region }}</td>
                                    <td>{{ coord.hemisphere }}</td>
                                    <td>{{ coord.coord.x }}</td>
                                    <td>{{ coord.coord.y }}</td>
                                    <td>{{ coord.coord.z }}</td>
                                    <td><span id="coord_{{ sed.id }}_{{ coord.id }}_message" name="coord_{{ sed.id }}_{{ coord.id }}_message" class="messages"></span></td>
                                </tr>
                            {% endfor %}
                            {% if user.is_authenticated and not user.is_anonymous %}
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td colspan="7">
                                        <a href="" onclick="return setAllSEDSelectedCoords('{{ sed.id }}', true);">Select all</a> /&nbsp;
                                        <a href="" onclick="return setAllSEDSelectedCoords('{{ sed.id }}', false);">Unselect all</a>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>