{% load staticfiles %}
<div id="genericSEDData">
    <table class="tab_panel">
        <tr class="section_subheader">
            <td colspan=6>Generic SEDs (1-{{ generic_seds|length }})</td>
        </tr>
        {% if not ispopup %}
            {% if can_add_entry or can_remove_entry %}
                <tr class="col_header">
                    <td colspan=6>
                        Workspace Select: {% if can_add_entry %}<a href="../../" onclick="return toggleAllSEDSelect('Generic',true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../../" onclick="return toggleAllSEDSelect('Generic',false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class="col_header">
            <td>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=100px>&nbsp;</td>
        </tr>
        {% for selected,is_favorite,subscribed,sed in generic_seds %}
            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                <td>{{ forloop.counter }}</td>
                <td align=center>
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup and multiple %}
                            <a href="../../" onclick="return opener.addSEDMultiple('{{ type }}', {{ sed.id }}, ['{{ sed.title|escapejs }}', '{{ sed.brief_description|escapejs }}', '{{ sed.type }}']);">Select</a>
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite({{ sed.id }},'favIcon-{{ sed.id }}','{{ csrf_token }}');">
                                <img id="favIcon-{{ sed.id }}" name="favIcon-{{ sed.id }}" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
                            </a>
                            <input type=checkbox class="selectedGenericSEDCheckbox" name="selectedSEDCheckbox_{{ sed.id }}" id="selectedGenericSEDCheckbox_{{ sed.id }}" value="{{ sed.id }}" {% if selected %}checked=True{% endif %} {% if selected and not can_remove_entry or not selected and not can_add_entry %}disabled="True"{% endif %} onclick="toggleSEDSelect(this.value, '{{ csrf_token }}');"/>
                            <input type=hidden name="selectedSED" id="selectedSED_{{ sed.id }}" value="{{ sed.id }}"/>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <a href="/bodb/sed/{{ sed.id }}/" onclick="return openInNewTab('/bodb/sed/{{ sed.id }}/');">{{ sed }}</a>
                    {% if sed.draft %}<span style="color: red;">&lt;draft&gt;</span>{% endif %}
                </td>
                <td>{{ sed.get_collator_str }} {% if not sed.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ sed.collator.id }}&type=SED');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
                <td>{{sed.brief_description }}</td>
                <td><span id="sed_{{ sed.id }}_message" name="sed_{{ sed.id }}_message" class="messages"></span></td>
            </tr>
        {% endfor %}
    </table>
</div>