{% load staticfiles %}
<script type="text/javascript">
    $(document).ready(function(){
        {% for selected,is_favorite,subscribed,sed in generic_seds %}
            var count = $('#generic_seds').children().length;
            var tmplMarkup = $('#generic_sed-template').html();
            var compiledTmpl = _.template(tmplMarkup,
                    {
                        idx : count+1,
                        id: {{ sed.id }},
                        title: '{{ sed.title|escapejs }}',
                        sed_type: 'generic',
                        brief_description: '{{ sed.brief_description|escapejs }}',
                        is_favorite: {% if is_favorite %}true{% else %}false{% endif %},
                        selected: {% if selected %}true{% else %}false{% endif %},
                        title_str: '{{ sed|escapejs }}',
                        draft: {% if sed.draft %}true{% else %}false{% endif %},
                        collator_id: {{ sed.collator.id }},
                        collator: '{{ sed.get_collator_str|escapejs }}',
                        subscribed_to_user: {% if subscribed %}true{% else %}false{% endif %}
                    }
            );
            $('#generic_seds').append(compiledTmpl);
        {% endfor %}
    });

    function deleteGenericSED(id, idx)
    {
        if(confirm('This will delete this SED as well as all links to it from other entries. Do you really want to delete the current SED?'))
        {
            document.getElementById('deletingMsg').style.display = 'block';
            document.getElementById('deletingOver').style.display = 'block';
            var data={'csrfmiddlewaretoken': '{{ csrf_token }}', 'idx': idx};
            var args={type:"POST", url:"/bodb/sed/"+id+"/delete/", data: data, complete: doneDeleteGenericSED };
            $.ajax(args);
        }
        return false;
    }

    function doneDeleteGenericSED(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if(status=="success")
        {
            document.getElementById('generic_sed-'+data.idx).style.display='none';
        }
        document.getElementById('deletingMsg').style.display = 'none';
        document.getElementById('deletingOver').style.display = 'none';
    }
</script>
<div id="genericSEDData">
    <table class="tab_panel">
        <tr class="section_subheader">
            <td colspan=6>Generic SEDs (1-<span id="numGenericSEDResults" name="numGenericSEDResults">{{ generic_seds|length }}</span>)</td>
        </tr>
        {% if not ispopup %}
            {% if can_add_entry or can_remove_entry %}
                <tr class="col_header">
                    <td colspan=6>
                        Workspace Select: {% if can_add_entry %}<a href="../../" onclick="return toggleAllSEDSelect('Generic',true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../../" onclick="return toggleAllSEDSelect('Generic',false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            {% if delete_mode %}
                <td style="width:45px">&nbsp;</td>
            {% endif %}
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">
                <div id="generic_seds" name="generic_seds">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="generic_sed-template">
    <div id="generic_sed-<%= idx %>" name="generic_sed">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td align=center style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup and multiple %}
                            <a href="../../" onclick="{% ifequal type 'build' %}return opener.addBuildSEDMultiple('', '', '', <%= id %>, ['<%= _.escape(title) %>', '<%= _.escape(brief_description) %>', '<%= _.escape(sed_type) %>']);{% else %}return opener.addTestSEDMultiple('', '', '', <%= id %>, ['<%= _.escape(title) %>', '<%= _.escape(brief_description) %>', '<%= _.escape(sed_type) %>'], '', []);{% endifequal %}">Select</a>
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite(<%= id %>,'favIcon-<%= id %>','{{ csrf_token }}');">
                                <img id="favIcon-<%= id %>" name="favIcon-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                            </a>
                            <input type=checkbox class="selectedGenericSEDCheckbox" name="selectedSEDCheckbox_<%= id %>" id="selectedGenericSEDCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %> {% if not can_remove_entry %}disabled="True"{% endif %}<% } else { %>{% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleSEDSelect(this.value, '{{ csrf_token }}');"/>
                        {% endif %}
                    {% else %}
                        <input type=checkbox class="selectedGenericSEDCheckbox" name="selectedSEDCheckbox_<%= id %>" id="selectedGenericSEDCheckbox_<%= id %>" value="<%= id %>" style="display:none"/>
                    {% endif %}
                    <input type=hidden name="selectedSED" id="selectedSED_<%= id %>" value="<%= id %>"/>
                </td>
                {% if delete_mode %}
                    <td width=45px><a href="" onclick="return deleteGenericSED(<%= id %>, <%= idx %>);">Delete</a></td>
                {% endif %}
                <td width=200px>
                    <a href="/bodb/sed/<%= id %>/" onclick="return openInNewTab('/bodb/sed/<%= id %>/');"><%= _.escape(title_str) %></a>
                    <% if(draft){ %><span style="color: red;">&lt;draft&gt;</span><% } %>
                </td>
                <td width=200px><a href="/bodb/user/<%= collator_id %>/"><%= _.escape(collator) %></a> {% if user.is_authenticated and not user.is_anonymous %}<% if(collator_id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= collator_id %>&type=SED');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}</td>
                <td><%= _.escape(brief_description) %></td>
                <td width=100px><span id="sed_<%= id %>_message" name="sed_<%= id %>_message" class="messages"></span></td>
            </tr>
        </table>
    </div>
</script>