{% load staticfiles %}
<div id="genericSEDData">
    <table class="tab_panel">
        <tr class="section_subheader">
            <td colspan=6>Generic SEDs (1-<span id="numGenericSEDResults" name="numGenericSEDResults">{{ generic_seds|length }}</span>)</td>
        </tr>
        {% if not ispopup %}
            {% if can_add_entry or can_remove_entry %}
                <tr class="col_header">
                    <td colspan=6>
                        Workspace Select: {% if can_add_entry %}<a href="../../" onclick="return toggleAllSEDSelect('Generic',true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../../" onclick="return toggleAllSEDSelect('Generic',false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">
                <div id="generic_seds" name="generic_seds">
                    {% for selected,is_favorite,subscribed,sed in generic_seds %}
                        <div id="generic_sed-{{ forloop.counter0 }}" name="generic_sed">
                            <table class="tab_panel">
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=25px>{{ forloop.counter }}</td>
                                    <td align=center style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                                        {% if user.is_authenticated and not user.is_anonymous  %}
                                            {% if ispopup and multiple %}
                                                <a href="../../" onclick="return opener.addSEDMultiple('{{ type }}', {{ sed.id }}, ['{{ sed.title|escapejs }}', '{{ sed.brief_description|escapejs }}', '{{ sed.type }}']);">Select</a>
                                            {% else %}
                                                <a id="favLink" href="" onclick="return toggleFavorite({{ sed.id }},'favIcon-{{ sed.id }}','{{ csrf_token }}');">
                                                    <img id="favIcon-{{ sed.id }}" name="favIcon-{{ sed.id }}" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
                                                </a>
                                                <input type=checkbox class="selectedGenericSEDCheckbox" name="selectedSEDCheckbox_{{ sed.id }}" id="selectedGenericSEDCheckbox_{{ sed.id }}" value="{{ sed.id }}" {% if selected %}checked=True{% endif %} {% if selected and not can_remove_entry or not selected and not can_add_entry %}disabled="True"{% endif %} onclick="toggleSEDSelect(this.value, '{{ csrf_token }}');"/>
                                                <input type=hidden name="selectedSED" id="selectedSED_{{ sed.id }}" value="{{ sed.id }}"/>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td width=200px>
                                        <a href="/bodb/sed/{{ sed.id }}/" onclick="return openInNewTab('/bodb/sed/{{ sed.id }}/');">{{ sed }}</a>
                                        {% if sed.draft %}<span style="color: red;">&lt;draft&gt;</span>{% endif %}
                                    </td>
                                    <td width=200px><a href="/bodb/user/{{ sed.collator.id }}/">{{ sed.get_collator_str }}</a> {% if not sed.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ sed.collator.id }}&type=SED');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
                                    <td>{{sed.brief_description }}</td>
                                    <td width=100px><span id="sed_{{ sed.id }}_message" name="sed_{{ sed.id }}_message" class="messages"></span></td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="generic_sed-template">
    <div id="generic_sed-<%= idx %>" name="generic_sed">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td align=center style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup and multiple %}
                            <a href="../../" onclick="return opener.addSEDMultiple('{{ type }}', <%= id %>, ['<%= title %>', '<%= brief_description %>', '<%= sed_type %>']);">Select</a>
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite(<%= id %>,'favIcon-<%= id %>','{{ csrf_token }}');">
                                <img id="favIcon-<%= id %>" name="favIcon-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                            </a>
                            <input type=checkbox class="selectedGenericSEDCheckbox" name="selectedSEDCheckbox_<%= id %>" id="selectedGenericSEDCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %> {% if not can_remove_entry %}disabled="True"{% endif %}<% } else { %>{% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleSEDSelect(this.value, '{{ csrf_token }}');"/>
                            <input type=hidden name="selectedSED" id="selectedSED_<%= id %>" value="<%= id %>"/>
                        {% endif %}
                    {% endif %}
                </td>
                <td width=200px>
                    <a href="/bodb/sed/<%= id %>/" onclick="return openInNewTab('/bodb/sed/<%= id %>/');"><%= title_str %></a>
                    <% if(draft){ %><span style="color: red;">&lt;draft&gt;</span><% } %>
                </td>
                <td width=200px><a href="/bodb/user/<%= collator_id %>/"><%= collator %></a> <% if(collator_id != {{ user.id }}){ %>{% if user.is_authenticated and not user.is_anonymous %}<% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= collator_id %>&type=SED');"><strong>Subscribe</strong></a><% } %>{% endif %}<% } %></td>
                <td><%= brief_description %></td>
                <td width=100px><span id="sed_<%= id %>_message" name="sed_<%= id %>_message" class="messages"></span></td>
            </tr>
        </table>
    </div>
</script>