{% load bodb_extras %}
<script type="text/javascript">
    function addFigureForm(id, file, title, caption){
        var count = $('#figures').children().length;
        var tmplMarkup = $('#figure-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, id: id, file: file, title: title, caption: caption });
        $('#figures').append(compiledTmpl);
        // update form count
        $('#id_figure-TOTAL_FORMS').attr('value', count+1);
        $('#id_figure-'+count+'-order').poshytip({
            className: 'tip-skyblue',
            content: 'The order in which the figure will be listed.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 5000
        });
        $('#id_figure-'+count+'-title').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a title for the figure',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 1000
        });
        $('#id_figure-'+count+'-caption').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a caption describing the figure.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -80,
            timeOnScreen: 1000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    $(document).ready(function(){
        {% for figure_form in figure_formset.forms %}
            {% if figure_form.instance.id %}
                addFigureForm({{ figure_form.instance.id }},'{{ figure_form.instance.figure.name|escapejs }}',
                        '{{ figure_form.instance.title|escapejs }}','{{ figure_form.instance.caption|escapejs }}');
            {% else %}
                addFigureForm('','{{ figure_form.initial|lookup:'figure'|escapejs }}',
                        '{{ figure_form.initial|lookup:'title'|escapejs }}',
                        '{{ figure_form.initial|lookup:'caption'|escapejs }}');
            {% endif %}
        {% endfor %}
    });
</script>
<div id="figureData" style="display:{% if showFigure %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr>
            <td colspan=5 class="table_header">
                <a href="#" class="add-figure" onclick="return addFigureForm('','','','');">Add new</a>
            </td>
        </tr>
        <tr class="col_header">
            <td style="width:60px">&nbsp;</td>
            <td style="width:100px">Order*</td>
            <td style="width:300px">File*</td>
            <td style="width:250px">Title*</td>
            <td>Caption*</td>
        </tr>
        <tr>
            <td colspan=5>
                {{ figure_formset.management_form }}
                <div class="myerrors">
                    {{ figure_formset.management_form.errors }}
                </div>
                <div id="figures">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="figure-template">
    <div id="figure-<%= idx %>" name="figure">
        <input type=hidden id="id_figure-<%= idx %>-DELETE" name="figure-<%= idx %>-DELETE"/>
        <input id="id_figure-<%= idx %>-id" name="figure-<%= idx %>-id" type="hidden" value="<%= id %>" />
        <input id="id_figure-<%= idx %>-document" name="figure-<%= idx %>-document" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>
                    <a href="" onclick="return deleteInlineForm('figure', <%= idx %>);">Delete</a>
                </td>
                <td style="width:100px">
                    <input id="id_figure-<%= idx %>-order" name="figure-<%= idx %>-order" size="3" type="text" value="<%= idx %>"/>
                </td>
                <td style="width:300">
                    <% if(file.length>0){ %><a href="/media/<%= file %>" target="_blank"><img src="/media/<%= file %>" width="200" alt="<%= file %>"><%= file %></a> <br />Change: <% } %><input id="id_figure-<%= idx %>-figure" name="figure-<%= idx %>-figure" type="file" /></p>
                </td>
                <td style="width:250px">
                    <input id="id_figure-<%= idx %>-title" maxlength="100" name="figure-<%= idx %>-title" type="text" value="<%= _.escape(title) %>"/>
                </td>
                <td>
                    <textarea cols="60" id="id_figure-<%= idx %>-caption" name="figure-<%= idx %>-caption" rows="10"><%= _.escape(caption) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="figure_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>