<script type="text/javascript">
    animatedcollapse.addDiv('modelData', 'fade=1');
    animatedcollapse.addDiv('bopData', 'fade=1');
    animatedcollapse.addDiv('sedData', 'fade=1');
    animatedcollapse.addDiv('ssrData', 'fade=1');
    animatedcollapse.addDiv('brainRegionData', 'fade=1');
    animatedcollapse.addDiv('literatureData', 'fade=1');
</script>

<table class="tab_panel">
    {% if models|length %}
        <tr>
            <td style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td>
                Models (1-{{ models|length }}) (<a href="javascript:animatedcollapse.toggle('modelData')"><span id="modelDataLabel">Hide</span></a>)
            </td>
        </tr>
        <tr>
            <td style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td>
                <div id="modelData" style="display:inline">
                    {% with delete_mode as delete_mode %}
                        {% include 'bodb/model/model_selection_list_view.html' %}
                    {% endwith %}
                </div>
            </td>
        </tr>
    {% endif %}
    {% if bops|length %}
        <tr>
            <td style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td>
                BOPs (1-{{ bops|length }}) (<a href="javascript:animatedcollapse.toggle('bopData')"><span id="bopDataLabel">Hide</span></a>)
            </td>
        </tr>
        <tr>
            <td style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td>
                <div id="bopData" style="display:inline">
                    {% with delete_mode as delete_mode %}
                        {% include 'bodb/bop/bop_selection_list_view.html' %}
                    {% endwith %}
                </div>
            </td>
        </tr>
    {% endif %}
    {% if generic_seds|length or connectivity_seds|length or imaging_seds|length or erp_seds|length or neurophysiology_seds|length %}
        <tr>
            <td style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td>
                SEDs (<a href="javascript:animatedcollapse.toggle('sedData')"><span id="sedDataLabel">Hide</span></a>)
            </td>
        </tr>
        <tr>
            <td style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td>
                <div id="sedData" style="display:inline;">
                    {% with delete_mode as delete_mode %}
                        {% include 'bodb/sed/sed_selection_list_view.html' %}
                    {% endwith %}
                </div>
            </td>
        </tr>
    {% endif %}
    {% if ssrs|length %}
        <tr>
            <td style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td>
                SSRs (1-{{ ssrs|length }}) (<a href="javascript:animatedcollapse.toggle('ssrData')"><span id="ssrDataLabel">Hide</span></a>)
            </td>
        </tr>
        <tr>
            <td style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td>
                <div id="ssrData" style="display:inline">
                    {% with delete_mode as delete_mode %}
                        {% include 'bodb/ssr/ssr_selection_list_view.html' %}
                    {% endwith %}
                </div>
            </td>
        </tr>
    {% endif %}
    {% if brain_regions|length %}
        <tr>
            <td style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td>
                Brain Regions (1-{{ brain_regions|length }}) (<a href="javascript:animatedcollapse.toggle('brainRegionData')"><span id="brainRegionDataLabel">Hide</span></a>)
            </td>
        </tr>
        <tr>
            <td style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td>
                <div id="brainRegionData" style="display:inline">
                    {% include 'bodb/brainRegion/brain_region_selection_list_view.html' %}
                </div>
            </td>
        </tr>
    {% endif %}
    {% if literatures|length %}
        <tr>
            <td style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td>
                Literature (1-{{ literatures|length }}) (<a href="javascript:animatedcollapse.toggle('literatureData')"><span id="literatureDataLabel">Hide</span></a>)
            </td>
        </tr>
        <tr>
            <td style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td>
                <div id="literatureData" style="display:inline">
                    {% include 'bodb/literature/reference_selection_list_view.html' %}
                </div>
            </td>
        </tr>
    {% endif %}
</table>