{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB</title>
    <link rel="stylesheet" href="{% static 'bodb/css/joyride-2.1.css' %}">
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/modernizr.mq.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.joyride-2.1.js' %}"></script>
    <script>
        var index_page_tour_seen = function(index){
            if (index == $('#joyRideTipContent li').length - 1)
            {
                $.cookie('index_page_tour_seen', 'TRUE', {expires: 365});
                {% if user.is_authenticated and not user.is_anonymous %}
                    window.location = '/bodb/insert/?show_tour=1';
                {% else %}
                    $.cookie('insert_page_tour_seen', 'TRUE', {expires: 365, path: '/bodb'});
                    window.location = '/bodb/search/?show_tour=1';
                {% endif %}
            }
        };

        function startTour() {
            $('#joyRideTipContent').joyride({
                autoStart : true,
                postRideCallback: index_page_tour_seen
            });
            return false;
        }
    </script>
{% endblock %}
{% block content %}
    <div id="rightsidebar">
        <h2><a href="/bodb/feeds/latestModels/"><img border=0 src="{% static 'bodb/images/badge_rss.png' %}"/></a> Recently Added Models</h2>
        <ul>
            {% for item in models %}
                <li><a href='/bodb/model/{{ item.id }}/'>{{ item }}</a></li>
            {% endfor %}
        </ul>
        <h2><a href="/bodb/feeds/latestBOPs/"><img border=0 src="{% static 'bodb/images/badge_rss.png' %}"/></a> Recently Added Brain Operating Principles</h2>
        <ul>
            {% for item in bops %}
                <li><a href='/bodb/bop/{{ item.id }}/'>{{ item }}</a></li>
            {% endfor %}
        </ul>
        <h2><a href="/bodb/feeds/latestSEDs/"><img border=0 src="{% static 'bodb/images/badge_rss.png' %}"/></a> Recently Added Summaries of Experimental Data</h2>
        <ul>
            {% for item in seds %}
                <li><a href='/bodb/sed/{{ item.id }}/'>{{ item }}</a></li>
            {% endfor %}
        </ul>
        <h2><a href="/bodb/feeds/latestSSRs/"><img border=0 src="{% static 'bodb/images/badge_rss.png' %}"/></a> Recently Added Summaries of Simulation Results</h2>
        <ul>
            {% for item in ssrs %}
                <li><a href='/bodb/ssr/{{ item.id }}/'>{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="section">
        <div style="width:75%" align="justify">
            <div style="font-size: 16pt;margin-left: 40px;margin-right: 40px;">
                <br>
                Welcome to the Brain Operation Database System (BODB "Beau-D-B"), an environment for documenting how a model
                for cognitive or systems neuroscience is linked to relevant Brain Operating Principles (BOPs),
                brain regions modeled, Summaries of the Experimental Data (SEDs) used to design the model, and comparisons between
                Summaries of Simulation Results (SSRs) and SEDs used to test the model.
            </div>

            <div style="font-size: 18pt;margin-left: 40px;margin-right: 40px;margin-top:80px;text-align: center;">
                <strong>New to BODB? Take the <a href="" onclick="return startTour()">tour!</a></strong>
            </div>

            <div style="margin-top: 60px;">
            BODB is designed as a development environment for computational and experimental neuroscientists, and we welcome
            active data entry as well as feedback on system design.
            </div>
            <br><br>
            For more detailed documentation on all of BODB's features, please see the <a href="http://neuroinformatics.usc.edu/resources/brain-operation-database-bodb/">BODB Manual</a>.
            <br><br><br>
            <hr width="100%">
            <strong>Usage Statistics</strong>
            <table border="0" cellspacing="10">
                <thead>
                <th>&nbsp;</th>
                <th>Model</th>
                <th>BOP</th>
                <th>SED</th>
                <th>SSR</th>
                </thead>
                <tbody>
                <tr>
                    <td>Total entries</td>
                    <td>{{ model_count }}</td>
                    <td>{{ bop_count }}</td>
                    <td>{{ sed_count }}</td>
                    <td>{{ ssr_count }}</td>
                </tr>
                <tr>
                    <td>Last entered</td>
                    <td>{{ model_date }}</td>
                    <td>{{ bop_date }}</td>
                    <td>{{ sed_date }}</td>
                    <td>{{ ssr_date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Tip Content -->
    <ol id="joyRideTipContent">
        <li data-id="navbar" data-text="Next">
            <h2>Navigation bar</h2>
            <p>Use the links here to navigate to different parts of BODB.</p>
        </li>
        <li data-id="help_link" data-button="Next" data-options="tipLocation:left">
            <h2>Help</h2>
            <p>Click here to view BODB's documentation and user manual.</p>
        </li>
        {% if user.is_authenticated and not user.is_anonymous %}
            <li data-id="myProfileLink" data-button="Next" data-options="tipLocation:left">
                <h2>Edit your profile</h2>
                <p>Update your contact preferences, manage subscriptions, and add an avatar image.</p>
            </li>
            <li data-id="regionRequestLink" data-button="Next" class="custom">
                <h2>Brain region requests</h2>
                <p>View your currently requested brain regions along with the status of each request.</p>
            </li>
            <li data-id="messagesLink" data-button="Next" data-options="tipLocation:right">
                <h2>Messaging</h2>
                <p>View your messages and send messages to other users.</p>
            </li>
        {% endif %}
    </ol>

{% endblock %}
