uscbp/settings.py
.idea
.project
.pydevproject
bodb/.idea
bodb/docs/_build
federation/cocomac/data/*.xml
federation/cocomac/data/bibData/*.xml
bodb/media/avatars/*
bodb/media/figures/*
bodb/media/export/*
*.pyc
bodb/static/bodb/jws/BrainSurfer/lib/.svn
bodb/static/bodb/jws/BrainSurfer/lib/*
bodb/static/bodb/jws/BrainSurfer/BrainSurfer.jar
