{% load staticfiles %}
<script type="text/javascript" src="{% static 'bodb/scripts/jquery.safeEnter.js' %}"></script>
<script type="text/javascript">
    animatedcollapse.addDiv('ssrAdvancedOptions', 'fade=1');

    function ssrJumpPage(page)
    {
        document.getElementById('id_ssr_page').value=page;
        submitSearchSSRs();
    }
    
    function submitSearchSSRs()
    {
        document.getElementById('searchingMsg').style.display = 'block';
        document.getElementById('searchingOver').style.display = 'block';
        var frm = $('#ssr_search_form');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: processSSRResults,
            error: function(data) {
                alert("Something went wrong!");
            }
        });
    }

    $( document ).ready(function() {
        $('input[type="text"]', $('#ssr_search_form')).each(function()
        {
            $(this)
                    .listenForEnter()
                    .bind('pressedEnter', function()
                    {
                        submitSearchSSRs();
                    });
        });
    });
</script>
<div id="ssrDiv" style="display:{%ifequal searchType 'ssrs'%}block{% else %}none{% endifequal %}">
    <form id="ssr_search_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" id="searchType" name="searchType" value="ssrs"/>
        <table class="tab_panel">
            <tr>
                <td colspan=8><strong>Any field:</strong>&nbsp;{{ ssr_search_form.keywords }}&nbsp;
                    <strong>Phrase combination:</strong>&nbsp;{{ ssr_search_form.keywords_options }}
                </td>
            </tr>
            <tr>
                <td colspan=8 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b></span>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=8>
                    Advanced Options (<a href="javascript:animatedcollapse.toggle('ssrAdvancedOptions')"><span id="ssrAdvancedOptionsLabel">Show</span></a>)
                </td>
            </tr>
            <tr>
                <td colspan=8 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
                </td>
            </tr>
            <tr class="section_body">
                <td colspan=8 style="padding:0px">
                    <div id="ssrAdvancedOptions" style="display:none">
                        <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
                        <table class="tab_panel" style="background:#e6e8ed;">
                            <tr>
                                <td width=20%><strong>Title</strong></td>
                                <td>{{ ssr_search_form.title }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ ssr_search_form.title_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td>{{ ssr_search_form.description }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ ssr_search_form.description_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Narrative</strong></td>
                                <td>{{ ssr_search_form.narrative }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ ssr_search_form.narrative_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Tags</strong>
                                </td>
                                <td>{{ ssr_search_form.tags }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ ssr_search_form.tags_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Public</strong></td>
                                <td>{{ ssr_search_form.public }}</td>
                            </tr>
                            <tr>
                                <td><strong>Created</strong></td>
                                <td>{{ ssr_search_form.created_from }} - {{ ssr_search_form.created_to }}</td>
                            </tr>
                            <tr class="col_header">
                                <td colspan=2>Collator</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Username</strong>
                                </td>
                                <td>
                                    {{ ssr_search_form.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>First name</strong>
                                </td>
                                <td>
                                    {{ ssr_search_form.first_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Last name</strong>
                                </td>
                                <td>
                                    {{ ssr_search_form.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Only my entries</strong>
                                </td>
                                <td>{{ ssr_search_form.collator }}</td>
                            </tr>
                        </table>
                        <b class="d4f"></b><b class="d3f"></b><b class="d2f"></b><b class="d1f"></b>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=8>
                    <strong>Search criteria combination:</strong> {{ ssr_search_form.search_options }}
                    <br><strong>Results per page:</strong> {{ ssr_search_form.results_per_page }}
                    <br><input class="btn" type="button" value="Search" onclick="submitSearchSSRs();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_ssr_page" name="ssr_page" value="1"/>
    </form>
    <div id="ssr_section" name="ssr_section" style="display:{% if ssrs %}block{% else %}none{% endif %}">
        <table class="tab_panel">
            <tr>
                <td colspan=8>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=8 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=8>Results (<span id="ssrResultStartIndex" name="ssrResultStartIndex">1</span>-<span id="ssrResultEndIndex" name="ssrResultEndIndex">1</span> of <span id="numSSRResults" name="numSSRResults">{{ ssrs|length }}</span>)</td>
            </tr>
            <tr>
                <td colspan="8">
                    <div id="ssrData" style="display: block;">
                        {% include 'bodb/ssr/ssr_selection_list_view.html' %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div id="ssrs_previous"><a href="" onclick="ssrJumpPage()">previous</a></div> Page <span id="ssr_current_page">1</span> of <span id="ssr_total_pages">1</span> <div id="ssrs_next"><a href="" onclick="ssrJumpPage()">next</a></div>
                </td>
            </tr>
            <tr>
                <td colspan=8 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
                </td>
            </tr>
        </table>
    </div>
</div>