{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - Search</title>
    <script type="text/javascript" src="{% static 'bodb/scripts/multipleSelectFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/searchFunctions.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bodb/css/joyride-2.1.css' %}">
    {% if showTour %}
        <script type="text/javascript" src="{% static 'bodb/scripts/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'bodb/scripts/modernizr.mq.js' %}"></script>
        <script type="text/javascript" src="{% static 'bodb/scripts/jquery.joyride-2.1.js' %}"></script>
        <script type="text/javascript">
            var search_page_tour_seen = function(index){
                $.cookie('search_page_tour_seen', 'TRUE', {expires: 365, path: '/bodb'});
                {% if user.is_authenticated and not user.is_anonymous %}
                    window.location = '/bodb/workspace/active/?show_tour=1';;
                {% else %}
                    $.cookie('workspace_page_tour_seen', 'TRUE', {expires: 365, path: '/bodb'});
                    window.location = '/bodb/';
                {% endif %}
            };

            $(window).load(function() {
                if( $.cookie('insert_page_tour_seen') == 'TRUE'){
                    $('#joyRideTipContent').joyride({
                        autoStart : true,
                        postRideCallback: search_page_tour_seen,
                        preStepCallback : function (index, tip) {
                            if (index==1) {
                                switchTab('all',['literature','bop','model','sed','ssr','brainRegion','user']);
                            }
                            else if (index==2) {
                                switchTab('model',['all','literature','bop','sed','ssr','brainRegion','user']);
                            }
                            else if (index == 3) {
                                switchTab('sed',['all','literature','bop','model','ssr','brainRegion','user']);
                            }
                            else if (index == 4) {
                                animatedcollapse.toggle('sedAdvancedOptions')
                            }
                            else if (index == 5) {
                                document.getElementById('id_sed-type').value='connectivity';
                                updateSEDSearchOptions('connectivity');
                            }
                            else if (index == 6) {
                                document.getElementById('id_sed-connection_region_nomenclature').value='LMGM';
                                submitSearchSEDs();
                                setTimeout(waitFunc,100);
                            }
                        }
                    });
                }
            });

            function waitFunc()
            {
                $('.joyride-tip-guide')[6].style.display='none';
                if(!searchFinished)
                {
                    setTimeout(waitFunc,100);
                }
                else
                {
                    generateConnDiagram(getsedConnectivitySEDDiagramConnectivitySEDIds(),document.getElementById('sedConnectivitySEDDiagramGraphtool').value,'sedConnectivitySEDDiagram','{{ csrf_token }}');
                    $('.joyride-tip-guide')[6].style.display='block';
                    $('html, body').animate({
                        scrollTop: $("#{{ sedConnectionGraphId }}Link").offset().top
                    }, 1500);
                }
            }
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="list">
        <h2>Search {{ searchLabel }}</h2>
        <table class="tab_panel">
            {% if showTabs %}
                <tr>
                    <td style="padding:0px">
                        <span id="allHeader">
                            {%ifequal searchType 'all'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    <td style="padding:0px">
                        <span id="literatureHeader">
                            {%ifequal searchType 'literature'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    <td style="padding:0px">
                        <span id="bopHeader">
                            {%ifequal searchType 'bops'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    <td style="padding:0px">
                        <span id="modelHeader">
                            {%ifequal searchType 'models'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    <td style="padding:0px">
                        <span id="sedHeader">
                            {%ifequal searchType 'seds'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    <td style="padding:0px">
                        <span id="ssrHeader">
                            {%ifequal searchType 'ssrs'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    <td style="padding:0px">
                        <span id="brainRegionHeader">
                            {%ifequal searchType 'brain_regions'%}
                                <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                            {%endifequal%}
                        </span>
                    </td>
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        <td style="padding:0px">
                            <span id="userHeader">
                                {%ifequal searchType 'users'%}
                                    <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                                {%endifequal%}
                            </span>
                        </td>
                    {% endif %}
                    <td style="padding:0px">
                    </td>
                </tr>
                <tr class="tab_header">
                    <td id="allTab" width=100 class="{%ifequal searchType 'all'%}selectedTab{% else %}unselectedTab{% endifequal %}"  onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="switchTab('all',['literature','bop','model','sed','ssr','brainRegion','user']);"><a>All</a></td>
                    <td id="literatureTab" width=100 class="{%ifequal searchType 'literature'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="switchTab('literature',['all','bop','model','sed','ssr','brainRegion','user']);"><a>Literature</a></td>
                    <td id="bopTab" width=100 class="{%ifequal searchType 'bops'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="switchTab('bop',['all','literature','model','sed','ssr','brainRegion','user']);"><a>BOPs</a></td>
                    <td id="modelTab" width=100 class="{%ifequal searchType 'models'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="return switchTab('model',['all','literature','bop','sed','ssr','brainRegion','user']);"><a>Models</a></td>
                    <td id="sedTab" width=250 class="{%ifequal searchType 'seds'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="return switchTab('sed',['all','literature','bop','model','ssr','brainRegion','user']);"><a>Summary of Experimental Data</a></td>
                    <td id="ssrTab" width=250 class="{%ifequal searchType 'ssrs'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="return switchTab('ssr',['all','literature','bop','model','sed','brainRegion','user']);"><a>Summary of Simulation Results</a></td>
                    <td id="brainRegionTab" width=125 class="{%ifequal searchType 'brain_regions'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="return switchTab('brainRegion',['all','literature','bop','model','sed','ssr','user']);"><a>Brain Regions</a></td>
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        <td id="userTab" width=100 class="{%ifequal searchType 'users'%}selectedTab{% else %}unselectedTab{% endifequal %}" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onclick="return switchTab('user',['all','literature','bop','model','sed','ssr','brainRegion']);"><a>Users</a></td>
                    {% endif %}
                    <td class="unselectedTab">&nbsp;</td>
                </tr>
                <tr style="background:#0d3f74"><td colspan=9>&nbsp;</td></tr>
            {% endif %}
            <tr>
                <td {% if showTabs %}colspan=9{% endif %}>
                    {% with allConnectionGraphId as connectionGraphId %}
                        {% with allErpGraphId as erpGraphId %}
                            {% with allBopGraphId as bopGraphId %}
                                {% with allModelGraphId as modelGraphId %}
                                    {% include "bodb/search/search_all.html" %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                    {% include "bodb/search/search_literature.html" %}
                    {% with bopBOPGraphId as bopGraphId %}
                        {% include "bodb/search/search_bops.html" %}
                    {% endwith %}
                    {% with modelModelGraphId as modelGraphId %}
                        {% include "bodb/search/search_models.html" %}
                    {% endwith %}
                    {% with sedConnectionGraphId as connectionGraphId %}
                        {% with sedErpGraphId as erpGraphId %}
                            {% include "bodb/search/search_seds.html" %}
                        {% endwith %}
                    {% endwith %}
                    {% include "bodb/search/search_ssrs.html" %}
                    {% include "bodb/search/search_brain_regions.html" %}
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% include "bodb/search/search_users.html" %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <ol id="joyRideTipContent">
        <li data-id="search_link" data-text="Next" class="custom">
            <h2>Search</h2>
            <p>Search existing BODB entries.</p>
        </li>
        <li data-id="allTab" data-button="Next" data-options="tipLocation:top">
            <h2>Search All</h2>
            <p>Search all types of entries.</p>
        </li>
        <li data-id="modelTab" data-button="Next" data-options="tipLocation:top">
            <h2>Search Models</h2>
            <p>Click on a tab to search entries of a particular type like models.</p>
        </li>
        <li data-id="sedTab" data-button="Next" data-options="tipLocation:bottom">
            <h2>Search SEDs</h2>
            <p>SEDs can be searched within BODB and on federated databases.</p>
        </li>
        <li data-id="sedAdvancedOptionsLabel" data-button="Next" data-options="tipLocation:top">
            <h2>Advanced Options</h2>
            <p>Click the Show link next to Advanced Options to view other fields an entry type can be searched by.</p>
        </li>
        <li data-id="id_sed-type" data-button="Next" data-options="tipLocation:top">
            <h2>Type-specific fields</h2>
            <p>Change the SED type to search by fields specific to a certain type experimental data.</p>
        </li>
        <li data-id="{{ sedConnectionGraphId }}Link" data-button="Next" data-options="tipLocation:bottom">
            <h2>Connectivity diagrams</h2>
            <p>Generate connectivity diagrams from lists of connectivity SEDs. Click on brain region nodes to navigate to the brain region view page. Click on edges to navigate to connectivity SED view pages.</p>
        </li>
    </ol>
{% endblock %}
