{% load staticfiles %}
<script type="text/javascript" src="{% static 'bodb/scripts/jquery.safeEnter.js' %}"></script>
<script type="text/javascript">
    function updateSEDSearchOptions(sedType)
    {
        if(sedType=='brain imaging')
            animatedcollapse.show(['sedImagingTypeOptions']);
        else
            animatedcollapse.hide(['sedImagingTypeOptions']);
        if(sedType=='connectivity')
            animatedcollapse.show(['sedConnectivityTypeOptions']);
        else
            animatedcollapse.hide(['sedConnectivityTypeOptions']);
        if(sedType=='neurophysiology')
            animatedcollapse.show(['sedNeurophysiologyTypeOptions']);
        else
            animatedcollapse.hide(['sedNeurophysiologyTypeOptions']);
        if(sedType=='event related potential')
            animatedcollapse.show(['sedERPTypeOptions']);
        else
            animatedcollapse.hide(['sedERPTypeOptions']);
    }

    var searchFinished=false;

    var imagingSEDSortOrderBy='title';
    var imagingSEDSortDirection='ascending';
    var connectivitySEDSortOrderBy='title';
    var connectivitySEDSortDirection='ascending'
    var neurophysiologySEDSortOrderBy='title';
    var neurophysiologySEDSortDirection='ascending'
    var erpSEDSortOrderBy='title';
    var erpSEDSortDirection='ascending'
    var genericSEDSortOrderBy='title';
    var genericSEDSortDirection='ascending'


    function submitSearchSEDs()
    {
        searchFinished=false;
        document.getElementById('searchingMsg').style.display = 'block';
        document.getElementById('searchingOver').style.display = 'block';
        var frm = $('#sed_search_form');
        var data=frm.serialize()+'&generic_sed_order_by='+genericSEDSortOrderBy+'&generic_sed_direction='+genericSEDSortDirection+'&imaging_sed_order_by='+imagingSEDSortOrderBy+'&imaging_sed_direction='+imagingSEDSortDirection+'&connectivity_sed_order_by='+connectivitySEDSortOrderBy+'&connectivity_sed_direction='+connectivitySEDSortDirection+'&neurophysiology_sed_order_by='+neurophysiologySEDSortOrderBy+'&neurophysiology_sed_direction='+neurophysiologySEDSortDirection+'&erp_sed_order_by='+erpSEDSortOrderBy+'&erp_sed_direction='+erpSEDSortDirection+'&up_image='+addslashes('{% static 'bodb/images/up.png' %}')+'&down_image='+addslashes('{% static 'bodb/images/down.png' %}');
        $.ajax({
            aysnc: false,
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: data,
            success: sedSearchFinished,
            error: function(data) {
                alert("Something went wrong!");
            }
        });
    }

    function sedSearchFinished(data)
    {
        processSEDResults(data);
        load{{ erpGraphId }}Popups();
        searchFinished=true;
    }

    function sortImagingSEDs(order_by, direction, up_image, down_image)
    {
        imagingSEDSortOrderBy=order_by;
        imagingSEDSortDirection=direction;
        submitSearchSEDs();
        return false;
    }

    function sortConnectivitySEDs(order_by, direction, up_image, down_image)
    {
        connectivitySEDSortOrderBy=order_by;
        connectivitySEDSortDirection=direction;
        submitSearchSEDs();
        return false;
    }

    function sortNeurophysiologySEDs(order_by, direction, up_image, down_image)
    {
        neurophysiologySEDSortOrderBy=order_by;
        neurophysiologySEDSortDirection=direction;
        submitSearchSEDs();
        return false;
    }

    function sortERPSEDs(order_by, direction, up_image, down_image)
    {
        erpSEDSortOrderBy=order_by;
        erpSEDSortDirection=direction;
        submitSearchSEDs();
        return false;
    }

    function sortGenericSEDs(order_by, direction, up_image, down_image)
    {
        genericSEDSortOrderBy=order_by;
        genericSEDSortDirection=direction;
        submitSearchSEDs();
        return false;
    }

    animatedcollapse.addDiv('sedAdvancedOptions', 'fade=1');
    animatedcollapse.addDiv('sedImagingTypeOptions', 'fade=1');
    animatedcollapse.addDiv('sedConnectivityTypeOptions', 'fade=1');
    animatedcollapse.addDiv('sedNeurophysiologyTypeOptions', 'fade=1');
    animatedcollapse.addDiv('sedERPTypeOptions', 'fade=1');

    $( document ).ready(function() {
        document.getElementById('sedData').style.display='inline';
        searchFinished=true;
        $('input[type="text"]', $('#sed_search_form')).each(function()
        {
            $(this)
                    .listenForEnter()
                    .bind('pressedEnter', function()
                    {
                        submitSearchSEDs();
                    });
        });
    });
</script>
<div id="sedDiv" style="display:{%ifequal searchType 'seds'%}block{% else %}none{% endifequal %}">
    <form id="sed_search_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" id="searchType" name="searchType" value="seds"/>
        <table class="tab_panel">
            <tr>
                <td colspan=10><strong>Any field:</strong>&nbsp;{{ sed_search_form.keywords }}&nbsp;
                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.keywords_options }}
                </td>
            </tr>
            <tr>
                <td colspan=10 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b></span>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=10>
                    Advanced Options (<a href="javascript:animatedcollapse.toggle('sedAdvancedOptions')"><span id="sedAdvancedOptionsLabel">Show</span></a>)
                </td>
            </tr>
            <tr>
                <td colspan=10 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
                </td>
            </tr>
            <tr class="section_body">
                <td colspan=10 style="padding:0px">
                    <div id="sedAdvancedOptions" style="display:none">
                        <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
                        <table class="tab_panel" style="background:#e6e8ed;">
                            <tr>
                                <td width=20%><strong>Title</strong></td>
                                <td>{{ sed_search_form.title }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.title_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td>{{ sed_search_form.description }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.description_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Narrative</strong></td>
                                <td>{{ sed_search_form.narrative }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.narrative_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Tags</strong>
                                </td>
                                <td>{{ sed_search_form.tags }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.tags_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Type</strong></td>
                                <td>{{ sed_search_form.type }}</td>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <div id="sedImagingTypeOptions" style="display:{% if sed_search_form.type.value == 'brain imaging' %}inline{% else %}none{% endif %}">
                                        <table class="tab_panel">
                                            <tr>
                                                <td width=20%><strong>Control Condition</strong></td>
                                                <td>{{ sed_search_form.control_condition }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.control_condition_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Experimental Condition</strong></td>
                                                <td>{{ sed_search_form.experimental_condition }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.experimental_condition_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Method</strong></td>
                                                <td>{{ sed_search_form.method }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Coordinate Brain Region</strong></td>
                                                <td>{{ sed_search_form.coordinate_brain_region }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.coordinate_brain_region_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Coordinate Range</strong></td>
                                                <td>{{ sed_search_form.x_min }} &#8804; x &#8804; {{ sed_search_form.x_max }}, {{ sed_search_form.y_min }} &#8804; y &#8804; {{ sed_search_form.y_max }}, {{ sed_search_form.z_min }} &#8804; z &#8804; {{ sed_search_form.z_max }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="sedConnectivityTypeOptions" style="display:{% if sed_search_form.type.value == 'connectivity' %}inline{% else %}none{% endif %}">
                                        <table class="tab_panel">
                                            <tr>
                                                <td width="20%"><strong>Source Region</strong></td>
                                                <td>{{ sed_search_form.source_region }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.source_region_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Source Region Nomenclature</strong></td>
                                                <td>{{ sed_search_form.source_region_nomenclature }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.source_region_nomenclature_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Target Region</strong></td>
                                                <td>{{ sed_search_form.target_region }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.target_region_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Target Region Nomenclature</strong></td>
                                                <td>{{ sed_search_form.target_region_nomenclature }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.target_region_nomenclature_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Source or Target Region</strong></td>
                                                <td>{{ sed_search_form.connection_region }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.connection_region_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Source or Target Region Nomenclature</strong></td>
                                                <td>{{ sed_search_form.connection_region_nomenclature }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.connection_region_nomenclature_options }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="sedNeurophysiologyTypeOptions" style="display:{% if sed_search_form.type.value == 'neurophysiology' %}inline{% else %}none{% endif %}">
                                        <table class="tab_panel">
                                            <tr>
                                                <td width="20%"><strong>Region</strong></td>
                                                <td>{{ sed_search_form.recorded_region }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.recorded_region_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Region Nomenclature</strong></td>
                                                <td>{{ sed_search_form.recorded_region_nomenclature }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.recorded_region_nomenclature_options }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="sedERPTypeOptions" style="display:{% if sed_search_form.type.value == 'event related potential' %}inline{% else %}none{% endif %}">
                                        <table class="tab_panel">
                                            <tr>
                                                <td width=20%><strong>Cognitive Paradigm</strong></td>
                                                <td>{{ sed_search_form.cognitive_paradigm }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.cognitive_paradigm_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Sensory Modality</strong></td>
                                                <td>{{ sed_search_form.sensory_modality }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.sensory_modality_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Response Modality</strong></td>
                                                <td>{{ sed_search_form.response_modality }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.response_modality_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Control Condition</strong></td>
                                                <td>{{ sed_search_form.erp_control_condition }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.erp_control_condition_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Experimental Condition</strong></td>
                                                <td>{{ sed_search_form.erp_experimental_condition }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.erp_experimental_condition_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Component Name</strong></td>
                                                <td>{{ sed_search_form.erp_component_name }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.erp_component_name_options }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{{ sed_search_form.latency_peak_min }} &#8804; <strong>Peak Latency</strong> &#8804; {{ sed_search_form.latency_peak_max }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Peak Latency Type</strong></td>
                                                <td>{{ sed_search_form.latency_peak_type }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{{ sed_search_form.latency_onset_min }} &#8804; <strong>Peak Latency Onset</strong> &#8804; {{ sed_search_form.latency_onset_max }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{{ sed_search_form.amplitude_peak_min }} &#8804; <strong>Peak Amplitude</strong> &#8804; {{ sed_search_form.amplitude_peak_max }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{{ sed_search_form.amplitude_mean_min }} &#8804; <strong>Mean Amplitude</strong> &#8804; {{ sed_search_form.amplitude_mean_max }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Scalp Region</strong></td>
                                                <td>{{ sed_search_form.scalp_region }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.scalp_region_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Electrode Cap</strong></td>
                                                <td>{{ sed_search_form.electrode_cap }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.electrode_cap_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Electrode Name</strong></td>
                                                <td>{{ sed_search_form.electrode_name }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.electrode_name_options }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Source</strong></td>
                                                <td>{{ sed_search_form.source }}&nbsp;
                                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.source_options }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Public</strong></td>
                                <td>{{ sed_search_form.public }}</td>
                            </tr>
                            <tr>
                                <td><strong>Related Brain Regions</strong></td>
                                <td>{{ sed_search_form.related_brain_region }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.related_brain_region_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Created</strong></td>
                                <td>{{ sed_search_form.created_from }} - {{ sed_search_form.created_to }}</td>
                            </tr>
                            <tr class="col_header">
                                <td colspan=2>Collator</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Username</strong>
                                </td>
                                <td>
                                    {{ sed_search_form.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>First name</strong>
                                </td>
                                <td>
                                    {{ sed_search_form.first_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Last name</strong>
                                </td>
                                <td>
                                    {{ sed_search_form.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Only my entries</strong>
                                </td>
                                <td>{{ sed_search_form.collator }}</td>
                            </tr>
                            <tr class="col_header">
                                <td colspan=2>Related Literature</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Title</strong>
                                </td>
                                <td>{{ sed_search_form.related_literature_title }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.related_literature_title_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Author</strong>
                                </td>
                                <td>{{ sed_search_form.related_literature_author }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.related_literature_author_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Year</strong>
                                </td>
                                <td>{{ sed_search_form.related_literature_year_min }} - {{ sed_search_form.related_literature_year_max }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Annotation</strong>
                                </td>
                                <td>{{ sed_search_form.related_literature_annotation }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ sed_search_form.related_literature_annotation_options }}</td>
                            </tr>
                        </table>
                        <b class="d4f"></b><b class="d3f"></b><b class="d2f"></b><b class="d1f"></b>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=10>
                    <strong>Search criteria combination:</strong> {{ sed_search_form.search_options }}
                    <br>Search federated databases (warning this may drastically slow the search):
                    <br>CoCoMac {{ sed_search_form.search_cocomac }} Brede {{ sed_search_form.search_brede }}
                    <br><input class="btn" type="button" value="Search" onclick="submitSearchSEDs();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
                </td>
            </tr>
        </table>
    </form>
    <div id="sed_section" name="sed_section" style="display:{% if generic_seds or connectivity_seds or erp_seds or imaging_seds or neurophysiology_seds %}block{% else %}none{% endif %}">
        <table class="tab_panel">
            <tr>
                <td colspan=10>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=10 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=10>Results</td>
            </tr>
            <tr class="table_header">
                <td colspan=10>
                    <a href="/bodb/sed/generic/new/?type={{ type }}{% if ispopup %}&_popup=1{% endif %}{% if multiple %}&_multiple=1{% endif %}">Add new generic SED</a><br>
                    <a href="/bodb/sed/imaging/new/?type={{ type }}{% if ispopup %}&_popup=1{% endif %}{% if multiple %}&_multiple=1{% endif %}">Add new brain imaging SED</a><br>
                    <a href="/bodb/sed/erp/new/?type={{ type }}{% if ispopup %}&_popup=1{% endif %}{% if multiple %}&_multiple=1{% endif %}">Add new ERP SED</a><br>
                    <a href="/bodb/sed/connectivity/new/?type={{ type }}{% if ispopup %}&_popup=1{% endif %}{% if multiple %}&_multiple=1{% endif %}">Add new connectivity SED</a>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <div id="sedData" style="display:block;">
                        {% include "bodb/sed/sed_selection_list_view.html" %}
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan=10 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
                </td>
            </tr>
        </table>
    </div>
</div>