{% load staticfiles %}
<script type="text/javascript">
    animatedcollapse.addDiv('modelAdvancedOptions', 'fade=1');
</script>
<div id="modelDiv" style="display:{%ifequal searchType 'models'%}block{% else %}none{% endifequal %}">
    <form id="model_search_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" id="searchType" name="searchType" value="models"/>
        <table class="tab_panel">
            <tr>
                <td colspan=8><strong>Any field:</strong>&nbsp;{{ model_search_form.keywords }}&nbsp;
                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.keywords_options }}
                </td>
            </tr>
            <tr>
                <td colspan=8 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b></span>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=8>
                    Advanced Options (<a href="javascript:animatedcollapse.toggle('modelAdvancedOptions')"><span id="modelAdvancedOptionsLabel">Show</span></a>)
                </td>
            </tr>
            <tr>
                <td colspan=8 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
                </td>
            </tr>
            <tr class="section_body">
                <td colspan=8 style="padding:0px">
                    <div id="modelAdvancedOptions" style="display:none">
                        <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
                        <table class="tab_panel" style="background:#e6e8ed;">
                            <tr>
                                <td width=20%><strong>Title</strong></td>
                                <td>{{ model_search_form.title }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.title_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Author</strong></td>
                                <td>{{ model_search_form.author }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.author_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td>{{ model_search_form.description }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.description_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Narrative</strong></td>
                                <td>{{ model_search_form.narrative }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.narrative_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Tags</strong>
                                </td>
                                <td>{{ model_search_form.tags }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.tags_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Public</strong></td>
                                <td>{{ model_search_form.public }}</td>
                            </tr>
                            <tr>
                                <td><strong>Building SEDs</strong></td>
                                <td>{{ model_search_form.building_sed }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.building_sed_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Testing SEDs</strong></td>
                                <td>{{ model_search_form.testing_sed }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.testing_sed_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Predictions</strong></td>
                                <td>{{ model_search_form.prediction }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.prediction_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>SSRs</strong></td>
                                <td>{{ model_search_form.ssr }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.ssr_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Related Brain Regions</strong></td>
                                <td>{{ model_search_form.related_brain_region }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.related_brain_region_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Related BOPs</strong></td>
                                <td>{{ model_search_form.related_bop }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.related_bop_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Related Models</strong></td>
                                <td>{{ model_search_form.related_model }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.related_model_options }}</td>
                            </tr>
                            <tr>
                                <td><strong>Created</strong></td>
                                <td>{{ model_search_form.created_from }} - {{ model_search_form.created_to }}</td>
                            </tr>
                            <tr class="col_header">
                                <td colspan=2>Collator</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Username</strong>
                                </td>
                                <td>
                                    {{ model_search_form.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>First name</strong>
                                </td>
                                <td>
                                    {{ model_search_form.first_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Last name</strong>
                                </td>
                                <td>
                                    {{ model_search_form.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Only my entries</strong>
                                </td>
                                <td>{{ model_search_form.collator }}</td>
                            </tr>
                            <tr class="col_header">
                                <td colspan=2>Related Literature</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Title</strong>
                                </td>
                                <td>{{ model_search_form.related_literature_title }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.related_literature_title_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Author</strong>
                                </td>
                                <td>{{ model_search_form.related_literature_author }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.related_literature_author_options }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Year</strong>
                                </td>
                                <td>{{ model_search_form.related_literature_year_min }} - {{ model_search_form.related_literature_year_max }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Annotation</strong>
                                </td>
                                <td>{{ model_search_form.related_literature_annotation }}&nbsp;
                                    <strong>Phrase combination:</strong>&nbsp;{{ model_search_form.related_literature_annotation_options }}</td>
                            </tr>
                        </table>
                        <b class="d4f"></b><b class="d3f"></b><b class="d2f"></b><b class="d1f"></b></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=8>
                    <div class="myerrors">
                        {{ model_search_form.errors }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=8>
                    <strong>Search criteria combination:</strong> {{ model_search_form.search_options }}
                    <br><input class="btn" type="button" value="Search" onclick="document.getElementById('model_search_form').submit();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
                </td>
            </tr>
        </table>
    </form>
    <table class="tab_panel">
        <tr>
            <td colspan=8>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=8 style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b></span>
            </td>
        </tr>
        <tr class="section_header">
            <td colspan=8>Results{% if models|length %} (1-{{ models|length }}){% endif %}</td>
        </tr>
        <tr class="table_header">
            <td colspan=8>
                <a href="/bodb/model/new/{% if ispopup %}?_popup=1{% endif %}">Add new</a>
            </td>
        </tr>

        <tr>
            <td colspan="8">
                <div id="modelData" style="display:block">
                    {% include 'bodb/model/model_selection_list_view.html' %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan=8 style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
            </td>
        </tr>
    </table>
</div>