<div id="literatureDiv" style="display:{%ifequal searchType 'literature'%}block{% else %}none{% endifequal %}">
    <form id="literature_search_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" id="searchType" name="searchType" value="literature"/>
        <table class="tab_panel">
            <tr>
                <td colspan=5>
                    <strong>Any field:</strong>&nbsp;{{ literature_search_form.keywords }}
                </td>
            </tr>
            <tr>
                <td colspan=5 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b></span>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=5>
                    Advanced Options (<a href="javascript:animatedcollapse.toggle('literatureAdvancedOptions')"><span id="literatureAdvancedOptionsLabel">Show</span></a>)
                </td>
            </tr>
            <tr>
                <td colspan=5 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
                </td>
            </tr>
            <tr class="section_body">
                <td colspan=5 style="padding:0px">
                    <div id="literatureAdvancedOptions" style="display:none">
                        <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
                        <table class="tab_panel" style="background:#e6e8ed;">
                            <tr>
                                <td width=20%>
                                    <strong>Title</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.title }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Author</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.author }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Type</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.type }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Year</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.year_min }} - {{ literature_search_form.year_max }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Annotation</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.annotation }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Created</strong></td>
                                <td>{{ literature_search_form.created_from }} - {{ literature_search_form.created_to }}</td>
                            </tr>
                            <tr class="col_header">
                                <td colspan=2>Collator</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Username</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>First name</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.first_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Last name</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Only my entries</strong>
                                </td>
                                <td>
                                    {{ literature_search_form.collator }}
                                </td>
                            </tr>
                        </table>
                        <b class="d4f"></b><b class="d3f"></b><b class="d2f"></b><b class="d1f"></b>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=5>
                    <div class="myerrors">
                        {{ literature_search_form.errors }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=5>
                    <input class="btn" type="button" value="Search" onclick="document.getElementById('literature_search_form').submit();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
                </td>
            </tr>
            <tr>
                <td colspan=5>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=5 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b></span>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=5>Results</td>
            </tr>
            <tr class="table_header">
                <td colspan=5>
                    <a href="/bodb/literature/new/{% if ispopup %}?_popup=1{% endif %}">Add new</a>
                </td>
            </tr>
            <tr>
                <td style="padding:0px">
                    <div id="literatureResults" style="display:block">
                        {% include 'bodb/literature/reference_list_view.html' %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan=5 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b></span>
                </td>
            </tr>
        </table>
    </form>
    <form id="fileForm" action=""></form>
</div>