<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}
{% load guardian_tags %}
{% load taggit_extras %}
<head>
    <link rel="stylesheet" href="{% static 'bodb/css/style.css' %}" type="text/css" media="all" />
    <script src="http://java.com/js/deployJava.js"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery-1.10.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/animatedcollapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/commonFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.textarearesizer.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('textarea:not(.processed)').TextAreaResizer();
            animatedcollapse.init();
        });

        animatedcollapse.ontoggle=function($, divobj, state)
        {
            if(divobj!=null && document.getElementById(divobj.id+"Label")!=null)
            {
                if(divobj.id=="tagBar")
                {
                    document.getElementById("tagBarLabel").innerHTML=(state=="none")?"&gt;" : "&lt;";
                    document.getElementById('sidebar').style.width=(state=="none")?"10px" : "250px";
                    document.getElementById('content').style.marginLeft=(state=="none")?"15px" : "255px";
                    document.getElementById('controlCell').style.background=(state=="none")?"#c5cbd4" : "#ffffff";
                }
                else if(divobj.id.substr(0,9)=="expansion")
                    document.getElementById(divobj.id+"Label").innerHTML=(state=="block")?"Collapse" : "Expand";
                else
                    document.getElementById(divobj.id+"Label").innerHTML=(state=="block")?"Hide" : "Show";
            }
        }

        function createWebStartLink(jnlp, text, minimumVersion)
        {

            if (deployJava.returnPage == null) {
                // if there is an install, come back and run the jnlp file
                deployJava.returnPage = jnlp;
            }

            var url = 'javascript:' +
                    'if (!deployJava.isWebStartInstalled(&quot;' +
                    minimumVersion + '&quot;)) {' +
                    'if (deployJava.installLatestJRE()) {' +
                    'if (deployJava.launch(&quot;' + jnlp + '&quot;)) {}' +
                    '}' +
                    '} else {' +
                    'if (deployJava.launch(&quot;' + jnlp + '&quot;)) {}' +
                    '}';

            document.write('<' + 'a href="' + url +
                    '" onMouseOver="window.status=\'\'; ' +
                    'return true;">'+text+'<' + '/' + 'a' + '>');
        }

        function onLoad()
        {
            if(document.getElementById("tagBar").style.display=="none")
                document.getElementById('content').style.marginLeft='15px';
        }

        animatedcollapse.addDiv('tagBar', 'persist=1');
    </script>
    {% block extrahead %}{% endblock %}
</head>
<body {% if not ispopup %}class="tundra" onLoad="onLoad()"{% endif %}>
    <div id="toPopup">
        <div class="close"></div>
        <span id="ecs_tooltip" class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
        <div id="popup_content"></div>
    </div>
    <div class="loader"></div>
    <div id="backgroundPopup"></div>
    <div id='savingMsg' style='display: none;'>Saving, please wait...<img src="{% static 'bodb/images/loading.gif' %}"/></div>
    <div id='savingOver' style='display: none;'></div>
    {% if not ispopup %}
        <table style="width:100%" cellpadding=0 cellspacing=0>
            <tr>
                <td><h1><img height=55 src="{% static 'bodb/images/uscbp.png' %}"/> <a href="/bodb/">BODB</a></h1></td>
                <td align=left>
                    <div id="user_info">
                        {% if user.is_authenticated and not user.is_anonymous  %}
                            Hi, {{ user.username }} [<a href="/accounts/logout">Logout</a>, <a id="myProfileLink" href="/accounts/profile">My Profile</a>]&nbsp;{% if helpPage %}[<a id="help_link" href="" onclick="return openHelp('{{ helpPage }}');">Help</a>]&nbsp;{% endif %}
                            <br>[<a id="regionRequestLink" href="/bodb/brain_region/requests/">Brain Region Requests</a>]&nbsp;
                            [<a id="activeWorkspaceLink" href="/bodb/workspace/active/">Active Workspace: <span id="active_workspace_title">{{ user.get_profile.active_workspace.title }}</span></a>]
                        {% else %}
                            <a href="/accounts/login">Login</a> or <a href="/accounts/register">Register</a>
                            <br>{% if helpPage %}[<a id="help_link" href="" onclick="return openHelp('{{ helpPage }}');">Help</a>]&nbsp;{% endif %}
                        {% endif %}
                    </div>
                </td>
                <td width="110px" align=right valign="top">
                    {% if user.is_authenticated %}
                        <div id="user_img">
                            <a href="/bodb/messages/" style="display:inline; position: relative;bottom: 20px;left: 10px;"><img id="messagesLink" src="{% static "bodb/images/mail.png" %}"/><div style="display:inline; position: relative;left: -10px; bottom: 10px;font-weight: bold;font-size: 9px;{% if message_count %}color: red;{% endif %}">{{ message_count }}</div></a>
                            {% if user.get_profile.avatar %}
                                <img height=55 src="{{ user.get_profile.avatar.url }}"/>
                            {% else %}
                                <img height=55 src="{% static 'bodb/images/default_avatar.png' %}"/>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
        <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b>
        <div id="navbar">
            {% if user.is_authenticated and not user.is_anonymous  %}
                <li id="insert_link"><a href="/bodb/insert/">Insert</a></li>
            {% endif %}
            <li id="search_link"><a href="/bodb/search/">Search</a></li>
            <li id="vis_link"><script>createWebStartLink('/bodb/brainSurfer/','Visualization',1.6)</script></li>
            {% if user.is_authenticated and not user.is_anonymous  %}
                <li id="draft_link"><a href="/bodb/drafts/">Drafts</a></li>
                <li id="fav_link"><a href="/bodb/favorites/">Favorites</a></li>
                <li id="workspaces_link"><a href="/bodb/workspaces/">Workspaces</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="/bodb/admin/">Admin</a></li>
            {% endif %}
            <li><a href="/bodb/about/">About</a></li>
        </div>
        <b class="c4f"></b><b class="c3f"></b><b class="c2f"></b><b class="c1f"></b>
        <br>
        <div id="sidebar" style="width:250px">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div id="tagBar" style="display:inline;width:250px;">
                            <div style="background:#ffffff;border:0;">
                                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                            </div>
                            <h2>Model tag cloud</h2>
                            <div style="background:#e6e8ed;">
                                {% get_tagcloud as model_tags user for 'bodb.Model' %}
                                {% for tag in model_tags %}
                                    <a href="/bodb/model/tag/{{ tag }}/"><span style="font-size: {{ tag.weight|floatformat:0 }}px;">{{ tag }} ({{ tag.num_times }})</span></a>&nbsp;&nbsp;
                                {% endfor %}
                                <br><br>
                            </div>
                            <h2>Brain Operating Principle tag cloud</h2>
                            <div style="background:#e6e8ed;">
                                {% get_tagcloud as bop_tags user for 'bodb.BOP' %}
                                {% for tag in bop_tags %}
                                    <a href="/bodb/bop/tag/{{ tag }}/"><span style="font-size: {{ tag.weight|floatformat:0 }}px;">{{ tag }} ({{ tag.num_times }})</span></a>&nbsp;&nbsp;
                                {% endfor %}
                                <br><br>
                            </div>
                            <h2>Summary of Experimental Data tag cloud</h2>
                            <div style="background:#e6e8ed;">
                                {% get_tagcloud as sed_tags user for 'bodb.SED' %}
                                {% for tag in sed_tags %}
                                    <a href="/bodb/sed/tag/{{ tag }}/"><span style="font-size: {{ tag.weight|floatformat:0 }}px;">{{ tag }} ({{ tag.num_times }})</span></a>&nbsp;&nbsp;
                                {% endfor %}
                                <br><br>
                            </div>
                            <h2>Prediction tag cloud</h2>
                            <div style="background:#e6e8ed;">
                                {% get_tagcloud as prediction_tags user for 'bodb.Prediction' %}
                                {% for tag in prediction_tags %}
                                    <a href="/bodb/prediction/tag/{{ tag }}/"><span style="font-size: {{ tag.weight|floatformat:0 }}px;">{{ tag }} ({{ tag.num_times }})</span></a>&nbsp;&nbsp;
                                {% endfor %}
                                <br><br>
                            </div>
                            <h2>Summary of Simulation Results tag cloud</h2>
                            <div style="background:#e6e8ed;">
                                {% get_tagcloud as ssr_tags user for 'bodb.SSR' %}
                                {% for tag in ssr_tags %}
                                    <a href="/bodb/ssr/tag/{{ tag }}/"><span style="font-size: {{ tag.weight|floatformat:0 }}px;">{{ tag }} ({{ tag.num_times }})</span></a>&nbsp;&nbsp;
                                {% endfor %}
                                <br><br>
                            </div>
                            <div style="background:#ffffff;border:0">
                                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
                            </div>
                        </div>
                    </td>
                    <td id="controlCell" style="background:#ffffff;height: 450px">
                        <span id="controlSidebar">
                            <a href="javascript:animatedcollapse.toggle('tagBar')"><span id='tagBarLabel'>&lt;</span></a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    <div {% if not ispopup %}id="content"{% endif %}>
        {% block content%}{%endblock%}
    </div>
</body>
</html>

