{% load staticfiles %}
{% load bodb_extras %}
{% block extrahead %}
    <script type="text/javascript" src="{% static 'bodb/scripts/vis.min.js' %}"></script>
    <script type="text/javascript">

        var bops=[];
        {% for selected,is_favorite,subscribed,bop in bops %}
            bops.push({
                id: {{ bop.id }},
                title: '{{ bop.title|escapejs }}',
                brief_description: '{{ bop.brief_description|escapejs }}',
                is_favorite: {% if is_favorite %}true{% else %}false{% endif %},
                selected: {% if selected %}true{% else %}false{% endif %},
                title_str: '{{ bop|escapejs }}',
                draft: {% if bop.draft %}true{% else %}false{% endif %},
                collator_id: {{ bop.collator.id }},
                collator: '{{ bop.get_collator_str|escapejs }}',
                subscribed_to_user: {% if subscribed %}true{% else %}false{% endif %}
            });
        {% endfor %}
        
        $(document).ready(function()
        {
            addBOPs();
        });

        function addBOPs()
        {
            $('[name=bops]').each(function(index, element){
                var groupName=$(this).find('#groupName').attr('value');
                $(this).empty();
                $(this).html('<input type="hidden" id="groupName" value="'+groupName+'"/>');
                var tmplMarkup = $('#bop-template').html();
                for(var idx=0; idx<bops.length; idx++)
                {
                    bops[idx]['idx']=$(this).children().length;
                    var compiledTmpl = _.template(tmplMarkup, bops[idx]);
                    $(this).append(compiledTmpl);
                }
            });
        }

        var {{ bopGraphId }}nodes=[
            {% for selected,is_favorite,subscribed,bop in bops %}
                {id: {{ bop.id }}, label:'{{ bop }}', title:'{{ bop.brief_description|escapejs }}'},
            {% endfor %}
        ];

        var {{ bopGraphId }}edges=[
            {% for bop_rel in bop_relationships %}
                {from: {{ bop_rel|lookup:'from' }}, to: {{ bop_rel|lookup:'to' }},
                    label: '{{ bop_rel|lookup:'relationship' }}',
                    title: '{{ bop_rel|lookup:'relevance_narrative'|escapejs }}'},
            {% endfor %}
        ];

        function generateBOPDiagram(graphId, nodes, edges)
        {
            document.getElementById(graphId+'Msg').innerHTML="<div align='center' style='color:red;'>Generating diagram...</div>";

            var container=document.getElementById(graphId+'Div');

            var data= {
                nodes: nodes,
                edges: edges
            };

            var options = {
                width: '100%',
                height: '400px',
                edges: {
                    style: 'arrow'
                },
                nodes: {
                    color: {
                        border:'black',
                        background: 'white'
                    },
                    fontSize: 20
                },
                physics: {
                    barnesHut:{
                        springLength: 50,
                        gravitationalConstant: -2000,
                        springConstant: 0.001
                    }
                }
            };
            var network = new vis.Network(container, data, options);

            network.on('doubleClick',function(properties){
                if(properties.nodes.length>0)
                    document.location.href='/bodb/bop/'+properties.nodes[0]+'/';
            });

            document.getElementById(graphId+'Msg').innerHTML="Double-click on a node to view BOP details.";
            return false;
        }

        function deleteBOP(id, idx)
        {
            if(confirm('This will delete this BOP as well as all links to it from other entries. Do you really want to delete the current BOP?'))
            {
                document.getElementById('deletingMsg').style.display = 'block';
                document.getElementById('deletingOver').style.display = 'block';
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}', 'idx': idx};
                var args={type:"POST", url:"/bodb/bop/"+id+"/delete/", data: data, complete: doneDeleteBOP };
                $.ajax(args);
            }
            return false;
        }

        function doneDeleteBOP(res, status)
        {
            var txt = res.responseText;
            var data = eval('('+txt+')');
            if(status=="success")
            {
                document.getElementById('bop-'+data.idx).style.display='none';
            }
            document.getElementById('deletingMsg').style.display = 'none';
            document.getElementById('deletingOver').style.display = 'none';
        }
    </script>
{% endblock %}
<div id="bop_list" name="bop_list" style="display:{% if bops|length %}block{% else %}none{% endif %}">
    <table class="tab_panel">
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan={% if delete_mode %}7{% else %}6{% endif %}>
                    {% if can_add_entry or can_remove_entry %}
                        Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllBOPSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllBOPSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            {% if delete_mode %}
                <td style="width:45px">&nbsp;</td>
            {% endif %}
            <td width=200px><a id="id_bop_sort_title" href="" onclick="return sortBOPs('title',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Title <img id="id_bop_sort_title_dir" name="bop_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px"/></a></td>
            <td width=200px><a id="id_bop_sort_collator" href="" onclick="return sortBOPs('collator',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Collator <img id="id_bop_sort_collator_dir" name="bop_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td><a id="id_bop_sort_brief_description" href="" onclick="return sortBOPs('brief_description',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Description <img id="id_bop_sort_brief_description_dir" name="bop_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="{% if delete_mode %}7{% else %}6{% endif %}">
                <div id="bops" name="bops">
                    <input type="hidden" id="groupName" value="{{ bopGraphId }}"/>
                </div>
            </td>
        </tr>
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan="{% if delete_mode %}7{% else %}6{% endif %}">
                    <a href="" onclick="return generateBOPDiagram('{{ bopGraphId }}',{{ bopGraphId }}nodes, {{ bopGraphId }}edges);">Generate BOP Relationship Graph</a>
                </td>
            </tr>
            <tr class="col_header">
                <td colspan="{% if delete_mode %}7{% else %}6{% endif %}">
                    <div id="{{ bopGraphId }}Div" style="background: #ffffff;">
                    </div>
                </td>
            </tr>
            <tr class="col_header">
                <td colspan="{% if delete_mode %}7{% else %}6{% endif %}">
                    <span id="{{ bopGraphId }}Msg"></span>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

<script type="text/html" id="bop-template">
    <div id="bop-<%= idx %>" name="bop">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                    {% if user.is_authenticated and not user.is_anonymous %}
                        {% if ispopup %}
                            {% if multiple %}
                                <a href="../" onclick="opener.addBOPMultiple('', '', '', <%= id %>, ['<%= addslashes(title) %>', '<%= addslashes(brief_description) %>']);return false;">Select</a>
                            {% else %}
                                <a href="../" onclick="opener.selectSingleBOP(<%= id %>, '<%= addslashes(title) %>');self.close();">Select</a>
                            {% endif %}
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite(<%= id %>,'favIcon-<%= id %>','{{ csrf_token }}');">
                                <img id="favIcon-<%= id %>" name="favIcon-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                            </a>
                            <input type=checkbox name="selectedBOPCheckbox" class="selectedBOPCheckbox" id="selectedBOPCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %> {% if not can_remove_entry %}disabled="True"{% endif %}<% } else{ %> {% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleBOPSelect(this.value, '{{ csrf_token }}');"/>
                        {% endif %}
                    {% else %}
                        <input type=checkbox name="selectedBOPCheckbox" class="selectedBOPCheckbox" id="selectedBOPCheckbox_<%= id %>" value="<%= id %>" style="display:none"/>
                    {% endif %}
                </td>
                {% if delete_mode %}
                    <td width=45px><a href="" onclick="return deleteBOP(<%= id %>, <%= idx %>);">Delete</a></td>
                {% endif %}
                <td width=200px>
                    <a href="/bodb/bop/<%= id %>/" onclick="return openInNewTab('/bodb/bop/<%= id %>/');"><%= _.escape(title) %></a> <% if(draft){ %><span style="color: red;">&lt;draft&gt;</span><% } %>
                </td>
                <td width=200px><a href="/bodb/user/<%= collator_id %>/"><%= _.escape(collator) %></a> {% if user.is_authenticated and not user.is_anonymous %}<% if(collator_id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= collator_id %>&type=BOP');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}</td>
                <td><%= _.escape(brief_description) %></td>
                <td width=100px><span id="bop_<%= id %>_message" name="bop_<%= id %>_message" class="messages"></span></td>
            </tr>
        </table>
    </div>
</script>