{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'bodb/css/e-smart-zoom-style.css' %}" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'bodb/scripts/e-smart-zoom-jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.rwdImageMaps.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function()
        {
            $('#{{ bopGraphId }}topPositionMap,#{{ bopGraphId }}leftPositionMap,#{{ bopGraphId }}rightPositionMap,#{{ bopGraphId }}bottomPositionMap').bind("click", {{ bopGraphId }}moveButtonClickHandler);
            $('#{{ bopGraphId }}zoomInButton,#{{ bopGraphId }}zoomOutButton').bind("click", {{ bopGraphId }}zoomButtonClickHandler);


            function {{ bopGraphId }}zoomButtonClickHandler(e){
                var scaleToAdd = 0.8;
                if(e.target.id == '{{ bopGraphId }}zoomOutButton')
                    scaleToAdd = -scaleToAdd;
                $('#{{ bopGraphId }}').smartZoom('zoom', scaleToAdd);
            }

            function {{ bopGraphId }}moveButtonClickHandler(e){
                var pixelsToMoveOnX = 0;
                var pixelsToMoveOnY = 0;

                switch(e.target.id){
                    case "{{ bopGraphId }}leftPositionMap":
                        pixelsToMoveOnX = 50;
                        break;
                    case "{{ bopGraphId }}rightPositionMap":
                        pixelsToMoveOnX = -50;
                        break;
                    case "{{ bopGraphId }}topPositionMap":
                        pixelsToMoveOnY = 50;
                        break;
                    case "{{ bopGraphId }}bottomPositionMap":
                        pixelsToMoveOnY = -50;
                        break;
                }
                $('#{{ bopGraphId }}').smartZoom('pan', pixelsToMoveOnX, pixelsToMoveOnY);
            }
        });
    </script>
{% endblock %}
<div id="bop_list" name="bop_list" style="display:{% if bops|length %}block{% else %}none{% endif %}">
    <table class="tab_panel">
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan=6>
                    {% if can_add_entry or can_remove_entry %}
                        Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllBOPSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllBOPSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">
                <div id="bops" name="bops">
                    {% for selected,is_favorite,subscribed,bop in bops %}
                        <div id="bop-{{ forloop.counter0 }}" name="bop">
                            <table class="tab_panel">
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=25px>{{ forloop.counter }}</td>
                                    <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                                        {% if user.is_authenticated and not user.is_anonymous %}
                                            {% if ispopup %}
                                                {% if multiple %}
                                                    <a href="../" onclick="return opener.addBOPMultiple({{ bop.id }}, ['{{ bop.title|escapejs }}', '{{ bop.brief_description|escapejs }}']);">Select</a>
                                                {% else %}
                                                    <a href="../" onclick="opener.selectSingleBOP({{ bop.id }}, '{{ bop.title|escapejs }}');self.close();">Select</a>
                                                {% endif %}
                                            {% else %}
                                                <a id="favLink" href="" onclick="return toggleFavorite({{ bop.id }},'favIcon-{{ bop.id }}','{{ csrf_token }}');">
                                                    <img id="favIcon-{{ bop.id }}" name="favIcon-{{ bop.id }}" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
                                                </a>
                                                <input type=checkbox name="selectedBOPCheckbox" class="selectedBOPCheckbox" id="selectedBOPCheckbox_{{ bop.id }}" value="{{ bop.id }}" {% if selected %}checked=True{% endif %} {% if selected and not can_remove_entry or not selected and not can_add_entry %}disabled="True"{% endif %} onclick="toggleBOPSelect(this.value, '{{ csrf_token }}');"/>
                                            {% endif %}
                                        {% else %}
                                            <input type=checkbox name="selectedBOPCheckbox" class="selectedBOPCheckbox" id="selectedBOPCheckbox_{{ bop.id }}" value="{{ bop.id }}" style="display:none"/>
                                        {% endif %}
                                    </td>
                                    <td width=200px>
                                        <a href="/bodb/bop/{{ bop.id }}/" onclick="return openInNewTab('/bodb/bop/{{ bop.id }}/');">{{ bop.title }}</a>
                                        {% if bop.draft %}<span style="color: red;">&lt;draft&gt;</span>{% endif %}
                                    </td>
                                    <td width=200px><a href="/bodb/user/{{ bop.collator.id }}/">{{ bop.get_collator_str }}</a> {% if not bop.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ bop.collator.id }}&type=BOP');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
                                    <td>{{bop.brief_description }}</td>
                                    <td width=100px><span id="bop_{{ bop.id }}_message" name="bop_{{ bop.id }}_message" class="messages"></span></td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan="6">
                    Graph Generation Tool:&nbsp;
                    <select id="graphtool">
                        <option value="dot">dot</option>
                        <option value="neato">neato</option>
                        <option value="fdp">fdp</option>
                        <option value="sfdp">sfdp</option>
                        <option value="twopi">twopi</option>
                        <option value="circo">circo</option>
                    </select>&nbsp;
                    <a href="" onclick="return generateBOPDiagram(document.getElementById('graphtool').value,'{{ bopGraphId }}','{{ csrf_token }}');">Generate BOP Relationship Graph</a>
                </td>
            </tr>
            <tr class="col_header">
                <td colspan="6">
                    <div id="{{ bopGraphId }}Div" style="display:none" class="zoomContainer">
                        <div id="positionButtonDiv">
                            <p>Zoom :
                                <span>
                                    <img id="{{ bopGraphId }}zoomInButton" class="zoomButton" src="{% static 'bodb/images/zoom_assets/zoomIn.png' %}" title="zoom in" alt="zoom in" />
                                    <img id="{{ bopGraphId }}zoomOutButton" class="zoomButton" src="{% static 'bodb/images/zoom_assets/zoomOut.png' %}" title="zoom out" alt="zoom out" />
                                </span>
                            </p>
                            <p>Pan:
                                <span class="positionButtonSpan">
                                    <map name="{{ bopGraphId }}positionMap" class="positionMapClass">
                                        <area id="{{ bopGraphId }}topPositionMap" shape="rect" coords="20,0,40,20" title="move up" alt="move up"/>
                                        <area id="{{ bopGraphId }}leftPositionMap" shape="rect" coords="0,20,20,40" title="move left" alt="move left"/>
                                        <area id="{{ bopGraphId }}rightPositionMap" shape="rect" coords="40,20,60,40" title="move right" alt="move right"/>
                                        <area id="{{ bopGraphId }}bottomPositionMap" shape="rect" coords="20,40,40,60" title="move bottom" alt="move bottom"/>
                                    </map>
                                    <img class="panButton" src="{% static 'bodb/images/zoom_assets/position.png' %}" usemap="#{{ bopGraphId }}positionMap" />
                                </span>
                            </p>
                        </div>
                        <img src="" usemap="#{{ bopGraphId }}Map" id="{{ bopGraphId }}" style="width:100%" origWidth="" origHeight=""/>
                        <map id="{{ bopGraphId }}Map" name="{{ bopGraphId }}Map">
                        </map>
                    </div>
                </td>
            </tr>
            <tr class="col_header">
                <td colspan="6">
                    <span id="{{ bopGraphId }}Msg"></span>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

<script type="text/html" id="bop-template">
    <div id="bop-<%= idx %>" name="bop">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                    {% if user.is_authenticated and not user.is_anonymous %}
                        {% if ispopup %}
                            {% if multiple %}
                                <a href="../" onclick="return opener.addBOPMultiple(<%= id %>, ['<%= title.replaceAll('\'','\\\'') %>', '<%= brief_description.replaceAll('\'','\\\'') %>']);">Select</a>
                            {% else %}
                                <a href="../" onclick="opener.selectSingleBOP(<%= id %>, '<%= title.replaceAll('\'','\\\'') %>');self.close();">Select</a>
                            {% endif %}
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite(<%= id %>,'favIcon-<%= id %>','{{ csrf_token }}');">
                                <img id="favIcon-<%= id %>" name="favIcon-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                            </a>
                            <input type=checkbox name="selectedBOPCheckbox" class="selectedBOPCheckbox" id="selectedBOPCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %> {% if not can_remove_entry %}disabled="True"{% endif %}<% } else{ %> {% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleBOPSelect(this.value, '{{ csrf_token }}');"/>
                        {% endif %}
                    {% else %}
                        <input type=checkbox name="selectedBOPCheckbox" class="selectedBOPCheckbox" id="selectedBOPCheckbox_<%= id %>" value="<%= id %>" style="display:none"/>
                    {% endif %}
                </td>
                <td width=200px>
                    <a href="/bodb/bop/<%= id %>/" onclick="return openInNewTab('/bodb/bop/<%= id %>/');"><%= title %></a> <% if(draft){ %><span style="color: red;">&lt;draft&gt;</span><% } %>
                </td>
                <td width=200px><a href="/bodb/user/<%= collator_id %>/"><%= collator %></a> {% if user.is_authenticated and not user.is_anonymous %}<% if(collator_id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= collator_id %>&type=BOP');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}</td>
                <td><%= brief_description %></td>
                <td width=100px><span id="bop_<%= id %>_message" name="bop_<%= id %>_message" class="messages"></span></td>
            </tr>
        </table>
    </div>
</script>