{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - BOP Report</title>
{% endblock %}
{% block content %}
    <div id="list">
        <h2>BOP Report: {{ bop }}</h2>
        <form id="bopReportForm" method="post" action="">
            {% csrf_token %}
            Select what to include in the report
            <table class="tab_panel">
                <tr class="even_row">
                    <td>{{ form.figure_display }}</td>
                    <td>Figures</td>
                </tr>
                <tr class="odd_row">
                    <td>{{ form.narrative_display }}</td>
                    <td>Narrative</td>
                </tr>
                <tr class="even_row">
                    <td>{{ form.childbop_display }}</td>
                    <td>Child BOPs</td>
                </tr>
                <tr class="odd_row">
                    <td>{{ form.summary_display }}</td>
                    <td>SEDs</td>
                </tr>
                <tr class="even_row">
                    <td>{{ form.related_model_display }}</td>
                    <td>Related models</td>
                </tr>
                <tr class="odd_row">
                    <td>{{ form.related_bop_display }}</td>
                    <td>Related BOPs</td>
                </tr>
                <tr class="even_row">
                    <td>{{ form.related_brainregion_display }}</td>
                    <td>Related brain regions</td>
                </tr>
                <tr class="odd_row">
                    <td>{{ form.reference_display }}</td>
                    <td>References</td>
                </tr>
                <tr class="even_row">
                    <td>{{ form.include_seds }}</td>
                    <td>Detailed SED reports</td>
                </tr>
            </table>
            Format:&nbsp;{{ form.format }}
            <br>
            <input class="btn" type="submit" value="Generate Report" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
        </form>
    </div>
{% endblock %}