{% load cache %}
<script type="text/javascript">

	    
    $(document).ready(function(){ 
	});
    
</script>
{% if can_add_post %}
<div id="myForum">
    {% load disqus_tags %}
    {% disqus_sso %}

    {% for doc in forum.document_set.all %}
        {% set_disqus_title "doc-"|add:doc.id|slugify %}
        {% set_disqus_url "http://bodb.usc.edu" doc.get_absolute_url %}
        {% set_disqus_identifier "doc-" doc.id|slugify %}
        {% disqus_show_comments %}
    {% endfor %}

    {% for workspace in forum.workspace_set.all %}
        {% set_disqus_title "ws-"|add:workspace.id|slugify %}
        {% set_disqus_url "http://bodb.usc.edu" workspace.get_absolute_url %}
        {% set_disqus_identifier "ws-" workspace.id|slugify %}
        {% disqus_show_comments %}
    {% endfor %}

</div>
{% endif %}
