body {
    font-family: verdana, sans-serif;
    padding: 0px 20px;
}

a:link { color:#58a; text-decoration:none; }
a:visited { color:#58a;  text-decoration:none; }
a:hover {
    text-decoration: none;
    background: #bbd0f9;
    color:#237898;
}

.hide { display: none; }

/* Header
---------------------------------------------------------*/
h1 {
    font-size: 200%;
    color: #0d3f74;
    margin: 0;
}

#user_info {
    font-size: .9em;
    text-align: right;
}

#user_info .alert a:link { color:red; text-decoration:none; }

#user_info .alert a:visited {color:red; text-decoration:none; }

#navbar {
    padding-left: 5px;
    background: #0d3f74;
}

#navbar ul {
    list-style-type: none;
    padding:6px;
}
#navbar li {
    display: inline;
    padding: 8px;
    text-align: center;
}

#navbar a {
    color: #eee;
    text-decoration: none;
}

#navbar a:hover {
    color: #ff0;
    background: #0d3f74;
}

#navbar .highlighted {
    color: #000;
    background: #ccd1e2;
}

/* Sidebar
---------------------------------------------------*/
#sidebar {
    float: left;
    width: 250px;
    /*border: solid 1px #c5cbd4;*/
    display: inline;
}
.c1f, .c2f, .c3f, .c4f{font-size:1px; overflow:hidden; display:block;}
.c1f {height:1px; background:#0d3f74; margin:0 5px;}
.c2f {height:1px; background:#0d3f74; margin:0 3px;}
.c3f {height:1px; background:#0d3f74; margin:0 2px;}
.c4f {height:2px; background:#0d3f74; margin:0 1px;}

.d1f, .d2f, .d3f, .d4f{font-size:1px; overflow:hidden; display:block;}
.d1f {height:1px; background:#e6e8ed; margin:0 5px;}
.d2f {height:1px; background:#e6e8ed; margin:0 3px;}
.d3f {height:1px; background:#e6e8ed; margin:0 2px;}
.d4f {height:2px; background:#e6e8ed; margin:0 1px;}

#sidebar h2 {
    font-size:85%;
    padding: 4px 0 4px 10px;
    font-weight: bold;
    background: #c5cbd4;
    margin: 0;
}

#rightsidebar {
    float: right;
    width: 250px;
    display: block;
}

#rightsidebar h2 {
    font-size:100%;
    padding-bottom: 5px;
    font-weight: bold;
    color: #0d3f74;
    border-bottom: solid 1px #0d3f74;
}

/* Content
---------------------------------------------------*/
#content {
    margin-left: 255px;
    padding: 0px 20px 0 10px;
}

.section h2 {
    font-size:100%;
    padding-bottom: 5px;
    font-weight: bold;
    color: #0d3f74;
    border-bottom: solid 1px #0d3f74;
}

/* Detail
---------------------------------------------------------*/
#detail { font-size: 75%; }
#detail table {
    width: 80%;
    padding: 5px;
    border-collapse: collapse;
}
#detail h2 {
    font-size: 150%;
    color: #0d3f74;
}
#detail h3 {
    font-size: 100%;
    color: #330099;
}
#detail dd {
    padding-left: 120px;
}
#detail dt img {
    border: 1px solid #ccc;
}
#detail dd p { line-height: 0.8em; }

#detail .section_header {
    background: #c5cbd4;
    font-size: 125%;
    font-weight: bold;
    color: #0d3f74;
}
#detail .rounded_section_header {
    padding: 0px;
}
#detail .section_subheader {
    background: #c5cbd4;
    font-weight: bold;
    color: #0d3f74;
}
#detail .tab_panel {
    width: 100%;
}
#detail .section_body {
    background: #e6e8ed;
}
#detail .section_body table {
    width: 100%;
    border: 0px;
}
#detail .table_header {
    font-size: 120%;
    font-weight: bold;
}
#detail .table_header a {
    font-size: 75%;
}
#detail .col_header {
    background: #c5cbd4;
    font-size: 90%;
    font-weight: bold;
}
#detail .odd_row {
    background: #e6e8ed;
}
#detail .even_row {
    background: #ffffff;
}
input.btn{
    color:#0d3f74;
    font-family:'trebuchet ms',helvetica,sans-serif;
    font-size:84%;
    font-weight:bold;
    border:1px solid;
    border-top-color:#0d3f74;
    border-left-color:#0d3f74;
    border-right-color:#0d3f74;
    border-bottom-color:#0d3f74
}
input.btnhov{
    border-top-color:#c63;
    border-left-color:#c63;
    border-right-color:#930;
    border-bottom-color:#930;
}


/* List
---------------------------------------------------------*/
#list {font-size: 80%; }
#list table {
    width: 80%;
    padding: 5px;
    border-collapse: collapse;
}
#list .rounded_section_header {
    padding: 0px;
}
#list .section_subheader {
    background: #c5cbd4;
    font-weight: bold;
    color: #0d3f74;
}
#list .section_header {
    background: #c5cbd4;
    font-size: 125%;
    font-weight: bold;
    color: #0d3f74;
}
#list .table_header {
    font-size: 120%;
    font-weight: bold;
}
#list .table_header a {
    font-size: 75%;
}
#list .tab_header {
    background: #0d3f74;
    font-size: 125%;
}
#list .col_header {
    background: #c5cbd4;
    font-size: 90%;
    font-weight: bold;
}
#list .odd_row {
    background: #e6e8ed;
}
#list .even_row {
    background: #ffffff;
}
#list .tab_panel {
    width: 100%;
}
#list .unselectedTab {
    /*background: #e6e8ed;*/
    background: #ffffff;
}
#list .unselectedTab a {
    color: #58a;
}
#list .selectedTab {
    color: #0d3f74;
}
#list .selectedTab a {
    color: #ffffff;
    border: 0;
}

/* Errors
---------------------------------------------------------*/
.myerrors {
    color: #ff0000;
}

.errorlist {
    color: #ff0000;
}

/* Messages
---------------------------------------------------------*/
.messages {
    color: #0000ff;

}

/* Curved corners
---------------------------------------------------------*/

.b1f, .b2f, .b3f, .b4f{font-size:1px; overflow:hidden; display:block;}
.b1f {height:1px; background:#c5cbd4; margin:0 5px;}
.b2f {height:1px; background:#c5cbd4; margin:0 3px;}
.b3f {height:1px; background:#c5cbd4; margin:0 2px;}
.b4f {height:2px; background:#c5cbd4; margin:0 1px;}

.c1f, .c2f, .c3f, .c4f{font-size:1px; overflow:hidden; display:block;}
.c1f {height:1px; background:#0d3f74; margin:0 5px;}
.c2f {height:1px; background:#0d3f74; margin:0 3px;}
.c3f {height:1px; background:#0d3f74; margin:0 2px;}
.c4f {height:2px; background:#0d3f74; margin:0 1px;}


/* Popup
---------------------------------------------------------*/
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 15%;
    position: fixed;
    top: 20%;
    width: 70%;
    z-index: 2;
}
div.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
    overflow-y:scroll;
    height:200px
}