{% load staticfiles %}
<script type="text/javascript">
    var regions=[];
    {% for selected,is_favorite,brain_region in brain_regions %}
        regions.push({
            id: {{ brain_region.id }},
            name: '{{ brain_region.name|escapejs }}',
            abbreviation: '{{ brain_region.abbreviation|escapejs }}',
            is_favorite: {% if is_favorite %}true{% else %}false{% endif %},
            selected: {% if selected %}true{% else %}false{% endif %},
            type: '{{ brain_region.brain_region_type|escapejs }}',
            parent_region: '{% if brain_region.parent_region %}{{ brain_region.parent_region.name|escapejs }}{% endif %}',
            nomenclature: '{{ brain_region.nomenclature|escapejs }}',
            species: '{{ brain_region.nomenclature.species.all|join:", "|escapejs }}'
        });
    {% endfor %}
    
    function addBrainRegions()
    {
        $('[name=brain_regions]').each(function(index, element){
            $(this).empty()
            var tmplMarkup = $('#brain_region-template').html();
            for(var idx=0; idx<regions.length; idx++)
            {
                regions[idx]['idx']=$(this).children().length+1;
                var compiledTmpl = _.template(tmplMarkup, regions[idx]);
                $(this).append(compiledTmpl);
            }
        });
    }
    $(document).ready(function(){
        addBrainRegions();
    });
</script>
<div id="brain_region_list" name="brain_region_list" style="display:{% if brain_regions|length %}block{% else %}none{% endif %}">
    <table class="tab_panel" style="background:#e6e8ed;">
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan=9>
                    {% if can_add_entry or can_remove_entry %}
                        Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllBrainRegionSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllBrainRegionSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=275px><a id="id_brain_region_sort_name" href="" onclick="return sortBrainRegions('name',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Name <img id="id_brain_region_sort_name_dir" name="brain_region_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px"/></a></td>
            <td width=100px><a id="id_brain_region_sort_abbreviation" href="" onclick="return sortBrainRegions('abbreviation',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Abbreviation <img id="id_brain_region_sort_abbreviation_dir" name="brain_region_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=150px><a id="id_brain_region_sort_type" href="" onclick="return sortBrainRegions('type',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Type <img id="id_brain_region_sort_type_dir" name="brain_region_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=200px><a id="id_brain_region_sort_parent_region" href="" onclick="return sortBrainRegions('parent_region',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Parent region <img id="id_brain_region_sort_parent_region_dir" name="brain_region_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=175px><a id="id_brain_region_sort_nomenclature" href="" onclick="return sortBrainRegions('nomenclature',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Nomenclature <img id="id_brain_region_sort_nomenclature_dir" name="brain_region_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td><a id="id_brain_region_sort_species" href="" onclick="return sortBrainRegions('species',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Species <img id="id_brain_region_sort_species_dir" name="brain_region_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9">
                <div id="brain_regions" name="brain_regions">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="brain_region-template">
    <div id="brain_region-<%= idx %>" name="brain_region">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td align=center style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup %}
                            {% if multiple %}
                                <a href="../" onclick="return opener.addBrainRegionMultiple('', '', <%= id %>, ['<%= addslashes(name) %>', '<%= addslashes(nomenclature) %>', '<%= addslashes(species) %>']);">Select</a>
                            {% else %}
                                <a href="../" onclick="opener.addBrainRegionSingle(<%= id %>, ['<%= addslashes(name) %>', '<%= addslashes(nomenclature) %>', '<%= addslashes(species) %>'], '{{ fieldName }}');self.close();">Select</a>
                            {% endif %}
                        {% else %}
                            <a id="favLinkRegion" href="" onclick="return toggleFavoriteBrainRegion(<%= id %>,'favIconRegion-<%= id %>','{{ csrf_token }}');">
                                <img id="favIconRegion-<%= id %>" name="favIconRegion-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                            </a>
                            <input type=checkbox name="selectedBrainRegionCheckbox" class="selectedBrainRegionCheckbox" id="selectedBrainRegionCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %>{% if not can_remove_entry %}disabled="True"{% endif %}<% } else{ %>{% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleBrainRegionSelect(this.value, '{{ csrf_token }}');"/>
                        {% endif %}
                    {% else %}
                        <input type=checkbox name="selectedBrainRegionCheckbox" class="selectedBrainRegionCheckbox" id="selectedBrainRegionCheckbox_<%= id %>" value="<%= id %>" style="display: none;"/>
                    {% endif %}
                    <input type=hidden name="selectedBrainRegion" id="selectedBrainRegion_<%= id %>" value="<%= id %>"/>
                </td>
                <td width=275px>
                    <a href="/bodb/brain_region/<%= id %>/" onclick="return openInNewTab('/bodb/brain_region/<%= id %>/');"><%= _.escape(name) %></a>
                </td>
                <td width=100px>
                    <%= _.escape(abbreviation) %>
                </td>
                <td width=150px>
                    <%= _.escape(type) %>
                </td>
                <td width=200px>
                    <%= _.escape(parent_region) %>
                </td>
                <td width=175px>
                    <%= _.escape(nomenclature) %>
                </td>
                <td>
                    <%= _.escape(species) %>
                </td>
                <td width=100px><span id="brain_region_<%= id %>_message" name="brain_region_<%= id %>_message" class="messages"></span> </td>
            </tr>
        </table>
    </div>
</script>