<script type="text/javascript">
    function addBrainRegionMultiple(id, relationship, region_id, data){
        var count = $('#related_brain_regions').children().length;
        var tmplMarkup = $('#related_brain_region-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, id: id, relationship: relationship, region: region_id,
            name: data[0], nomenclature: data[1], species: data[2] });
        $('#related_brain_regions').append(compiledTmpl);
        // update form count
        $('#id_related_brain_region-TOTAL_FORMS').attr('value', count+1);
        $('#id_related_brain_region-'+count+'-relationship').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a description of how the brain region is related to this entry.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -75,
            timeOnScreen: 5000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    $(document).ready(function(){
        {% for related_brain_region_form in related_brain_region_formset.forms %}
            addBrainRegionMultiple({{ related_brain_region_form.instance.id }},
                    '{{ related_brain_region_form.instance.relationship|escapejs }}',
                    {{ related_brain_region_form.instance.brain_region.id }},
                    ['{{ related_brain_region_form.instance.brain_region|escapejs }}',
                        '{{ related_brain_region_form.instance.brain_region.nomenclature|escapejs }}',
                        '{{ related_brain_region_form.instance.brain_region.nomenclature.species.all|join:", "|escapejs }}']);
        {% endfor %}
    })
</script>
<div id="brainRegionData" style="display:{% if showRelatedBrainRegions %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="table_header">
            <td colspan=5>
                <a href="/bodb/brain_region/search/?_multiple=1" onclick="return showPopup('search_brain_region_{{ form.instance.id }}',700,550,'/bodb/brain_region/search/?_multiple=1');">Search</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/bodb/brain_region/request/" onclick="return showPopup('request_new_brain_region_{{ form.instance.id }}',700,550,'/bodb/brain_region/request/');">Request New</a>
            </td>
        </tr>
        <tr class="col_header">
            <td style="width:120px">&nbsp;</td>
            <td style="width:150px">Name</td>
            <td style="width:150px">Nomenclature</td>
            <td style="width:150px">Species</td>
            <td>Relationship*<td>
        </tr>
        <tr>
            <td colspan=5>
                {{ related_brain_region_formset.management_form }}
                <div class="myerrors">
                    {{ related_brain_region_formset.management_form.errors }}
                </div>
                <div id="related_brain_regions">                    
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="related_brain_region-template">
    <div id="related_brain_region-<%= idx %>" name="related_brain_region">
        <input type=hidden id="id_related_brain_region-<%= idx %>-DELETE" name="related_brain_region-<%= idx %>-DELETE"/>
        <input id="id_related_brain_region-<%= idx %>-id" name="related_brain_region-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_related_brain_region-<%= idx %>-brain_region" name="related_brain_region-<%= idx %>-brain_region" type="hidden" value="<%= region %>"/>
        <input id="id_related_brain_region-<%= idx %>-document" name="related_brain_region-<%= idx %>-document" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('related_brain_region', <%= idx %>);">Remove</a>&nbsp;
                </td>
                <td style="width:150px">
                    <a href="/bodb/brain_region/<%= region %>/"><%= _.escape(name) %></a>
                </td>
                <td style="width:150px">
                    <%= _.escape(nomenclature) %>
                </td>
                <td style="width:150px">
                    <%= _.escape(species) %>
                </td>
                <td>
                    <textarea cols="40" id="id_related_brain_region-<%= idx %>-relationship" name="related_brain_region-<%= idx %>-relationship" rows="3"><%= _.escape(relationship) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="related_brain_region_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>