{% load staticfiles %}
<script type="text/javascript">
    $(document).ready(function(){
        {% for selected,is_favorite,subscribed,ssr in ssrs %}
            var count = $('#ssrs').children().length;
            var tmplMarkup = $('#ssr-template').html();
            var compiledTmpl = _.template(tmplMarkup,
                    {
                        idx : count+1,
                        id: {{ ssr.id }},
                        title: '{{ ssr.title|escapejs }}',
                        brief_description: '{{ ssr.brief_description|escapejs }}',
                        is_favorite: {% if is_favorite %}true{% else %}false{% endif %},
                        selected: {% if selected %}true{% else %}false{% endif %},
                        title_str: '{{ ssr|escapejs }}',
                        draft: {% if ssr.draft %}true{% else %}false{% endif %},
                        collator_id: {{ ssr.collator.id }},
                        collator: '{{ ssr.get_collator_str|escapejs }}',
                        subscribed_to_user: {% if subscribed %}true{% else %}false{% endif %}
                    }
            );
            $('#ssrs').append(compiledTmpl);
        {% endfor %}
    });

    function deleteSSR(id, idx)
    {
        if(confirm('This will delete this SSR as well as all links to it from other entries. Do you really want to delete the current SSR?'))
        {
            document.getElementById('deletingMsg').style.display = 'block';
            document.getElementById('deletingOver').style.display = 'block';
            var data={'csrfmiddlewaretoken': '{{ csrf_token }}', 'idx': idx};
            var args={type:"POST", url:"/bodb/ssr/"+id+"/delete/", data: data, complete: doneDeleteSSR };
            $.ajax(args);
        }
        return false;
    }

    function doneDeleteSSR(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if(status=="success")
        {
            document.getElementById('ssr-'+data.idx).style.display='none';
        }
        document.getElementById('deletingMsg').style.display = 'none';
        document.getElementById('deletingOver').style.display = 'none';
    }
</script>
<div id="ssr_list" name="ssr_list" style="display:{% if ssrs|length %}block{% else %}none{% endif %}">
    <table class="tab_panel">
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan=7>
                    {% if can_add_entry or can_remove_entry %}
                        Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllSSRSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllSSRSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            {% if delete_mode %}
                <td style="width:45px">&nbsp;</td>
            {% endif %}
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=100px>Type</td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="7">
                <div id="ssrs" name="ssrs">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="ssr-template">
    <div id="ssr-<%= idx %>" name="ssr">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td style="width:{% if ispopup %}120{% else %}45{% endif %}px" align=center>
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        <a id="favLink" href="" onclick="return toggleFavorite(<%= id %>,'favIcon-<%= id %>','{{ csrf_token }}');">
                            <img id="favIcon-<%= id %>" name="favIcon-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                        </a>
                        <input type=checkbox name="selectedSSRCheckbox" id="selectedSSRCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %>{% if not can_remove_entry %}disabled="True"{% endif %}<% } else{ %>{% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleSSRSelect(this.value, '{{ csrf_token }}');"/>
                    {% endif %}
                </td>
                {% if delete_mode %}
                    <td width=45px><a href="" onclick="return deleteSSR(<%= id %>, <%= idx %>);">Delete</a></td>
                {% endif %}
                <td width=200px>
                    <a href="/bodb/ssr/<%= id %>/" onclick="return openInNewTab('/bodb/ssr/<%= id %>/');"><%= _.escape(title) %></a>
                    <% if(draft){ %><span style="color: red;">&lt;draft&gt;</span><% } %>
                </td>
                <td width=200px><a href="/bodb/user/<%= collator_id %>/"><%= _.escape(collator) %></a> {% if user.is_authenticated and not user.is_anonymous %}<% if(collator_id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= collator_id %>&type=SSR');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}</td>
                <td><%= _.escape(brief_description) %></td>
                <td width=100px><span id="ssr_<%= id %>_message" name="ssr_<%= id %>_message" class="messages"></span></td>
            </tr>
        </table>
    </div>
</script>