<script type="text/javascript">
    $(document).ready(function(){
        {% for ssr in ssrs %}
            addSSR({{ ssr.id }}, '{{ ssr.title|escapejs }}', '{{ ssr.brief_description|escapejs }}', '{{ ssr.type|escapejs }}');
        {% endfor %}
    });
</script>
<div id="ssrData" style="display:none">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="table_header">
            <td colspan="4"><div id="id_new_ssr" style="font-size: 75%">Add new: <select id="id_new_ssr_type" name="new_ssr_type" style="font-size: 80%;font-family: verdana, sans-serif" onchange="addNewSSR(this.value);"><option value=""></option><option value="generic">generic</option> </select> SSR</div></td>
        </tr>
        <tr class="col_header">
            <td style="width:120px">&nbsp;</td>
            <td style="width:200px;">Title</td>
            <td>Brief Description</td>
            <td style="width:100px">Type</td>
        </tr>
        <tr>
            <td colspan=4>
                <div id="ssrs">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="ssr-template">
    <div id="ssr-<%= idx %>" name="ssr">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return removeSSR(<%= idx %>);">Remove</a>&nbsp;
                </td>
                <td style="width:200px">
                    <%= _.escape(title) %>
                </td>
                <td>
                    <%= _.escape(brief_description).replace(new RegExp('\\n', 'g'),'<br/>') %>
                </td>
                <td style="width:100px">
                    <%= _.escape(type) %>
                </td>
            </tr>
        </table>
    </div>
</script>