{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - View {{ ssr.title }} SSR</title>
    <script type="text/javascript">
        animatedcollapse.addDiv('figureData', 'fade=1');
        animatedcollapse.addDiv('narrativeData', 'fade=1');
        animatedcollapse.addDiv('discussionData', 'fade=1');

        function deleteSSR()
        {
            if(confirm('This will delete this SSR as well as all links to it from other entries. Do you really want to delete the current SSR?'))
            {
            {% if ispopup %}
                if(opener.document.getElementById('span_ssr_{{ ssr.id }}')!=null)
                    clearSpan(opener.document, 'span_ssr_{{ ssr.id }}');
                else if(opener.document.getElementById('span_ssr')!=null)
                    clearSpan(opener.document, 'span_ssr');
            {% endif %}
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args={type:"POST", url:"/bodb/ssr/{{ ssr.id }}/delete/", data: data, complete: doneDelete };
                $.ajax(args);
            }
        }

        function doneDelete()
        {
            document.location.href='/bodb/';
        }

        function exportSSR(type)
        {
            updateSectionDisplaySettings();
            document.getElementById('reportForm').action='/bodb/ssr/{{ssr.id}}/report/'+type+'/';
            document.getElementById('reportForm').submit();
        }

        function doneToggleSSRSelect(res, status)
        {
            var txt = res.responseText;
            var data = eval('('+txt+')');
            if(status=="success")
            {
                if(data.selected)
                {
                    document.getElementById('selectButton').value='Workspace Unselect';
                    document.getElementById('ssr_message').innerHTML='SSR added to the '+data['workspace']+' workspace.';
                }
                else
                {
                    document.getElementById('selectButton').value='Workspace Select';
                    document.getElementById('ssr_message').innerHTML='SSR removed from the '+data['workspace']+' workspace.';
                }
                document.getElementById('ssr_message').style.display='block';
                $('#ssr_message').fadeOut(5000, function(){});
            }
            else
                alert(res.responseText);
        }

        function updateSectionDisplaySettings()
        {
            var sectionIds=['figureData', 'narrativeData', 'referenceData', 'sedData', 'ssrData', 'relatedModelData'];
            var displayIds=['figureDisplay', 'narrativeDisplay', 'referenceDisplay', 'sedDisplay', 'ssrDisplay',
                'relatedModelDisplay'];
            for(var i=0; i<sectionIds.length; i++)
            {
                if(document.getElementById(sectionIds[i]) && document.getElementById(sectionIds[i]).style.display!='none')
                    document.getElementById(displayIds[i]).value=1;
                else
                    document.getElementById(displayIds[i]).value=0;
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div id="detail">
    <h2>
        {% if user.is_authenticated and not user.is_anonymous %}
            <a id="favLink" href="" onclick="return toggleFavorite({{ ssr.id }},'favIcon','{{ csrf_token }}');">
                <img id="favIcon" name="favIcon" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
            </a>
        {% endif %}
        SSR: {{ ssr.title }}
        {%if ssr.draft%}<span style="color: red; ">&lt;draft&gt;</span>{%endif%}</h2>
    <table class="tab_panel">
        <tr valign="top">
            <td colspan="2"><strong>Model:</strong> <a href="/bodb/model/{{ model.id }}/">{{ model }}</a></td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Collator:</strong> {{ ssr.get_collator_str }} {% if not ssr.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed_to_user %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ ssr.collator.id }}&type=SSR');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Created:</strong> {{ ssr.get_created_str }}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Last modified by:</strong> {{ ssr.get_modified_by_str }} {% if not ssr.last_modified_by == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed_to_user %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ ssr.last_modified_by.id }}&type=SSR');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Last modified:</strong> {{ ssr.get_modified_str }}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Tags:</strong> {{ ssr.tags.all|join:', ' }}</td>
        </tr>
        <tr class="section_subheader">
            <td colspan=2>Brief Description</td>
        </tr>
        <tr>
            <td colspan=2>{{ ssr.brief_description }}</td>
        </tr>
        <tr>
            <td colspan=2 valign=top>
                <strong>Public:</strong>&nbsp;
                {% if ssr.public %}
                    YES
                {% else %}
                    NO
                    {% if not ssr.draft and not perms.bodb.public_ssr and not user.is_superuser and ssr.collator == user %}
                        <br>
                        <span id="public_request">
                            {% if public_request_sent %}
                                Public request sent.
                            {% else %}
                                <a href="" onclick="return publicRequest({{ ssr.id }},'{{ csrf_token }}');">Request that this entry be made public</a>
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% if figures %}
            <tr class="section_subheader">
                <td colspan=2>
                    Figures (<a href="javascript:animatedcollapse.toggle('figureData')"><span id="figureDataLabel">Show</span></a>)
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    {% include "bodb/document_figure_list.html" %}
                </td>
            </tr>
        {% endif %}
        {% if ssr.narrative %}
            <tr>
                <td colspan=2 style="padding:0px">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                </td>
            </tr>
            <tr class="section_header">
                <td colspan=2>
                    Narrative (<a href="javascript:animatedcollapse.toggle('narrativeData')"><span id="narrativeDataLabel">Show</span></a>)
                </td>
            </tr>
            <tr>
                <td colspan=2 style="padding:0px">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <div id="narrativeData" style="display:none">
                        <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
                        <table class="tab_panel" style="background:#e6e8ed;">
                            <tr valign=top>
                                <td>{{ ssr.narrative }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan=3 style="padding:0px">
                <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
            </td>
        </tr>
        <tr class="section_header">
            <td colspan=3>
                Discussion (<a href="javascript:animatedcollapse.toggle('discussionData')"><span id="discussionDataLabel">Show</span></a>)
            </td>
        </tr>
        <tr>
            <td colspan=3 style="padding:0px">
                <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div id="discussionData" style="display:none">
                    {% with ssr.forum as forum %}
                        {% include "bodb/discussion/forum_view.html" %}
                    {% endwith %}
                </div>
            </td>
        </tr>
    </table>
    <span id="ssr_message" class="messages"></span>
    {% if perms.bodb.change_ssr and canEdit %}
        <input class="btn" type="button" value="Edit" onclick="document.location.href='/bodb/ssr/{{ssr.id}}/edit/{% if ispopup %}?_popup=1{% endif %}';" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
    {% endif %}
    {% if perms.bodb.delete_ssr and canDelete %}
        {% if not ispopup %}
            <input class="btn" type="button" value="Delete" onclick="deleteSSR()" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated and not user.is_anonymous %}
        {% if not selected and can_add_entry or selected and can_remove_entry %}
            <input id="selectButton" class="btn" type="button" value="{% if not selected %}Workspace Select{% else %}Workspace Unselect{% endif %}" onclick="toggleSSRSelect('{{ssr.id}}','{{ csrf_token }}');" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
        {% endif %}
        {% if canManage %}
            <input id="manageButton" class="btn" type="button" value="Manage Permissions" onclick="return managePermissions('{{ssr.id}}');" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
        {% endif %}
    {% endif %}
    {% if ispopup %}
        <input class="btn" type="button" value="Close" onclick="self.close();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
    {% endif %}
    <input class="btn" type="button" value="Export" onclick="exportSSR(document.getElementById('exportType').value)" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
    Format:&nbsp;
    <select id="exportType">
        <option value="pdf">PDF</option>
        <option value="rtf">RTF</option>
    </select>
    </div>
    <form id="reportForm" name="reportForm" action="/bodb/ssr/{{ssr.id}}/report/rtf/" method="post">
        {% csrf_token %}
        <input id="figureDisplay" type="hidden" name="figureDisplay" value=1>
        <input id="narrativeDisplay" type="hidden" name="narrativeDisplay" value=0>
        <input id="sedDisplay" type="hidden" name="sedDisplay" value=0>
        <input id="ssrDisplay" type="hidden" name="ssrDisplay" value=0>
        <input id="relatedModelDisplay" type="hidden" name="relatedModelDisplay" value=0>
        <input id="referenceDisplay" type="hidden" name="referenceDisplay" value=0>
    </form>
{% endblock %}
