<script type="text/javascript">
    function createBookmark(formId, formPrefix)
    {
        data=$('#'+formId).serialize();
        var args = { type: "POST", url: '/bodb/workspace/{{ workspace.id }}/bookmark/new/', data: data, complete: doneCreateBookmark };
        $.ajax(args);
        return false;
    }

    function doneCreateBookmark(res, status)
    {
        var txt = res.responseText;
        if (status!="success")
            alert(res.responseText);
        else
        {
            var data = eval('('+txt+')');
            if(data.url.length>0)
            {
                var count = $('#bookmarks').children().length;
                var tmplMarkup = $('#bookmark-template').html();
                var compiledTmpl = _.template(tmplMarkup, {
                    idx: count,
                    id : data.bookmark_id,
                    collator_id: data.collator_id,
                    collator_username: data.collator_username,
                    url: data.url,
                    urltrunc: data.urltrunc,
                    title: data.title,
                    description: data.description
                });
                document.getElementById('id_bookmark-title').value='';
                document.getElementById('id_bookmark-url').value='';
                document.getElementById('id_bookmark-description').value='';
                $('#bookmarks').append(compiledTmpl);
                $('textarea:not(.processed)').TextAreaResizer();
            }
        }
        return false;
    }

    function deleteBookmark(bookmarkId)
    {
        var data = { 'bookmarkId': bookmarkId, 'csrfmiddlewaretoken': '{{ csrf_token }}' };
        var args = { type: "POST", url: "/bodb/workspace/{{ workspace.id }}/bookmark/"+bookmarkId+"/delete/", data: data, complete: doneBookmarkDelete };
        $.ajax(args);
        return false;
    }

    function doneBookmarkDelete(res, status)
    {
        var txt = res.responseText;
        if (status!="success")
            alert(res.responseText);
        else
        {
            var data = eval('('+txt+')');
            $('#bookmark-'+data.bookmark_id).remove();
        }
        return false;
    }

    $(document).ready(function(){
        {% for bookmark in bookmarks %}
            var count = $('#bookmarks').children().length;
            var tmplMarkup = $('#bookmark-template').html();
            var compiledTmpl = _.template(tmplMarkup, {
                idx: count,
                id : {{ bookmark.id }},
                collator_id: {{ bookmark.collator.id }},
                collator_username: '{{ bookmark.collator.username }}',
                url: '{{ bookmark.url|escapejs }}',
                urltrunc: '{{ bookmark.url|urlizetrunc:15|escapejs }}',
                title: '{{ bookmark.title|escapejs }}',
                description: '{{ bookmark.description|escapejs }}'
            });
            $('#bookmarks').append(compiledTmpl);
            $('textarea:not(.processed)').TextAreaResizer();
        {% endfor %}
    });
</script>
{% if can_add_bookmark %}
    <form id="bookmarkForm" name="bookmarkForm" action="" method="post">
        {% csrf_token %}
        <input id="id_bookmark-workspace" name="bookmark-workspace" type="hidden" value="{{ workspace.id }}"/>
        <table class="tab_panel">
            <tr>
                <td width=20%>Title</td>
                <td><input type="text" id="id_bookmark-title" name="bookmark-title" size="50"></td>
            </tr>
            <tr>
                <td width=20%>URL</td>
                <td><input type="text" id="id_bookmark-url" name="bookmark-url" size="50"></td>
            </tr>
            <tr>
                <td width=20%>Description</td>
                <td>
                    <textarea cols="57" id="id_bookmark-description" name="bookmark-description" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </form>
    <table class="tab_panel">
        <tr>
            <td colspan="2">
                <input class="btn" type="button" value="Save" onclick="return createBookmark('bookmarkForm','bookmark');" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
{% endif %}
<div id="bookmarkData">
    <table class="tab_panel">
        <tr class="col_header">
            <td width=120px></td>
            <td width=100px>Collator</td>
            <td width=150px>Title</td>
            <td width=200px>URL</td>
            <td>Description</td>
        </tr>
        <tr>
            <td colspan="5">
                <div id="bookmarks">
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/html" id="bookmark-template">
    <div id="bookmark-<%= id %>">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=120px><a href="" onclick="return deleteBookmark(<%= id %>);">Delete</a></td>
                <td width=100px><%= collator_username %></td>
                <td width=150px><%= title %></td>
                <td width=200px><a href="<%= url %>"><%= urltrunc %></a></td>
                <td><%= description %></td>
            </tr>
        </table>
    </div>
</script>