<script type="text/javascript">
    function toggleWorkspaceUserAdmin(user_id, admin)
    {
        var data = { 'user_id': user_id, 'admin':admin, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
        var args = { type: "POST", url: "/bodb/workspace/{{ workspace.id }}/user/toggle_admin/", data: data,
            complete: doneToggleWorkspaceUserAdmin };
        $.ajax(args)
        return false;
    }

    function doneToggleWorkspaceUserAdmin(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if (status!="success")
            alert(res.responseText);
        else
        {
            if(data.admin)
                document.getElementById('user_'+data.user_id+'_message').innerHTML='User is now admin';
            else
                document.getElementById('user_'+data.user_id+'_message').innerHTML='User no longer admin';
            document.getElementById('user_'+data.user_id+'_message').style.display='block';
            $('#user_'+data.user_id+'_message').fadeOut(5000, function(){});
        }
    }

    function removeWorkspaceUser(user_id, username)
    {
        if(confirm('Are you sure you want to remove '+username+' from this workspace?'))
        {
            var data={'user_id':user_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
            var args={'type': "POST", url: "/bodb/workspace/{{ workspace.id }}/user/remove/", data: data,
                complete: doneRemoveWorkspaceUser};
            $.ajax(args)
        }
        return false;
    }

    function doneRemoveWorkspaceUser(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if (status!="success")
            alert(res.responseText);
        else
        {
            document.getElementById('spanWorkspaceUser_'+data.user_id).style.display='none';
        }
    }

    function inviteUsers()
    {
        data=$('#invitationForm').serialize();
        var args = { type: "POST", url: '/bodb/workspace/{{ workspace.id }}/invitation/', data: data, complete: doneInviteUsers };
        $.ajax(args)
        return false;
    }

    function doneInviteUsers(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if (status!="success")
            alert(res.responseText);
        else
        {
            for(var i=0; i<data.invitations.length; i++)
            {
                var count = $('#invitationList').children().length;
                var tmplMarkup = $('#invitation-template').html();
                var compiledTmpl = _.template(tmplMarkup, { idx : count,  id: data.invitations[i]['id'],
                    sent: data.invitations[i]['sent'], user: data.invitations[i]['user'],
                    body: data.invitations[i]['body'], status: data.invitations[i]['status']});
                $('#invitationList').append(compiledTmpl);
                $('textarea:not(.processed)').TextAreaResizer();
            }
        }
    }

    function resendInvitation(invitationId)
    {
        var data={'id':invitationId, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
        var args={'type': "POST", url: "/bodb/workspace_invite/"+invitationId+"/resend/", data: data,
            complete: doneResendInvitation};
        $.ajax(args)
        return false;
    }

    function doneResendInvitation(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if (status!="success")
            alert(res.responseText);
        else
        {
            alert('Invitation to '+data.username+' has be resent');
            document.getElementById('invitation_sent-'+data.id).innerHTML=data.sent;
        }
        return false;
    }
</script>
<table class="tab_panel">
    <tr class="section_header">
        <td colspan="5">Members</td>
    </tr>
    <tr class="col_header">
        <td width=160px>&nbsp;</td>
        <td width=200px>Username</td>
        <td width=300px>Real Name</td>
        <td width=50px>Admin</td>
        <td>&nbsp;</td>
    </tr>
    {% for usr, isadmin, subscribed in members %}
        <tr>
            <td colspan=5>
                <div id="spanWorkspaceUser_{{usr.id}}" style="display: block;">
                    <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                        <td width=160px>
                            {% if not usr == workspace.created_by and not usr == user%}
                                <a href="" onclick="return removeWorkspaceUser({{ usr.id }},
                                        '{{ usr.username }}');">Remove</a>
                            {% endif %}
                        </td>
                        <td width=200px>
                            <a href="/bodb/workspace/{{ workspace.id }}/user/{{ usr.id }}/?_multiple=1" onclick="return showPopup('view_user_{{ u.id }}', 700, 550, '/bodb/workspace/{{ workspace.id }}/user/{{ usr.id }}/?_multiple=1');">
                                {{ usr.username }}
                            </a>
                            {% if not usr == user %}
                                {% if subscribed %}
                                    Subscribed
                                {% else %}
                                    <a href="#" title="Be notified when this user creates new entries"
                                       onclick="return showPopup('new_user_subscription',
                                               400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ usr.id }}&type=All');">
                                        <strong>Subscribe</strong>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td width=300px>
                            {{ usr.first_name }} {{ usr.last_name }}
                        </td>
                        <td width=50px>
                            <input type=checkbox name="adminUserCheckbox"
                                   id="adminUserCheckbox_{{ usr.id }}" value="{{ usr.id }}"
                                   onclick="toggleWorkspaceUserAdmin(this.value,
                                    this.checked);"
                                   {% if isadmin %}checked{% endif %}/>
                        </td>
                        <td>
                            <span id="user_{{ usr.id }}_message" name="user_{{ usr.id }}_message" class="messages"></span>
                        </td>
                    </tr>
                </div>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan=5>&nbsp;</td>
    </tr>
    <tr class="section_subheader">
        <td colspan="5">Invite new members</td>
    </tr>
    <tr>
        <td colspan="5">
            <form id="invitationForm" name="invitationForm" method="post" action="">
                {% csrf_token %}
                <table class="tab_panel">
                    <tr>
                        <td width=150px><strong>Users</strong></td>
                        <td>
                            {{ form.invited_users }}
                            <br>Hold down "Control", or "Command" on a Mac, to select more than one.
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Invitation Body</strong></td>
                        <td>{{ form.invitation_body }}</td>
                    </tr>
                </table>
            </form>
            <input class="btn" type="button" value="Send" onclick="return inviteUsers();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
        </td>
    </tr>
    <tr>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="5">
            <table class="tab_panel">
                <tr class="section_subheader">
                    <td colspan="4">Sent invitations</td>
                </tr>
                <tr class="col_header">
                    <td width=200px>Invited user</td>
                    <td width=400px>Invitation body</td>
                    <td width=200px>Status</td>
                    <td>Sent</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div id="invitationList">
                            {% for invitation in invitations %}
                                <div id="invitation-{{ forloop.counter0 }}">
                                    <table class="tab_panel">
                                        <tr class="{% cycle 'odd_row' 'even_row' %}">
                                            <td width=200px>{{ invitation.invited_user }}</td>
                                            <td width=400px>{{ invitation.invitation_body }}</td>
                                            <td width=200px>{{ invitation.status }}</td>
                                            <td>
                                                <span id="invitation_sent-{{ invitation.id }}">{{ invitation.sent }}</span>
                                                {% if not invitation.status == 'accepted' %}
                                                    &nbsp;<a href="" onclick="return resendInvitation({{ invitation.id }});">Resend</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script type="text/html" id="invitation-template">
    <div id="invitation-<%= idx %>">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>">
                <td width=200px><%= user %></td>
                <td width=400px><%= body %></td>
                <td width=200px><%= status %></td>
                <td><span id="invitation_sent-<%= id %>"><%= sent %></span>&nbsp;<% if(status!='accepted'){ %><a href="" onclick="return resendInvitation(<%= id %>);">Resend</a><% } %> </td>
            </tr>
        </table>
    </div>
</script>