{% load staticfiles %}
<div id="workspace_list" name="workspace_list" style="display:{% if workspaces|length %}block{% else %}none{% endif %}">
    <table class="tab_panel">
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=200px>Title</td>
            <td width=200px>Creator</td>
            <td>Description</td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">
                <div id="workspaces" name="workspaces">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="workspace-template">
    <div id="workspace-<%= idx %>" name="ssr">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td style="width:{% if ispopup %}120{% else %}45{% endif %}px" align=center>
                    <input type="radio" name="activeWorkspace" id="activeWorkspace<%= id %>" value="<%= id %>" <% if(id=={{ active_workspace.id }}){ %>checked<% } %> onclick="selectActiveWorkspace(<%= id %>,'{{ csrf_token }}');"/>
                </td>
                <td width=200px>
                    <a href="/bodb/workspace/<%= id %>/" onclick="return openInNewTab('/bodb/workspace/<%= id %>/');"><%= _.escape(title) %></a>
                </td>
                <td width=200px><a href="/bodb/user/<%= created_by_id %>/"><%= _.escape(created_by) %></a> {% if user.is_authenticated and not user.is_anonymous %}<% if(created_by_id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= created_by_id %>');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}</td>
                <td><%= _.escape(description) %></td>
                <td width=100px><span id="workspace_<%= id %>_message" name="workspace_<%= id %>_message" class="messages"></span></td>
            </tr>
        </table>
    </div>
</script>