{% load static %}
<script type="text/javascript">
    var members=[];
    {% for usr, isadmin, subscribed in members %}
        members.push({
            id: {{ usr.id }},
            username: '{{ usr.username|escapejs }}',
            name: '{{ usr.first_name|escapejs }} {{ usr.last_name|escapejs }}',
            subscribed: {% if subscribed %}true{% else %}false{% endif %},
            isadmin: {% if isadmin %}true{% else %}false{% endif %}
        });
    {% endfor %}

    function addMembers()
    {
        $('#members').empty();
        var tmplMarkup = $('#member-template').html();
        for(var idx=0; idx<members.length; idx++)
        {
            members[idx]['idx']=$('#members').children().length+1;
            var compiledTmpl = _.template(tmplMarkup, members[idx]);
            $('#members').append(compiledTmpl);
        }
    }

    $(document).ready(function(){
        addMembers();
    });
</script>
<table class="tab_panel">
    <tr class="col_header">
        <td width=200px><a id="id_member_sort_username" href="" onclick="return sortMembers('username',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Username <img id="id_member_sort_username_dir" name="member_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px"/></a></td>
        <td width=300px><a id="id_member_sort_name" href="" onclick="return sortMembers('name',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Real name <img id="id_member_sort_name_dir" name="member_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
        <td width=50px><a id="id_member_sort_is_admin" href="" onclick="return sortMembers('is_admin',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Admin <img id="id_member_sort_is_admin_dir" name="member_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
    </tr>
    <tr>
        <td colspan=4>
            <div id="members"></div>
        </td>
    </tr>    
    <tr>
        <td colspan=4>&nbsp;</td>
    </tr>
</table>

<script type="text/html" id="member-template">
    <span id="spanSelectedWorkspaceUser_<%= id %>}">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=200px>
                    <%= _.escape(username) %>
                    <% if(id!={{ user.id }}){ %>
                        <% if(subscribed){ %>
                            Subscribed
                        <% }else{ %>
                            <a href="#" title="Be notified when this user creates new entries"
                               onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= id %>&type=All');">
                                <strong>Subscribe</strong>
                            </a>
                        <% } %>
                    <% } %>
                </td>
                <td width=300px><%= _.escape(name) %></td>
                <td><% if(isadmin){ %>x<% } %></td>
            </tr>
        </table>
    </span>
</script> 