{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - View Workspace</title>
    <link rel="stylesheet" href="{% static 'bodb/css/joyride-2.1.css' %}">
    <script type="text/javascript" src="{% static 'bodb/scripts/multipleSelectFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/sortFunctions.js' %}"></script>
    <script type="text/javascript">

        function viewWorkspace(id)
        {
            document.location.href='/bodb/workspace/'+id+'/';
        }

        function deleteWorkspace()
        {
            if(confirm('This will delete this Workspace. Do you really want to delete the current Workspace?'))
            {
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args={type:"POST", url:"/bodb/workspace/{{ workspace.id }}/delete/", data: data, complete: doneDelete };
                $.ajax(args);
            }
        }

        function doneDelete()
        {
            document.location.href='/bodb/workspaces/';
        }
    </script>
    {% if showTour %}
        <script type="text/javascript" src="{% static 'bodb/scripts/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'bodb/scripts/modernizr.mq.js' %}"></script>
        <script type="text/javascript" src="{% static 'bodb/scripts/jquery.joyride-2.1.js' %}"></script>
        <script type="text/javascript">
            var workspace_page_tour_seen = function(index){
                $.cookie('workspace_page_tour_seen', 'TRUE', {expires: 365, path: '/bodb'});
                window.location = '/bodb/';
            };

            $(window).load(function() {
                if( $.cookie('workspace_page_tour_seen') != 'TRUE'){
                    $('#joyRideTipContent').joyride({
                        autoStart : true,
                        postRideCallback: workspace_page_tour_seen,
                        preStepCallback : function (index, tip) {
                            if (index==1) {
                                switchTab('activity',['entry','coord','bookmark','discussion','tasks','admin']);
                            }
                            else if (index==2) {
                                switchTab('entry',['activity','coord','bookmark','discussion','tasks','admin']);
                            }
                            else if (index == 3) {
                                switchTab('coord',['activity','entry','bookmark','discussion','tasks','admin']);
                            }
                            else if (index == 4) {
                                switchTab('bookmark',['activity','entry','coord','discussion','tasks','admin']);
                            }
                            else if (index == 5) {
                                switchTab('discussion',['activity','entry','coord','bookmark','tasks','admin']);
                            }
                            else if (index == 6) {
                                switchTab('tasks',['activity','entry','coord','bookmark','discussion','admin']);
                            }
                            else if (index == 7) {
                                switchTab('admin',['activity','entry','coord','bookmark','discussion','tasks']);
                            }
                        }
                    });
                }
            });
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="list">
        <h2>Workspace: <select id="id_workspace_select" name="workspace_select" onchange="viewWorkspace(this.value)">{% for other_workspace in profile.get_workspaces %}<option value="{{ other_workspace.id }}" {% if other_workspace.id == workspace.id %}selected{% endif %}>{{ other_workspace.title|truncatechars:25 }}</option>{% endfor %}</select></h2>
        <table class="tab_panel">
            <tr valign="top">
                <td valign="top" width=10%><strong>Creator</strong></td>
                <td>{{ workspace.get_created_by_str }}</td>
            </tr>
            <tr valign=top>
                <td valign=top><strong>Description</strong></td>
                <td>{{ workspace.description|linebreaks }}</td>
            </tr>
        </table>
        <input class="btn" type="button" value="New" onclick="document.location.href='/bodb/workspace/new/';" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
        {% if admin %}
            <input class="btn" type="button" value="Edit" onclick="document.location.href='/bodb/workspace/{{ workspace.id }}/edit/';" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
            <input class="btn" type="button" value="Delete" onclick="deleteWorkspace()" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
        {% endif %}
        <br><br>
        <table class="tab_panel">
            <tr>
                <td style="padding:0px">
                    <span id="activityHeader">
                        {% ifequal selected 'activity' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                    <span id="entryHeader">
                        {% ifequal selected 'entries' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                    <span id="coordHeader">
                        {% ifequal selected 'coords' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                    <span id="bookmarkHeader">
                        {% ifequal selected 'bookmark' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                    <span id="discussionHeader">
                        {% ifequal selected 'discussion' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                    <span id="tasksHeader">
                        {% ifequal selected 'tasks' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                    <span id="adminHeader">
                        {% ifequal selected 'admin' %}
                            <b class="c1f"></b><b class="c2f"></b><b class="c3f"></b><b class="c4f"></b></span>
                        {% endifequal %}
                    </span>
                </td>
                <td style="padding:0px">
                </td>
            </tr>
            <tr class="tab_header">
                <td id="activityTab" width=150 class="{% ifequal selected 'activity' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('activity',['entry','coord','bookmark','discussion','tasks','admin']);">
                    <a>Activity</a>
                </td>
                <td id="entryTab" width=150 class="{% ifequal selected 'entries' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('entry',['activity','coord','bookmark','discussion','tasks','admin']);">
                    <a>Entries</a>
                </td>
                <td id="coordTab" width=190 class="{% ifequal selected 'coord' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('coord',['activity','entry','bookmark','discussion','tasks','admin']);">
                    <a>Coordinates</a>
                </td>
                <td id="bookmarkTab" width=190 class="{% ifequal selected 'bookmark' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('bookmark',['activity','entry','coord','discussion','tasks','admin']);">
                    <a>Bookmarks</a>
                </td>
                <td id="discussionTab" width=150 class="{% ifequal selected 'discussion' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('discussion',['activity','entry','coord','bookmark','tasks','admin']);">
                    <a>Discussion</a>
                </td>
                <td id="tasksTab" width=150 class="{% ifequal selected 'tasks' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('tasks',['activity','entry','coord','bookmark','discussion','admin']);">
                    <a>Tasks</a>
                </td>
                <td id="adminTab" width=150 class="{% ifequal selected 'admin' %}selectedTab{% else %}unselectedTab{% endifequal %}"
                    onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
                    onclick="switchTab('admin',['activity','entry','coord','discussion','bookmark','tasks',]);">
                    {% if admin %}
                        <a>Admin</a>
                    {% else %}
                        <a>Members</a>
                    {% endif %}
                </td>
                <td class="unselectedTab">&nbsp;</td>
            </tr>
            <tr style="background:#0d3f74"><td colspan=9>&nbsp;</td></tr>
            <tr>
                <td colspan=9 style="padding:0px">
                    <div id="activityDiv" style="display:{% ifequal selected 'activity' %}block{% else %}none{% endifequal %}">
                        {% include "bodb/workspace/workspace_activity.html" %}
                    </div>
                    <div id="entryDiv" style="display:{% ifequal selected 'entries' %}block{% else %}none{% endifequal %}">
                        {% include 'bodb/entry_list_view.html' %}
                    </div>
                    <div id="coordDiv" style="display:{% ifequal selected 'coords' %}block{% else %}none{% endifequal %}">
                        <script type="text/javascript">
                            function saveCoordinateSelection()
                            {
                                selectionName=document.getElementById('id_selectionName').value;
                                if(selectionName!=null && selectionName.length>0)
                                {
                                    selectionDesc=document.getElementById('id_selectionDescription').value;
                                    selectionId=document.getElementById('id_selectionId').value;
                                    var data = { 'name': selectionName, 'description': selectionDesc, 'id': selectionId,
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'};
                                    var args = { type: "POST", url: "/bodb/workspace/{{ workspace.id }}/coord_selection/save/", data: data,
                                        complete: doneSaveCoordinateSelection };
                                    $.ajax(args)
                                }
                                else
                                    alert('Please enter a coordinate selection name');
                                return false;
                            }
                        </script>
                        {% include 'bodb/sed/coord_selection_list_detail.html' %}
                    </div>
                    <div id="bookmarkDiv" style="display:{% ifequal selected 'bookmark' %}block{% else %}none{% endifequal %}">
                        {% include 'bodb/workspace/workspace_bookmark_list_view.html' %}
                    </div>
                    <div id="discussionDiv" style="display:{% ifequal selected 'discussion' %}block{% else %}none{% endifequal %}">
                        {% with workspace.forum as forum %}
                            {% include "bodb/discussion/forum_view.html" %}
                        {% endwith %}
                    </div>
                    <div id="tasksDiv" style="display:{% ifequal selected 'tasks' %}block{% else %}none{% endifequal %}">
                    	{% with workspace.tasks as tasks %}
                        	<IFRAME SRC="/bodb/todo/{{ tasks.id }}/{{ tasks.slug }}" scrolling="yes" width="100%" height="600px" id="iframe1" marginheight="0" frameborder="0"></iframe>

                        {% endwith %}
                        
                    </div>
                    <div id="adminDiv" style="display:{% ifequal selected 'admin' %}block{% else %}none{% endifequal %}">
                        {% if admin %}
                            {% include "bodb/workspace/workspace_admin.html" %}
                        {% else %}
                            {% include "bodb/workspace/workspace_member_list.html" %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>

        <form id="reportForm" name="reportForm" action="/bodb/workspace/{{ workspace.id }}/model/report/rtf/" method="post">
        </form>
    </div>

    <ol id="joyRideTipContent">
        <li data-id="activeWorkspaceLink" data-button="Next">
            <h2>Active Workspace</h2>
            <p>View your currently active workspace.</p>
        </li>
        <li data-id="activityTab" data-button="Next" data-options="tipLocation:top">
            <h2>Activity timeline</h2>
            <p>View recent events in this workspace.</p>
        </li>
        <li data-id="entryTab" data-button="Next" data-options="tipLocation:top">
            <h2>Workspace entries</h2>
            <p>View the BOPS, models, SEDs, and SSRs saved to this workspace.</p>
        </li>
        <li data-id="coordTab" data-button="Next" data-options="tipLocation:top">
            <h2>Coordinates</h2>
            <p>View and edit the currently selected SED coordinates and saved coordinate selections.</p>
        </li>
        <li data-id="bookmarkTab" data-button="Next" data-options="tipLocation:bottom">
            <h2>Bookmarks</h2>
            <p>View and add bookmarks to external websites.</p>
        </li>
        <li data-id="discussionTab" data-button="Next" data-options="tipLocation:top">
            <h2>Discussion</h2>
            <p>View and post comments for discussion with other members of the workspace.</p>
        </li>
        <li data-id="tasksTab" data-button="Next" data-options="tipLocation:top">
            <h2>Tasks</h2>
            <p>View and post tasks for and with other members of the workspace.</p>
        </li>
        <li data-id="adminTab" data-button="Close" data-options="tipLocation:top">
            <h2>{% if admin %}Administration{% else %}Members{% endif %}</h2>
            <p>{% if admin %}Manage workspace users and permissions. Invite users to the workspace.{% else %}View workspace members{% endif %}</p>
        </li>
    </ol>

{% endblock %}
