{% load cache %}
<table class="tab_panel">
    {% for activity in activity_stream %}
        <tr class="{% cycle 'odd_row' 'even_row' %}">
            <td width=60px rowspan="2">{% cache 1000 avatar activity.user.id %}{% if activity.user.get_profile.avatar %}<img height="55px" src="{{ activity.user.get_profile.avatar.url }}"/>{% endif %}{% endcache %}</td>
            <td>{{ activity.time }}</td>
        </tr>
        <tr class="{% cycle 'odd_row' 'even_row' %}">
            <td colspan="2">{{ activity.text|safe }}</td>
        <tr>
    {% endfor %}
</table>