<div id="erpComponentData" style="display:{% if showFigure %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr>
            <td class="table_header">
                <a href="#" class="add-erp_component" onclick="return addInlineForm('erp_components','erp_component','erp_component');">Add new</a>
            </td>
        </tr>
        <tr>
            <td>
                {{ erp_component_formset.management_form }}
                <div class="myerrors">
                    {{ erp_component_formset.management_form.errors }}
                </div>
                <div id="erp_components">
                    {% for erp_component_form in erp_component_formset.forms %}
                        <div id="erp_component-{{ forloop.counter0 }}" name="erp_component">
                            <input type=hidden id="id_erp_component-{{ forloop.counter0 }}-DELETE" name="erp_component-{{ forloop.counter0 }}-DELETE"/>
                            {{ erp_component_form.id }}
                            {{ erp_component_form.erp_sed }}
                            <table class="tab_panel">
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td style="width:60px">
                                        <a href="" onclick="return deleteInlineForm('erp_component', {{ forloop.counter0 }});">Delete</a>
                                    </td>
                                    <td style="width:120px">Name*</td>
                                    <td colspan="6">
                                        {{ erp_component_form.component_name }}
                                    </td>
                                </tr>
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=60px>&nbsp;</td>
                                    <td>Peak latency*</td>
                                    <td style="width:120px">
                                        {{ erp_component_form.latency_peak }}
                                    </td>
                                    <td style="width:120px;">Peak Latency type*</td>
                                    <td style="width:120px">
                                        {{ erp_component_form.latency_peak_type }}
                                    </td>
                                    <td style="width:120px;">Peak latency onset</td>
                                    <td>
                                        {{ erp_component_form.latency_onset }}
                                    </td>
                                </tr>
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=60px>&nbsp;</td>
                                    <td>Peak amplitude</td>
                                    <td>
                                        {{ erp_component_form.amplitude_peak }}
                                    </td>
                                    <td>Mean amplitude</td>
                                    <td colspan="3">
                                        {{ erp_component_form.amplitude_mean }}
                                    </td>
                                </tr>
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=60px>&nbsp;</td>
                                    <td>Scalp region*</td>
                                    <td colspan="5">
                                        {{ erp_component_form.scalp_region }}
                                    </td>
                                </tr>
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=60px>&nbsp;</td>
                                    <td>Electrode cap</td>
                                    <td colspan="3">
                                        {{ erp_component_form.electrode_cap }}
                                    </td>
                                    <td>Electrode name</td>
                                    <td>
                                        {{ erp_component_form.electrode_name }}
                                    </td>
                                </tr>
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=60px>&nbsp;</td>
                                    <td>Source</td>
                                    <td colspan="5">
                                        {{ erp_component_form.source }}
                                    </td>
                                </tr>
                                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                    <td width=60px>&nbsp;</td>
                                    <td>Interpretation*</td>
                                    <td colspan="5">
                                        {{ erp_component_form.interpretation }}
                                    </td>
                                </tr>
                            </table>
                            <div class="myerrors">
                                {{ erp_component_form.errors }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="erp_component-template">
    <div id="erp_component-<%= id %>" name="erp_component">
        <input type=hidden id="id_erp_component-<%= id %>-DELETE" name="erp_component-<%= id %>-DELETE"/>
        <input id="id_erp_component-<%= id %>-id" name="erp_component-<%= id %>-id" type="hidden" />
        <input id="id_erp_component-<%= id %>-erp_sed" name="erp_component-<%= id %>-erp_sed" type="hidden" />
        <table class="tab_panel">
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td style="width:60px">
                    <a href="" onclick="return deleteInlineForm('erp_component', <%= id %>);">Delete</a>
                </td>
                <td style="width:120px">Name*</td>
                <td colspan="6">
                    <input id="id_erp_component-<%= id %>-component_name" name="erp_component-<%= id %>-component_name" size="50" type="text" />
                </td>
            </tr>
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Peak latency*</td>
                <td style="width:120px">
                    <input id="id_erp_component-<%= id %>-latency_peak" name="erp_component-<%= id %>-latency_peak" size="10" type="text" />
                </td>
                <td style="width:120px;">Peak latency type*</td>
                <td style="width:120px">
                    <select id="id_erp_component-<%= id %>-latency_peak_type" name="erp_component-<%= id %>-latency_peak_type" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="exact">Exact</option>
                        <option value="approx">Approximate</option>
                        <option value="window">Time Window</option>
                    </select>
                </td>
                <td style="width:120px;">Peak latency onset</td>
                <td>
                    <input id="id_erp_component-<%= id %>-latency_onset" name="erp_component-<%= id %>-latency_onset" size="10" type="text" />
                </td>
            </tr>
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Peak amplitude</td>
                <td>
                    <input id="id_erp_component-<%= id %>-amplitude_peak" name="erp_component-<%= id %>-amplitude_peak" size="10" type="text" />
                </td>
                <td>Mean amplitude</td>
                <td colspan="3">
                    <input id="id_erp_component-<%= id %>-amplitude_mean" name="erp_component-<%= id %>-amplitude_mean" size="10" type="text" />
                </td>
            </tr>
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Scalp region*</td>
                <td colspan="5">
                    <input id="id_erp_component-<%= id %>-scalp_region" name="erp_component-<%= id %>-scalp_region" size="50" type="text" />
                </td>
            </tr>
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Electrode cap</td>
                <td colspan="3">
                    <input id="id_erp_component-<%= id %>-electrode_cap" name="erp_component-<%= id %>-electrode_cap" size="50" type="text" />
                </td>
                <td>Electrode name</td>
                <td>
                    <input id="id_erp_component-<%= id %>-electrode_name" name="erp_component-<%= id %>-electrode_name" size="50" type="text" />
                </td>
            </tr>
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Source</td>
                <td colspan="5">
                    <input id="id_erp_component-<%= id %>-source" name="erp_component-<%= id %>-source" size="50" type="text" />
                </td>
            </tr>
            <tr class="<%= getTRTag(id) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Interpretation*</td>
                <td colspan="5">
                    <textarea cols="57" id="id_erp_component-<%= id %>-interpretation" name="erp_component-<%= id %>-interpretation" rows="3">
                    </textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
        </div>
    </div>
</script>