<script type="text/javascript">
    function addComponentForm(id, name, latency_peak, latency_peak_type, latency_onset, amplitude_peak, amplitude_mean,
                              electrode_position_system, electrode_position, electrode_cap, channel_number, source,
                              interpretation)
    {
        var count = $('#erp_components').children().length;
        var tmplMarkup = $('#erp_component-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, id: id, name:name, latency_peak: latency_peak,
            latency_peak_type: latency_peak_type, latency_onset: latency_onset, amplitude_peak: amplitude_peak,
            amplitude_mean: amplitude_mean, electrode_position_system: electrode_position_system,
            electrode_cap: electrode_cap, channel_number: channel_number, source: source,
            interpretation: interpretation });
        $('#erp_components').append(compiledTmpl);
        updateElectrodePosition('id_erp_component-'+count+'-electrode_position_system', electrode_position_system, electrode_position);
        // update form count
        $('#id_erp_component-TOTAL_FORMS').attr('value', count+1);

        $('#id_erp_component-'+count+'-component_name').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the name of the ERP component.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-latency_peak').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the latency of the peak of the ERP component in ms or a time bin (i.e. 100-200ms).',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -75,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-latency_peak_type').poshytip({
            className: 'tip-skyblue',
            content: 'Select "exact" for exact peak latency, "approximate" for an estimate of the peak latency, "time window" for a range of peak latencies.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -90,
            timeOnScreen: 5000
        });

        $('#id_erp_component-'+count+'-latency_onset').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the onset latency of the peak of the ERP component.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-amplitude_peak').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the amplitude of the peak of the ERP component (in microV).',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-amplitude_mean').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the mean amplitude of the peak of the ERP component (in microV).',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-electrode_position_system').poshytip({
            className: 'tip-skyblue',
            content: 'Select the electrode position system used to report the location of the ERP component.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-electrode_position').poshytip({
            className: 'tip-skyblue',
            content: 'Select the electrode position of the ERP component.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-electrode_cap').poshytip({
            className: 'tip-skyblue',
            content: 'Select the electrode cap used.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-channel_number').poshytip({
            className: 'tip-skyblue',
            content: 'Select the channel number the ERP component is reported in.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-source').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the possible sources for the ERP component.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });

        $('#id_erp_component-'+count+'-interpretation').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the interpretation of the ERP component.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -65,
            timeOnScreen: 3000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    $(document).ready(function(){
        {% for erp_component_form in erp_component_formset.forms %}
            addComponentForm({{ erp_component_form.instance.id }}, '{{ erp_component_form.instance.component_name }}',
                    '{{ erp_component_form.instance.latency_peak }}',
                    '{{ erp_component_form.instance.latency_peak_type }}',
                    '{{ erp_component_form.instance.latency_onset }}',
                    '{{ erp_component_form.instance.amplitude_peak }}',
                    '{{ erp_component_form.instance.amplitude_mean }}',
                    '{{ erp_component_form.instance.electrode_position.position_system.id }}',
                    '{{ erp_component_form.instance.electrode_position.id }}',
                    '{{ erp_component_form.instance.electrode_cap.id }}',
                    '{{ erp_component_form.instance.channel_number }}', '{{ erp_component_form.instance.source }}',
                    '{{ erp_component_form.instance.interpretation|escapejs }}');
        {% endfor %}
    });
</script>
<div id="erpComponentData" style="display:{% if showFigure %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr>
            <td class="table_header">
                <a href="#" class="add-erp_component" onclick="return addComponentForm('','','','','','','','','','','');">Add new</a>
            </td>
        </tr>
        <tr>
            <td>
                {{ erp_component_formset.management_form }}
                <div class="myerrors">
                    {{ erp_component_formset.management_form.errors }}
                </div>
                <div id="erp_components">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="erp_component-template">
    <div id="erp_component-<%= idx %>" name="erp_component">
        <input type=hidden id="id_erp_component-<%= idx %>-DELETE" name="erp_component-<%= idx %>-DELETE"/>
        <input id="id_erp_component-<%= idx %>-id" name="erp_component-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_erp_component-<%= idx %>-erp_sed" name="erp_component-<%= idx %>-erp_sed" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td style="width:60px">
                    <a href="" onclick="return deleteInlineForm('erp_component', <%= idx %>);">Delete</a>
                </td>
                <td style="width:120px">Name*</td>
                <td colspan="6">
                    <input id="id_erp_component-<%= idx %>-component_name" name="erp_component-<%= idx %>-component_name" size="50" type="text" value="<%= name %>"/>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Peak latency*</td>
                <td style="width:120px">
                    <input id="id_erp_component-<%= idx %>-latency_peak" name="erp_component-<%= idx %>-latency_peak" size="10" type="text" <% if(latency_peak!='None'){ %>value="<%= latency_peak %>"<% } %>/>
                </td>
                <td style="width:120px;">Peak Latency type*</td>
                <td style="width:120px">
                    <select id="id_erp_component-<%= idx %>-latency_peak_type" name="erp_component-<%= idx %>-latency_peak_type" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="exact" <% if(latency_peak_type=='exact'){ %>selected<% } %>>Exact</option>
                        <option value="approx" <% if(latency_peak_type=='approx'){ %>selected<% } %>>Approximate</option>
                        <option value="window" <% if(latency_peak_type=='window'){ %>selected<% } %>>Time Window</option>
                    </select>
                </td>
                <td style="width:120px;">Peak latency onset</td>
                <td>
                    <input id="id_erp_component-<%= idx %>-latency_onset" name="erp_component-<%= idx %>-latency_onset" size="10" type="text" <% if(latency_onset!='None'){ %>value="<%= latency_onset %>"<% } %>/>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Peak amplitude</td>
                <td>
                    <input id="id_erp_component-<%= idx %>-amplitude_peak" name="erp_component-<%= idx %>-amplitude_peak" size="10" type="text" <% if(amplitude_peak!='None'){ %>value="<%= amplitude_peak %>"<% } %>/>
                </td>
                <td>Mean amplitude</td>
                <td colspan="3">
                    <input id="id_erp_component-<%= idx %>-amplitude_mean" name="erp_component-<%= idx %>-amplitude_mean" size="10" type="text" <% if(amplitude_mean!='None'){ %>value="<%= amplitude_mean %>"<% } %>/>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Electrode position system*</td>
                <td>
                    <select id="id_erp_component-<%= idx %>-electrode_position_system" name="erp_component-<%= idx %>-electrode_position_system" onchange="updateElectrodePosition(this.id, this.value, '')" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="" selected="selected">---------</option>
                        {% for electrode_position_system in electrode_position_systems %}
                            <option value="{{ electrode_position_system.id }}" <% if(electrode_position_system=='{{ electrode_position_system.id }}'){ %>selected<% } %>>{{ electrode_position_system.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>Electrode position*</td>
                <td colspan="3">
                    <select id="id_erp_component-<%= idx %>-electrode_position" name="erp_component-<%= idx %>-electrode_position" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="" selected="selected">---------</option>
                    </select>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Electrode cap</td>
                <td colspan="2">
                    <select id="id_erp_component-<%= idx %>-electrode_cap" name="erp_component-<%= idx %>-electrode_cap" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="" selected="selected">---------</option>
                        {% for electrode_cap in electrode_caps %}
                            <option value="{{ electrode_cap.id }}" <% if(electrode_cap=='{{ electrode_cap.id }}'){ %>selected<% } %>>{{ electrode_cap }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td colspan="3">
                    Channel <input id="id_erp_component-<%= idx %>-channel_number" name="erp_component-<%= idx %>-channel_number" size="5" type="text" value="<%= channel_number %>"/>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Source</td>
                <td colspan="5">
                    <input id="id_erp_component-<%= idx %>-source" name="erp_component-<%= idx %>-source" size="50" type="text" value="<%= source %>"/>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=60px>&nbsp;</td>
                <td>Interpretation*</td>
                <td colspan="5">
                    <textarea cols="57" id="id_erp_component-<%= idx %>-interpretation" name="erp_component-<%= idx %>-interpretation" rows="3"><%= interpretation %></textarea>
                </td>
            </tr>
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td colspan="7" class="myerrors">
                    <span id="erp_component_<%= idx %>_errors"></span>
                </td>
            </tr>
        </table>
        <div class="myerrors">

        </div>
    </div>
</script>