{% load staticfiles %}

<head>
<!-- CSS and JavaScript for django-todo -->

<script type="text/css" src="{% static 'todo/css/styles.css' %}"></script>
<script type="text/css" src="{% static 'todo/css/ui.datepicker.css' %}"></script>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}todo/css/styles.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}todo/css/ui.datepicker.css" />

<script type="text/javascript" src="{% static 'bodb/scripts/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'bodb/scripts/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'todo/js/jquery.tablednd_0_5.js' %}"></script>



<script type="text/javascript" charset="utf-8">
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    $(document).ready(function(){
        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}),});
     });

</script>

</head>

 <body> {% block content%}{%endblock%}</body>
