{% extends "base_generic.html" %}
{% load staticfiles %}
{% load bodb_extras %}
{% block extrahead %}
    <title xmlns="http://www.w3.org/1999/html">BODB - Neurophysiology SED Export - Accept Request</title>
{% endblock %}
{% block content %}
    <div id="detail">
        <h4>You have accepted {{ request.requesting_user.username }}'s request to export the Neurophysiology SED: {{ request.sed.title }}.</h4>
        <br>
        <h4>They will be notified with a link to export the raw data.</h4>
    </div>
{% endblock %}