{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - View Neurophysiology Unit: {{ object.id }}</title>
    <script type="text/javascript" src="{% static 'bodb/scripts/multipleSelectFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/neurophysSED.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="detail">
    <h2>
        Neurophysiology Unit: {{ object.id }}
    </h2>
    <table class="tab_panel">
        <tr valign="top">
            <td colspan="2"><strong>Type:</strong> {{ object.type }}</td>
        </tr>
        <tr valign="top">
            <td colspan=2><strong>Area: </strong>{{ object.area }}</td>
        </tr>
        <tr class="section_subheader">
            <td colspan=2>Conditions</td>
        </tr>
        {% for condition in conditions %}
            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                <td>
                    <strong>Name:</strong> <a href="/bodb/sed/neurophysiology/condition/{{ condition.id }}/">{{ condition.name }}</a>
                    <br>
                    <strong>Description:</strong> {{ condition.name }}
                </td>
            </tr>
                <td>
                    Realign: <select id="unit_{{ object.id }}_condition_{{ condition.id }}_realign" onchange="realignUnitConditionPlot({{ object.id }},{{ condition.id }}, '{{ csrf_token }}')">
                    <option value="start">trial start</option>
                    {% for event in events %}
                        <option value="{{ event }}">{{ event }}</option>
                    {% endfor %}
                </select>
                    <br><img id="unit_{{ object.id }}_condition_{{ condition.id }}_plot" src="{{ condition.diagram_url }}" width="30%" />
                </td>
            </tr>
        {% endfor %}
    </table>
    <span id="sed_message" class="messages"></span>
{% endblock %}
