{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - View Neurophysiology Condition: {{ object.title }}</title>
    <script type="text/javascript" src="{% static 'bodb/scripts/multipleSelectFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/neurophysSED.js' %}"></script>
    <script type="text/javascript">
        function realignPopulationMeanPlot(csrf_token)
        {
            document.getElementById('realigningMsg').style.display='block';
            document.getElementById('realigningOver').style.display='block';
            last_to_realign='population';
            var event=document.getElementById('population_realign').value;
            var data={'condition': {{ object.id }}, 'event': event, 'csrfmiddlewaretoken': csrf_token};
            var args={type:"POST", url:"/bodb/sed/neurophysiology/condition_population_realign/", data: data, complete: doneRealignPopulationMeanPlot };
            $.ajax(args);
            return false;
        }

        function doneRealignPopulationMeanPlot(res, status)
        {
            var txt = res.responseText;
            var data = eval('('+txt+')');
            if (status=="success")
            {
                document.getElementById('mean_pop_rate_plot').src=data.diagram_url;
                if(last_to_realign=='population')
                {
                    document.getElementById('realigningMsg').style.display='none';
                    document.getElementById('realigningOver').style.display='none';
                }
            }
            else
                alert(txt);
        }

        function realignAllUnitConditionPlots(csrf_token)
        {
            var event=document.getElementById('realign_all').value;
            document.getElementById('population_realign').value=event;
            realignPopulationMeanPlot(csrf_token);
            {% for unit in units %}
                document.getElementById('unit_{{ unit.id }}_condition_{{ object.id }}_realign').value=event;
                realignUnitConditionPlot({{ unit.id }},{{ object.id }},csrf_token);
            {% endfor %}
        }
    </script>
{% endblock %}
{% block content %}
    <div id="detail">
    <h2>
        Neurophysiology Condition: {{ object.name }}
    </h2>
    <table class="tab_panel">
    <tr valign="top">
        <td colspan="2"><strong>SED:</strong> <a href="/bodb/sed/{{ object.sed.id }}/">{{ object.sed.title }}</a></td>
    </tr>
    <tr valign="top">
        <td colspan=2><strong>Description: </strong>{{ object.description|linebreaks }}</td>
    </tr>
    <tr valign=top>
        <td colspan="2"><strong>Subject species: </strong>{{ object.sed.subject_species }}</td>
    </tr>
    {% ifequal object.type 'grasp_observe' %}
        <tr valign="top">
        <td colspan="2"><strong>Object: </strong>{{ object.object }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Grasp: </strong>{{ object.grasp }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Distance from subject: </strong>{{ object.object_distance }}cm</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Whole body visible: </strong>{{ object.whole_body_visible }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Demonstrator species: </strong>{{ object.demonstrator_species }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Demonstration type: </strong>{{ object.demonstration_type }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Viewing angle: </strong>{{ object.viewing_angle }} degrees</td>
        </tr>
    {% endifequal %}
    {% ifequal object.type 'grasp_perform' %}
        <tr valign="top">
        <td colspan="2"><strong>Object: </strong>{{ object.object }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Grasp: </strong>{{ object.grasp }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Distance from subject: </strong>{{ object.object_distance }}cm</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Hand visible: </strong>{{ object.hand_visible }}</td>
        </tr>
        <tr valign="top">
        <td colspan="2"><strong>Object visible: </strong>{{ object.object_visible }}</td>
        </tr>
    {% endifequal %}
    </tr>
    <tr class="section_subheader">
        <td colspan="2">Trial Events</td>
    </tr>
    <tr class="odd_row">
        <td>trial start</td>
        <td>start of the trial</td>
    </tr>
    {% for event_name,event_description in events %}
        <tr class="{% cycle 'even_row' 'odd_row' %}">
            <td>{{ event_name }}</td>
            <td>{{ event_description }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td><strong>Realign All:</strong> <select id="realign_all" onchange="realignAllUnitConditionPlots('{{ csrf_token }}')">
            <option value="start">trial start</option>
            {% for event_name, event_description in events %}
                <option value="{{ event_name }}">{{ event_name }}</option>
            {% endfor %}
        </select></td>
        <td></td>
    </tr>
    <tr valign="top">
        <td colspan="2">
            <strong>Population Mean Firing Rate</strong>
            <br>Realign: <select id="population_realign" onchange="realignPopulationMeanPlot('{{ csrf_token }}')">
            <option value="start">trial start</option>
            {% for event_name, event_description in events %}
                <option value="{{ event_name }}">{{ event_name }}</option>
            {% endfor %}
            </select>
            <br>
            <img id="mean_pop_rate_plot" src="{{ mean_pop_rate_url }}" width="30%">
        </td>
    </tr>
    <tr class="section_subheader">
        <td colspan=2>Units</td>
    </tr>
    {% for unit in units %}
        <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
            <td>
                <strong>ID:</strong> <a href="/bodb/sed/neurophysiology/unit/{{ unit.id }}/">{{ unit.id }}</a>
                <br>
                <strong>Type:</strong> {{ unit.type }}
                <br>
                <strong>Area:</strong> {{ unit.area }}
            </td>
            <td>
                Realign: <select id="unit_{{ unit.id }}_condition_{{ object.id }}_realign" onchange="realignUnitConditionPlot({{ unit.id }}, {{ object.id }}, '{{ csrf_token }}')">
                <option value="start">trial start</option>
                {% for event_name, event_description in events %}
                    <option value="{{ event_name }}">{{ event_name }}</option>
                {% endfor %}
            </select>
                <br><img id="unit_{{ unit.id }}_condition_{{ object.id }}_plot" src="{{ unit.diagram_url }}" width="30%" />
            </td>
        </tr>
    {% endfor %}
    </table>
    <span id="sed_message" class="messages"></span>
{% endblock %}