<script type="text/javascript">
    function addInput(id, name, data_type, description){
        var count = $('#inputs').children().length;
        var tmplMarkup = $('#input-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx: count, id: id, name:name, data_type: data_type,
            description: description });
        $('#inputs').append(compiledTmpl);
        // update form count
        $('#id_input-TOTAL_FORMS').attr('value', count+1);
        $('#id_input-'+count+'-name').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the name of the input.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 3000
        });
        $('#id_input-'+count+'-data_type').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the type of data the input requires (scalar, vector, float, integer, etc).',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });
        $('#id_input-'+count+'-description').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a short description of the input.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -55,
            timeOnScreen: 3000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    function addOutput(id, name, data_type, description){
        var count = $('#outputs').children().length;
        var tmplMarkup = $('#output-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx: count, id: id, name: name, data_type: data_type,
            description: description });
        $('#outputs').append(compiledTmpl);
        // update form count
        $('#id_output-TOTAL_FORMS').attr('value', count+1);
        $('#id_output-'+count+'-name').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the name of the output.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 3000
        });
        $('#id_output-'+count+'-data_type').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the type of data the output requires (scalar, vector, float, integer, etc).',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });
        $('#id_output-'+count+'-description').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a short description of the output.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -55,
            timeOnScreen: 3000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    function addState(id, name, data_type, description){
        var count = $('#states').children().length;
        var tmplMarkup = $('#state-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, id: id, name: name, data_type: data_type,
            description: description });
        $('#states').append(compiledTmpl);
        // update form count
        $('#id_state-TOTAL_FORMS').attr('value', count+1);
        $('#id_state-'+count+'-name').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the name of the state.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 3000
        });
        $('#id_state-'+count+'-data_type').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the type of data the state requires (scalar, vector, float, integer, etc).',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -60,
            timeOnScreen: 3000
        });
        $('#id_state-'+count+'-description').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a short description of the state.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -55,
            timeOnScreen: 3000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    function addSubmodule(id, title, brief_description){
        var count = $('#modules').children().length;
        var tmplMarkup = $('#module-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, id: id, title: title, brief_description: brief_description });
        $('#modules').append(compiledTmpl);
        // update form count
        $('#id_module-TOTAL_FORMS').attr('value', count+1);
        $('#id_module-'+count+'-title').poshytip({
            className: 'tip-skyblue',
            content: 'Enter the name of the module.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -45,
            timeOnScreen: 3000
        });
        $('#id_module-'+count+'-brief_description').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a brief description of the module.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -55,
            timeOnScreen: 3000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    $(document).ready(function(){
        {% for input_form in input_formset.forms %}
            addInput({{ input_form.instance.id }}, '{{ input_form.instance.name|escapejs }}',
                    '{{ input_form.instance.data_type|escapejs }}', '{{ input_form.instance.description|escapejs }}');
        {% endfor %}
        {% for output_form in output_formset.forms %}
            addOutput({{ output_form.instance.id }}, '{{ output_form.instance.name|escapejs }}',
                    '{{ output_form.instance.data_type|escapejs }}', '{{ output_form.instance.description|escapejs }}');
        {% endfor %}
        {% for state_form in state_formset.forms %}
            addState({{ state_form.instance.id }}, '{{ state_form.instance.name|escapejs }}',
                    '{{ state_form.instance.data_type|escapejs }}', '{{ state_form.instance.description|escapejs }}');
        {% endfor %}
        {% for module_form in module_formset.forms %}
            addSubmodule({{ module_form.instance.id }}, '{{ module_form.instance.title|escapejs }}',
                    '{{ module_form.instance.brief_description|escapejs }}');
        {% endfor %}
    });
</script>
<div id="architectureData" style="display:{% if showFigure %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr>
            <td valign=top colspan=4><strong>Diagrams</strong></td>
        </tr>
        <tr>
            <td colspan="4">
                {% include "bodb/document_figure_detail.html" %}
            </td>
        </tr>
        <tr>
            <td colspan=4>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=4>
                <table class="tab_panel">
                    <tr class="section_subheader">
                        <td colspan=4>Inputs</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-input" onclick="return addInput('','','','');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:200px">Name*</td>
                        <td style="width:175px">DataType*</td>
                        <td>Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ input_formset.management_form }}
                            <div class="myerrors">
                                {{ input_formset.management_form.errors }}
                            </div>
                            <div id="inputs">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>
                    <tr class="section_subheader">
                        <td colspan=4>Outputs</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-output" onclick="return addOutput('','','','');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:200px">Name*</td>
                        <td style="width:175px">DataType*</td>
                        <td>Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ output_formset.management_form }}
                            <div class="myerrors">
                                {{ output_formset.management_form.errors }}
                            </div>
                            <div id="outputs">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>
                    <tr class="section_subheader">
                        <td colspan=4>States</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-state" onclick="return addState('','','','');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:200px">Name*</td>
                        <td style="width:175px">DataType*</td>
                        <td>Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ state_formset.management_form }}
                            <div class="myerrors">
                                {{ state_formset.management_form.errors }}
                            </div>
                            <div id="states">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>
                    <tr class="section_subheader">
                        <td colspan=4>SubModules</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-module" onclick="return addSubmodule('','','');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:200px">Title*</td>
                        <td colspan=2>Brief Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ module_formset.management_form }}
                            <div class="myerrors">
                                {{ module_formset.management_form.errors }}
                            </div>
                            <div id="modules">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="input-template">
    <div id="input-<%= idx %>" name="input">
        <input type=hidden id="id_input-<%= idx %>-DELETE" name="input-<%= idx %>-DELETE"/>
        <input id="id_input-<%= idx %>-id" name="input-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_input-<%= idx %>-module" name="input-<%= idx %>-module" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <input id="id_input-<%= idx %>-var_type" name="input-<%= idx %>-var_type" type="hidden" value="Input"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('input', <%= idx %>);">Delete</a>
                </td>
                <td style="width:200px">
                    <input id="id_input-<%= idx %>-name" name="input-<%= idx %>-name" size="13" type="text" value="<%= _.escape(name) %>"/>
                </td>
                <td style="width:175px">
                    <input id="id_input-<%= idx %>-data_type" name="input-<%= idx %>-data_type" size="10" type="text" value="<%= _.escape(data_type) %>"/>
                </td>
                <td>
                    <textarea cols="42" id="id_input-<%= idx %>-description" name="input-<%= idx %>-description" rows="3"><%= _.escape(description) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="input_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>
<script type="text/html" id="output-template">
    <div id="output-<%= idx %>" name="output">
        <input type=hidden id="id_output-<%= idx %>-DELETE" name="output-<%= idx %>-DELETE"/>
        <input id="id_output-<%= idx %>-id" name="output-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_output-<%= idx %>-module" name="output-<%= idx %>-module" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <input id="id_output-<%= idx %>-var_type" name="output-<%= idx %>-var_type" type="hidden" value="Output"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('output', <%= idx %>);">Delete</a>
                </td>
                <td style="width:200px">
                    <input id="id_output-<%= idx %>-name" name="output-<%= idx %>-name" size="13" type="text" value="<%= _.escape(name) %>"/>
                </td>
                <td style="width:175px">
                    <input id="id_output-<%= idx %>-data_type" name="output-<%= idx %>-data_type" size="10" type="text" value="<%= _.escape(data_type) %>"/>
                </td>
                <td>
                    <textarea cols="42" id="id_output-<%= idx %>-description" name="output-<%= idx %>-description" rows="3"><%= _.escape(description) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="output_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>
<script type="text/html" id="state-template">
    <div id="state-<%= idx %>" name="state">
        <input type=hidden id="id_state-<%= idx %>-DELETE" name="state-<%= idx %>-DELETE"/>
        <input id="id_state-<%= idx %>-id" name="state-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_state-<%= idx %>-module" name="state-<%= idx %>-module" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <input id="id_state-<%= idx %>-var_type" name="state-<%= idx %>-var_type" type="hidden" value="State"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('state', <%= idx %>);">Delete</a>
                </td>
                <td style="width:200px">
                    <input id="id_state-<%= idx %>-name" name="state-<%= idx %>-name" size="13" type="text" value="<%= _.escape(name) %>"/>
                </td>
                <td style="width:175px">
                    <input id="id_state-<%= idx %>-data_type" name="state-<%= idx %>-data_type" size="10" type="text" value="<%= _.escape(data_type) %>"/>
                </td>
                <td>
                    <textarea cols="42" id="id_state-<%= idx %>-description" name="state-<%= idx %>-description" rows="3"><%= _.escape(description) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="state_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>
<script type="text/html" id="module-template">
    <div id="module-<%= idx %>" name="module">
        <input type=hidden id="id_module-<%= idx %>-DELETE" name="module-<%= idx %>-DELETE"/>
        <input id="id_module-<%= idx %>-id" name="module-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_module-<%= idx %>-document_ptr" name="module-<%= idx %>-document_ptr" type="hidden" value="<%= id %>"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('module', <%= idx %>);">Delete</a>
                </td>
                <td style="width:200px">
                    <input id="id_module-<%= idx %>-title" name="module-<%= idx %>-title" size="13" type="text" value="<%= _.escape(title) %>"/>
                </td>
                <td colspan=2>
                    <textarea cols="47" id="id_module-<%= idx %>-brief_description" name="module-<%= idx %>-brief_description" rows="3"><%= _.escape(brief_description) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="module_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>