<div id="architectureData" style="display:{% if showFigure %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr>
            <td valign=top colspan=4><strong>Diagrams</strong></td>
        </tr>
        <tr>
            <td colspan="4">
                {% include "bodb/document_figure_detail.html" %}
            </td>
        </tr>
        <tr>
            <td colspan=4>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=4>
                <table class="tab_panel">
                    <tr class="section_subheader">
                        <td colspan=4>Inputs</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-input" onclick="return addInlineForm('inputs','input','input');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:150px">Name*</td>
                        <td style="width:120px">DataType*</td>
                        <td>Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ input_formset.management_form }}
                            <div class="myerrors">
                                {{ input_formset.management_form.errors }}
                            </div>
                            <div id="inputs">
                                {% for input_form in input_formset.forms %}
                                    <div id="input-{{ forloop.counter0 }}" name="input">
                                        <input type=hidden id="id_input-{{ forloop.counter0 }}-DELETE" name="input-{{ forloop.counter0 }}-DELETE"/>
                                        {{ input_form.id }}
                                        {{ input_form.module }}
                                        {{ input_form.var_type }}
                                        <table class="tab_panel">
                                            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                                <td style="width:120px">
                                                    <a href="" onclick="return deleteInlineForm('input', {{ forloop.counter0 }});">Delete</a>
                                                </td>
                                                <td style="width:150px">
                                                    {{ input_form.name }}
                                                </td>
                                                <td style="width:120px">
                                                    {{ input_form.data_type }}
                                                </td>
                                                <td>
                                                    {{ input_form.description }}
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="myerrors">
                                            {{ input_form.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>
                    <tr class="section_subheader">
                        <td colspan=4>Outputs</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-output" onclick="return addInlineForm('outputs','output','output');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:150px">Name*</td>
                        <td style="width:120px">DataType*</td>
                        <td>Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ output_formset.management_form }}
                            <div class="myerrors">
                                {{ output_formset.management_form.errors }}
                            </div>
                            <div id="outputs">
                                {% for output_form in output_formset.forms %}
                                    <div id="output-{{ forloop.counter0 }}" name="output">
                                        <input type=hidden id="id_output-{{ forloop.counter0 }}-DELETE" name="output-{{ forloop.counter0 }}-DELETE"/>
                                        {{ output_form.id }}
                                        {{ output_form.module }}
                                        {{ output_form.var_type }}
                                        <table class="tab_panel">
                                            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                                <td style="width:120px">
                                                    <a href="" onclick="return deleteInlineForm('output', {{ forloop.counter0 }});">Delete</a>
                                                </td>
                                                <td style="width:150px">
                                                    {{ output_form.name }}
                                                </td>
                                                <td style="width:120px">
                                                    {{ output_form.data_type }}
                                                </td>
                                                <td>
                                                    {{ output_form.description }}
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="myerrors">
                                            {{ output_form.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>
                    <tr class="section_subheader">
                        <td colspan=4>States</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-state" onclick="return addInlineForm('states','state','state');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:150px">Name*</td>
                        <td style="width:120px">DataType*</td>
                        <td>Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ state_formset.management_form }}
                            <div class="myerrors">
                                {{ state_formset.management_form.errors }}
                            </div>
                            <div id="states">
                                {% for state_form in state_formset.forms %}
                                    <div id="state-{{ forloop.counter0 }}" name="state">
                                        <input type=hidden id="id_state-{{ forloop.counter0 }}-DELETE" name="state-{{ forloop.counter0 }}-DELETE"/>
                                        {{ state_form.id }}
                                        {{ state_form.module }}
                                        {{ state_form.var_type }}
                                        <table class="tab_panel">
                                            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                                <td style="width:120px">
                                                    <a href="" onclick="return deleteInlineForm('state', {{ forloop.counter0 }});">Delete</a>
                                                </td>
                                                <td style="width:150px">
                                                    {{ state_form.name }}
                                                </td>
                                                <td style="width:120px">
                                                    {{ state_form.data_type }}
                                                </td>
                                                <td>
                                                    {{ state_form.description }}
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="myerrors">
                                            {{ state_form.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>
                    <tr class="section_subheader">
                        <td colspan=4>SubModules</td>
                    </tr>
                    <tr class="table_header">
                        <td colspan=4>
                            <a href="#" class="add-module" onclick="return addInlineForm('modules','module','module');">Add new</a>
                        </td>
                    </tr>
                    <tr class="col_header">
                        <td style="width:120px">&nbsp;</td>
                        <td style="width:150px">Title*</td>
                        <td colspan=2>Brief Description*</td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            {{ module_formset.management_form }}
                            <div class="myerrors">
                                {{ module_formset.management_form.errors }}
                            </div>
                            <div id="modules">
                                {% for module_form in module_formset.forms %}
                                    <div id="module-{{ forloop.counter0 }}" name="module">
                                        <input type=hidden id="id_module-{{ forloop.counter0 }}-DELETE" name="module-{{ forloop.counter0 }}-DELETE"/>
                                        {{ module_form.id }}
                                        {{ module_form.document_ptr }}
                                        {{ module_form.collator }}
                                        {{ module_form.draft }}
                                        {{ module_form.public }}
                                        <table class="tab_panel">
                                            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                                                <td style="width:120px">
                                                    <a href="" onclick="return deleteInlineForm('module', {{ forloop.counter0 }});">Delete</a>
                                                </td>
                                                <td style="width:150px">
                                                    {{ module_form.title }}
                                                </td>
                                                <td colspan=2>
                                                    {{ module_form.brief_description }}
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="myerrors">
                                            {{ module_form.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="input-template">
    <div id="input-<%= id %>" name="input">
        <input type=hidden id="id_input-<%= id %>-DELETE" name="input-<%= id %>-DELETE"/>
        <input id="id_input-<%= id %>-id" name="input-<%= id %>-id" type="hidden" />
        <input id="id_input-<%= id %>-module" name="input-<%= id %>-module" type="hidden" />
        <input id="id_input-<%= id %>-var_type" name="input-<%= id %>-var_type" type="hidden" value="Input"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('input', <%= id %>);">Delete</a>
                </td>
                <td style="width:150px">
                    <input id="id_input-<%= id %>-name" name="input-<%= id %>-name" size="13" type="text" />
                </td>
                <td style="width:120px">
                    <input id="id_input-<%= id %>-data_type" name="input-<%= id %>-data_type" size="10" type="text" />
                </td>
                <td>
                    <textarea cols="42" id="id_input-<%= id %>-description" name="input-<%= id %>-description" rows="3">
                    </textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
        </div>
    </div>
</script>
<script type="text/html" id="output-template">
    <div id="output-<%= id %>" name="output">
        <input type=hidden id="id_output-<%= id %>-DELETE" name="output-<%= id %>-DELETE"/>
        <input id="id_output-<%= id %>-id" name="output-<%= id %>-id" type="hidden" />
        <input id="id_output-<%= id %>-module" name="output-<%= id %>-module" type="hidden" />
        <input id="id_output-<%= id %>-var_type" name="output-<%= id %>-var_type" type="hidden" value="Output"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('output', <%= id %>);">Delete</a>
                </td>
                <td style="width:150px">
                    <input id="id_output-<%= id %>-name" name="output-<%= id %>-name" size="13" type="text" />
                </td>
                <td style="width:120px">
                    <input id="id_output-<%= id %>-data_type" name="output-<%= id %>-data_type" size="10" type="text" />
                </td>
                <td>
                    <textarea cols="42" id="id_output-<%= id %>-description" name="output-<%= id %>-description" rows="3">
                    </textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
        </div>
    </div>
</script>
<script type="text/html" id="state-template">
    <div id="state-<%= id %>" name="state">
        <input type=hidden id="id_state-<%= id %>-DELETE" name="state-<%= id %>-DELETE"/>
        <input id="id_state-<%= id %>-id" name="state-<%= id %>-id" type="hidden" />
        <input id="id_state-<%= id %>-module" name="state-<%= id %>-module" type="hidden" />
        <input id="id_state-<%= id %>-var_type" name="state-<%= id %>-var_type" type="hidden" value="State"/>
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('state', <%= id %>);">Delete</a>
                </td>
                <td style="width:150px">
                    <input id="id_state-<%= id %>-name" name="state-<%= id %>-name" size="13" type="text" />
                </td>
                <td style="width:120px">
                    <input id="id_state-<%= id %>-data_type" name="state-<%= id %>-data_type" size="10" type="text" />
                </td>
                <td>
                    <textarea cols="42" id="id_state-<%= id %>-description" name="state-<%= id %>-description" rows="3">
                    </textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
        </div>
    </div>
</script>
<script type="text/html" id="module-template">
    <div id="module-<%= id %>" name="module">
        <input type=hidden id="id_module-<%= id %>-DELETE" name="module-<%= id %>-DELETE"/>
        <input id="id_module-<%= id %>-collator" name="module-<%= id %>-collator" type="hidden" />
        <input id="id_module-<%= id %>-draft" name="module-<%= id %>-draft" type="hidden" />
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('module', <%= id %>);">Delete</a>
                </td>
                <td style="width:150px">
                    <input id="id_module-<%= id %>-title" name="module-<%= id %>-title" size="13" type="text" />
                </td>
                <td colspan=2>
                    <textarea cols="47" id="id_module-<%= id %>-brief_description" name="module-<%= id %>-brief_description" rows="3">
                    </textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
        </div>
    </div>
</script>