{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'bodb/css/e-smart-zoom-style.css' %}" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'bodb/scripts/e-smart-zoom-jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.rwdImageMaps.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function()
        {
            $('#{{ modelGraphId }}topPositionMap,#{{ modelGraphId }}leftPositionMap,#{{ modelGraphId }}rightPositionMap,#{{ modelGraphId }}bottomPositionMap').bind("click", {{ modelGraphId }}moveButtonClickHandler);
            $('#{{ modelGraphId }}zoomInButton,#{{ modelGraphId }}zoomOutButton').bind("click", {{ modelGraphId }}zoomButtonClickHandler);


            function {{ modelGraphId }}zoomButtonClickHandler(e){
                var scaleToAdd = 0.8;
                if(e.target.id == '{{ modelGraphId }}zoomOutButton')
                    scaleToAdd = -scaleToAdd;
                $('#{{ modelGraphId }}').smartZoom('zoom', scaleToAdd);
            }

            function {{ modelGraphId }}moveButtonClickHandler(e){
                var pixelsToMoveOnX = 0;
                var pixelsToMoveOnY = 0;

                switch(e.target.id){
                    case "{{ modelGraphId }}leftPositionMap":
                        pixelsToMoveOnX = 50;
                        break;
                    case "{{ modelGraphId }}rightPositionMap":
                        pixelsToMoveOnX = -50;
                        break;
                    case "{{ modelGraphId }}topPositionMap":
                        pixelsToMoveOnY = 50;
                        break;
                    case "{{ modelGraphId }}bottomPositionMap":
                        pixelsToMoveOnY = -50;
                        break;
                }
                $('#{{ modelGraphId }}').smartZoom('pan', pixelsToMoveOnX, pixelsToMoveOnY);
            }
        });
    </script>
{% endblock %}
{% if models|length %}
    <form id="modelBenchmarkForm" method="post" action="/bodb/model/benchmark/">
        {% csrf_token %}
        <table class="tab_panel">
            {% if not ispopup %}
                <tr class="col_header">
                    <td colspan=5>
                        {% if can_add_entry or can_remove_entry %}
                            Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllModelSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllModelSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr class="col_header">
                <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
                <td width=200px>Title</td>
                <td width=200px>Collator</td>
                <td>Description</td>
                <td width=100px>&nbsp;</td>
            </tr>
            {% for selected,is_favorite,subscribed,model in models %}
                <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                    <td align=center>
                        {% if user.is_authenticated and not user.is_anonymous  %}
                            {% if ispopup %}
                                <a href="../" onclick="return opener.addModelMultiple({{ model.id }}, ['{{ model|escapejs }}', '{{ model.brief_description|escapejs }}']);">Select</a></td>
                            {% else %}
                                <a id="favLink" href="" onclick="return toggleFavorite({{ model.id }},'favIcon-{{ model.id }}','{{ csrf_token }}');">
                                    <img id="favIcon-{{ model.id }}" name="favIcon-{{ model.id }}" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
                                </a>
                                <input type=checkbox name="selectedModelCheckbox" class="selectedModelCheckbox" id="selectedModelCheckbox_{{ model.id }}" value="{{ model.id }}" {% if selected %}checked=True{% endif %} {% if selected and not can_remove_entry or not selected and not can_add_entry %}disabled="True"{% endif %} onclick="toggleModelSelect(this.value, '{{ csrf_token }}');"/>
                                <input type=hidden name="selectedModel" id="selectedModel_{{ model.id }}" value="{{ model.id }}"/>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="/bodb/model/{{ model.id }}/">{{ model }}</a>
                        {% if model.draft %}<span style="color: red;">&lt;draft&gt;</span>{% endif %}
                    </td>
                    <td>{{ model.get_collator_str }} {% if not model.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ model.collator.id }}&type=Model');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
                    <td>{{model.brief_description }}</td>
                    <td><span id="model_{{ model.id }}_message" name="model_{{ model.id }}_message" class="messages"></span> </td>
                </tr>
            {% endfor %}
            {% if not ispopup %}
                <tr class="col_header">
                    <td colspan="5">
                        Graph Generation Tool:&nbsp;
                        <select id="graphtool">
                            <option value="dot">dot</option>
                            <option value="neato">neato</option>
                            <option value="fdp">fdp</option>
                            <option value="sfdp">sfdp</option>
                            <option value="twopi">twopi</option>
                            <option value="circo">circo</option>
                        </select>&nbsp;
                        <a href="" onclick="return generateModelDiagram(document.getElementById('graphtool').value,'{{ modelGraphId }}','{{ csrf_token }}');">Generate Model Relationship Graph</a>
                    </td>
                </tr>
                <tr class="col_header">
                    <td colspan="5">
                        <div id="{{ modelGraphId }}Div" style="display:none" class="zoomContainer">
                            <div id="positionButtonDiv">
                                <p>Zoom :
                                <span>
                                    <img id="{{ modelGraphId }}zoomInButton" class="zoomButton" src="{% static 'bodb/images/zoom_assets/zoomIn.png' %}" title="zoom in" alt="zoom in" />
                                    <img id="{{ modelGraphId }}zoomOutButton" class="zoomButton" src="{% static 'bodb/images/zoom_assets/zoomOut.png' %}" title="zoom out" alt="zoom out" />
                                </span>
                                </p>
                                <p>Pan:
                                <span class="positionButtonSpan">
                                    <map name="{{ modelGraphId }}positionMap" class="positionMapClass">
                                        <area id="{{ modelGraphId }}topPositionMap" shape="rect" coords="20,0,40,20" title="move up" alt="move up"/>
                                        <area id="{{ modelGraphId }}leftPositionMap" shape="rect" coords="0,20,20,40" title="move left" alt="move left"/>
                                        <area id="{{ modelGraphId }}rightPositionMap" shape="rect" coords="40,20,60,40" title="move right" alt="move right"/>
                                        <area id="{{ modelGraphId }}bottomPositionMap" shape="rect" coords="20,40,40,60" title="move bottom" alt="move bottom"/>
                                    </map>
                                    <img class="panButton" src="{% static 'bodb/images/zoom_assets/position.png' %}" usemap="#{{ modelGraphId }}positionMap" />
                                </span>
                                </p>
                            </div>
                            <img src="" usemap="#{{ modelGraphId }}Map" id="{{ modelGraphId }}" style="width:100%" origWidth="" origHeight=""/>
                            <map id="{{ modelGraphId }}Map" name="{{ modelGraphId }}Map">
                            </map>
                            <br><span id="{{ modelGraphId }}Msg"></span>
                        </div>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan=5>
                    <input class="btn" type="submit" value="Benchmark" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
                </td>
            </tr>
        </table>
    </form>
{% endif %}