{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - Add Model</title>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.poshytip.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bodb/css/tip-skyblue/tip-skyblue.css' %}" type="text/css" media="all" />
    <script type="text/javascript">
        function validateForm()
        {
            var errors=0;
            clearSpan(document, 'form_errors');
            var predictionErrors=validateInlineForm('prediction', ['title', 'brief_description'], ['Title', 'Brief description']);
            var prediction_count = $('#predictions').children().length;
            for(var i=0; i<prediction_count; i++)
                predictionErrors+=validateInlineForm('prediction-'+i+'-predictionssr_set', ['ssr_title', 'ssr_brief_description'], ['Title', 'Brief description']);
            errors+=predictionErrors;
            if(errors>0)
                document.getElementById('form_errors').innerHTML='Please correct form errors before saving';
            return errors==0;
        }

        /**
         * Validate and save the form
         * @param isDraft - 1 if draft, 0 if not
         */
        function save()
        {
            document.getElementById('modelForm').submit();
        }

    </script>
    {{ wizard.form.media }}
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>Add Model: Step 5 of {{ wizard.steps.count }} - Predictions made by the model</h2>
        Add predictions made by the model for future experiments and the associated simulation results.
        <br><br>
        <form id="modelForm" method="post" action="" enctype="multipart/form-data">
            {{ wizard.management_form }}
            {% csrf_token %}
            {% include "bodb/prediction/prediction_list_detail.html" %}
            <span class="myerrors" id="form_errors">
                {{ wizard.form.errors }}
            </span>
            {{ wizard.form.collator }}
            <br>
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" class="btn" type="submit" value="{{ wizard.steps.first }}" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'">First</button>&nbsp;
                <button name="wizard_goto_step" class="btn" type="submit" value="{{ wizard.steps.prev }}" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'">Previous</button>
            {% endif %}
            <input class="btn" type="button" value="Next" onclick="save();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
        </form>
    </div>
{% endblock %}
