{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>BODB - {% if form.instance.id%}Edit {{ form.instance.title }}{% else %}Add{% endif %} Module</title>
    <script type="text/javascript" src="{% static 'bodb/scripts/jquery.poshytip.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bodb/css/tip-skyblue/tip-skyblue.css' %}" type="text/css" media="all" />
    <script type="text/javascript">

        animatedcollapse.addDiv('architectureData', 'fade=1');

        function validateForm(isDraft)
        {
            var errors=0;
            var figureErrors=0;
            var archErrors=0;
            clearSpan(document, 'form_errors');
            clearSpan(document, 'title_errors');
            clearSpan(document, 'description_errors');

            errors+=validateField('title', 'Title', 'title_errors');
            errors+=validateField('parent', 'Parent', 'parent_errors');

            if(isDraft>0)
            {
                figureErrors=validateInlineForm('figure', ['order', 'title'], ['Order','Title']);
                archErrors=validateInlineForm('input', ['name'], ['Name']);
                archErrors+=validateInlineForm('output', ['name'], ['Name']);
                archErrors+=validateInlineForm('state', ['name'], ['Name']);
                archErrors+=validateInlineForm('module', ['title'], ['Title']);
            }
            else{
                errors+=validateField('brief_description', 'Brief description', 'description_errors');
                figureErrors=validateInlineForm('figure', ['order', 'title', 'caption'], ['Order','Title','Caption']);
                archErrors=validateInlineForm('input', ['name', 'data_type', 'description'], ['Name', 'Data type', 'Description']);
                archErrors+=validateInlineForm('output', ['name', 'data_type', 'description'], ['Name', 'Data type', 'Description']);
                archErrors+=validateInlineForm('state', ['name', 'data_type', 'description'], ['Name', 'Data type', 'Description']);
                archErrors+=validateInlineForm('module', ['title', 'brief_description'], ['Title', 'Brief description']);
            }

            if(archErrors>0 || figureErrors>0)
                animatedcollapse.show('architectureData');
            errors+=figureErrors;
            errors+=archErrors;

            if(errors>0)
                document.getElementById('form_errors').innerHTML='Please correct form errors before saving';
            return errors==0;
        }

        function save(isDraft)
        {
            if(validateForm(isDraft))
            {
                document.getElementById('savingMsg').style.display = 'block';
                document.getElementById('savingOver').style.display = 'block';
                document.getElementById('id_draft').value=isDraft;
                document.getElementById('moduleForm').submit();
            }
        }

        $(document).ready(function()
        {
            $('#id_title').poshytip({
                className: 'tip-skyblue',
                content: 'Enter the name of the module.',
                showOn: 'focus',
                showTimeout: 100,
                alignTo: 'target',
                alignX: 'right',
                offsetX: 5,
                offsetY: -45,
                timeOnScreen: 3000
            });

            $('#id_brief_description').poshytip({
                className: 'tip-skyblue',
                content: 'Enter a brief description of the module.',
                showOn: 'focus',
                showTimeout: 100,
                alignTo: 'target',
                alignY: 'center',
                alignX: 'right',
                offsetX: 5,
                timeOnScreen: 3000
            });

            $('#id_narrative').poshytip({
                className: 'tip-skyblue',
                content: "Enter a complete description of the module including it's design and operation.",
                showOn: 'focus',
                showTimeout: 100,
                alignTo: 'target',
                alignY: 'center',
                alignX: 'right',
                offsetX: 5,
                timeOnScreen: 3000
            });

            $('#id_tags').poshytip({
                className: 'tip-skyblue',
                content: 'Enter a comma-separated list of keywords. Look a the tag cloud for suggested keywords.',
                showOn: 'focus',
                showTimeout: 100,
                alignTo: 'target',
                alignX: 'right',
                offsetX: 5,
                offsetY: -75,
                timeOnScreen: 3000
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>{% if form.instance.id%}Edit{% else %}Add{% endif %} Module</h2>
        <form id="moduleForm" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="tab_panel">
                <tr valign=top>
                    <td width=20%>{{ form.title.label_tag }}*</td>
                    <td>{{ form.title }} {%if form.instance.draft%}<font color=red>&lt;draft&gt;</font>{%endif%}</td>
                    <td class="myerrors" width=10%><span id="title_errors">{{ form.title.errors }}</span></td>
                </tr>
                <tr valign=top>
                    <td width=20%>{{ form.parent.label_tag }}*</td>
                    <td>{{ form.parent }}</td>
                    <td class="myerrors" width=10%><span id="parent_errors">{{ form.parent.errors }}</span></td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.brief_description.label_tag }}*</td>
                    <td>{{ form.brief_description }}</td>
                    <td class="myerrors"><span id="description_errors">{{ form.brief_description.errors }}</span></td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.narrative.label_tag }}</td>
                    <td>{{ form.narrative }}</td>
                    {% if form.narrative %}<td class="myerrors">{{ form.narrative.errors }}</td>{% endif %}
                </tr>
                <tr valign=top>
                    <td>{{ form.tags.label_tag }}</td>
                    <td>{{ form.tags }}</td>
                    {% if form.tags.errors %}<td class="myerrors">{{ form.tags.errors }}</td>{% endif %}
                </tr>
                <tr>
                    <td colspan=3 style="padding:0px">
                        <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                    </td>
                </tr>
                <tr class="section_header">
                    <td colspan=3>
                        Architecture (<a href="javascript:animatedcollapse.toggle('architectureData')"><span id="architectureDataLabel">Show</span></a>)
                    </td>
                </tr>
                <tr>
                    <td colspan=3 style="padding:0px">
                        <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% include "bodb/model/architecture_detail.html" %}
                    </td>
                </tr>
            </table>
            <span id="form_errors" class="myerrors">
                {{ form.errors }}
            </span>
            {{ form.draft }}
            {{ form.collator }}
            <br>
            <input class="btn" type="button" value="Save Draft" onclick="save(1)" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
            {% if perms.bodb.save_model or user.is_superuser %}
                <input class="btn" type="button" value="Save" onclick="save(0)" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
            {% endif %}
            {% if ispopup %}
                <input class="btn" type="button" value="Close" onclick="self.close();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
            {% endif %}
            {% if form.instance.id %}
                {% if not ispopup %}
                    <input class="btn" type="button" value="Cancel" onclick="document.location.href='/bodb/module/{{ form.instance.id }}/';" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
                {% endif %}
            {% endif %}
        </form>
    </div>
{% endblock %}
