{% load staticfiles %}
<script type="text/javascript">
    var related_models=[];
    {% for selected,is_favorite,subscribed,related_model in related_model_list %}
        related_models.push({
            id: {{ related_model.id }},
            model_id: {{ related_model.model.id }},
            model_title: '{{ related_model.model|escapejs }}',
            model_brief_description: '{{ related_model.model.brief_description|escapejs }}',
            is_favorite: {% if is_favorite %}true{% else %}false{% endif %},
            selected: {% if selected %}true{% else %}false{% endif %},
            draft: {% if related_model.model.draft %}true{% else %}false{% endif %},
            relationship: '{{ related_model.relationship|escapejs }}',
            reverse: {% if related_model.reverse %}true{% else %}false{% endif %}
        });
    {% endfor %}

    function addRelatedModels()
    {
        $('#related_models').empty();
        var tmplMarkup = $('#related_model-template').html();
        for(var idx=0; idx<related_models.length; idx++)
        {
            related_models[idx]['idx'] = $('#related_models').children().length+1;
            var compiledTmpl = _.template(tmplMarkup, related_models[idx]);
            $('#related_models').append(compiledTmpl);
        }
    }
    
    $(document).ready(function(){
        addRelatedModels();
    });
</script>
<div id="relatedModelData" style="display:none">
    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="col_header">
            <td colspan=5>
                {% if can_add_entry or can_remove_entry %}
                    Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllModelSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllModelSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                {% endif %}
            </td>
        </tr>
        <tr class="col_header">
            <td style="width:45px">&nbsp;</td>
            <td width=200px><a id="id_related_model_sort_model_title" href="" onclick="return sortRelatedModels('model_title',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Title <img id="id_related_model_sort_model_title_dir" name="related_model_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px"/></a></td>
            <td width=300px><a id="id_related_model_sort_model_brief_description" href="" onclick="return sortRelatedModels('model_brief_description',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Brief Description <img id="id_related_model_sort_model_brief_description_dir" name="related_model_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td><a id="id_related_model_sort_relationship" href="" onclick="return sortRelatedModels('relationship',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Relationship <img id="id_related_model_sort_relationship_dir" name="related_model_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=200px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">
                <div id="related_models"></div>
            </td>
        </tr>
        <tr class="col_header">
            <td colspan="5">* indicates a reverse relationship</td>
        </tr>
    </table>
</div>

<script type="text/html" id="related_model-template">
    <div id="related_model-<%- id %>">
        <table style="background:#e6e8ed;width:100%">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td align=center style="width:45px">
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        <a id="favLink" href="" onclick="return toggleFavorite(<%= model_id %>,'favIcon-<%= model_id %>','{{ csrf_token }}');">
                            <img id="favIcon-<%= model_id %>" name="favIcon-<%= model_id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                        </a>
                        <input type=checkbox name="selectedModelCheckbox" id="selectedModelCheckbox_<%= model_id %>" value="<%= model_id %>" value="<%= model_id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %> {% if not can_remove_entry %}disabled="True"{% endif %}<% } else{ %> {% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleModelSelect(this.value, '{{ csrf_token }}');"/>
                        <input type=hidden name="selectedModel" id="selectedModel_<%= model_id %>" value="<%= model_id %>"/>
                    {% endif %}
                </td>
                <td width=200px>
                    <% if(reverse){ %>* <% } %><a href="/bodb/model/<%= model_id %>/"><%= _.escape(model_title) %></a>
                </td>
                <td width=300px>
                    <%= _.escape(model_brief_description).replace(new RegExp('\\n', 'g'),'<br/>') %>
                </td>
                <td>
                    <%= _.escape(relationship).replace(new RegExp('\\n', 'g'),'<br/>') %>
                </td>
                <td width=200px><span id="model_<%= model_id %>_message" name="model_<%= model_id %>_message" class="messages"></span> </td>
            </tr>
        </table>
    </div>
</script> 