{% load bodb_extras %}
<script type="text/javascript">
    function addModelMultiple(id, relationship, model_id, data){
        var count = $('#related_models').children().length;
        var tmplMarkup = $('#related_model-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, id: id, relationship: relationship, model: model_id,
            title: data[0], brief_description: data[1] });
        $('#related_models').append(compiledTmpl);
        // update form count
        $('#id_related_model-TOTAL_FORMS').attr('value', count+1);
        $('#id_related_model-'+count+'-relationship').poshytip({
            className: 'tip-skyblue',
            content: 'Enter a description of how the model is related to this entry.',
            showOn: 'focus',
            showTimeout: 100,
            alignTo: 'target',
            alignX: 'right',
            offsetX: 5,
            offsetY: -75,
            timeOnScreen: 5000
        });
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    $(document).ready(function(){
        {% for related_model_form in related_model_formset.forms %}
            {% if related_model_form.instance.id %}
                addModelMultiple({{ related_model_form.instance.id }},
                        '{{ related_model_form.instance.relationship|escapejs }}',
                        {{ related_model_form.instance.model.id }},
                        ['{{ related_model_form.instance.model.title|escapejs }}', '{{ related_model_form.instance.model.brief_description|escapejs }}']);
            {% else %}
                addModelMultiple('',
                        '{{ related_model_form.initial|lookup:'relationship'|escapejs }}',
                        {{ related_model_form.initial|lookup:'model' }},
                        ['{{ related_model_form.initial|lookup:'model_title'|escapejs }}',
                            '{{ related_model_form.initial|lookup:'model_brief_description'|escapejs }}']);
            {% endif %}
        {% endfor %}
    });
</script>
<div id="modelData" style="display:{% if showRelatedModels %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="table_header">
            <td colspan=4>
                <a href="/bodb/model/search/?_multiple=1" onclick="return showPopup('search_model',700,550,'/bodb/model/search/?_multiple=1&exclude={{ object.id }}');">Search</a>
            </td>
        </tr>
        <tr class="col_header">
            <td style="width:120px">&nbsp;</td>
            <td style="width:150px">Title*</td>
            <td style="width:350px">Brief Description*</td>
            <td>Relationship*</td>
        </tr>
        <tr>
            <td colspan=4>
                {{ related_model_formset.management_form }}
                <div class="myerrors">
                    {{ related_model_formset.management_form.errors }}
                </div>
                <div id="related_models">
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/html" id="related_model-template">
    <div id="related_model-<%= idx %>" name="related_model">
        <input type=hidden id="id_related_model-<%= idx %>-DELETE" name="related_model-<%= idx %>-DELETE"/>
        <input id="id_related_model-<%= idx %>-id" name="related_model-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_related_model-<%= idx %>-model" name="related_model-<%= idx %>-model" type="hidden" value="<%= model %>"/>
        <input id="id_related_model-<%= idx %>-document" name="related_model-<%= idx %>-document" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('related_model', <%= idx %>);">Remove</a>&nbsp;
                </td>
                <td style="width:150px">
                    <%= _.escape(title) %>
                </td>
                <td style="width:350px">
                    <%= _.escape(brief_description) %>
                </td>
                <td>
                    <textarea cols="40" id="id_related_model-<%= idx %>-relationship" name="related_model-<%= idx %>-relationship" rows="3"><%= _.escape(relationship) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="related_model_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>