{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'bodb/css/e-smart-zoom-style.css' %}" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'bodb/scripts/e-smart-zoom-jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bodb/scripts/jquery.rwdImageMaps.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function()
    {
		$('#{{ connectionGraphId }}topPositionMap,#{{ connectionGraphId }}leftPositionMap,#{{ connectionGraphId }}rightPositionMap,#{{ connectionGraphId }}bottomPositionMap').bind("click", {{ connectionGraphId }}moveButtonClickHandler);
		$('#{{ connectionGraphId }}zoomInButton,#{{ connectionGraphId }}zoomOutButton').bind("click", {{ connectionGraphId }}zoomButtonClickHandler);

		
        function {{ connectionGraphId }}zoomButtonClickHandler(e){
            var scaleToAdd = 0.8;
            if(e.target.id == '{{ connectionGraphId }}zoomOutButton')
                scaleToAdd = -scaleToAdd;
            $('#{{ connectionGraphId }}').smartZoom('zoom', scaleToAdd);
        }

        function {{ connectionGraphId }}moveButtonClickHandler(e){
            var pixelsToMoveOnX = 0;
            var pixelsToMoveOnY = 0;
            switch(e.target.id){
                case "{{ connectionGraphId }}leftPositionMap":
                    pixelsToMoveOnX = 50;
                break;
                case "{{ connectionGraphId }}rightPositionMap":
                    pixelsToMoveOnX = -50;
                break;
                case "{{ connectionGraphId }}topPositionMap":
                    pixelsToMoveOnY = 50;
                break;
                case "{{ connectionGraphId }}bottomPositionMap":
                    pixelsToMoveOnY = -50;
                break;
            }
            $('#{{ connectionGraphId }}').smartZoom('pan', pixelsToMoveOnX, pixelsToMoveOnY);
        }
    });
</script>
{% endblock %}
<div id="connectivitySEDData">
    <table class="tab_panel">
        <tr class="section_subheader">
            <td colspan=7>Connectivity SEDs (1-{{ connectivity_seds|length }})</td>
        </tr>
        {% if not ispopup %}
            {% if can_add_entry or can_remove_entry %}
                <tr class="col_header">
                    <td colspan=7>
                        Workspace Select: {% if can_add_entry %}<a href="../../" onclick="return toggleAllSEDSelect('Connectivity',true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../../" onclick="return toggleAllSEDSelect('Connectivity',false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class="col_header">
            <td>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td width=200px>Title</td>
            <td width=200px>Collator</td>
            <td>Description</td>
            <td width=150px>&nbsp;</td>
            <td width=100px>&nbsp;</td>
        </tr>
        {% for selected,is_favorite,subscribed,sed in connectivity_seds %}
            <tr class="{% cycle 'even_row' 'odd_row' %}" valign=top>
                <td>{{ forloop.counter }}</td>
                <td align=center>
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup %}
                            {% if multiple %}
                                <a href="../../" onclick="return opener.addSEDMultiple('{{ type }}', {{ sed.id }}, ['{{ sed.title|escapejs }}', '{{ sed.brief_description|escapejs }}', '{{ sed.type }}']);">Select</a>
                            {% endif %}
                        {% else %}
                            <a id="favLink" href="" onclick="return toggleFavorite({{ sed.id }},'favIcon-{{ sed.id }}','{{ csrf_token }}');">
                                <img id="favIcon-{{ sed.id }}" name="favIcon-{{ sed.id }}" src="{% if is_favorite %}{% static 'bodb/images/star.png' %}{% else %}{% static 'bodb/images/grey_star.png' %}{% endif %}"/>
                            </a>
                            <input type=checkbox class="selectedConnectivitySEDCheckbox" name="selectedSEDCheckbox_{{ sed.id }}" id="selectedConnectivitySEDCheckbox_{{ sed.id }}" value="{{ sed.id }}" {% if selected %}checked=True{% endif %} {% if selected and not can_remove_entry or not selected and not can_add_entry %}disabled="True"{% endif %} onclick="toggleSEDSelect(this.value, '{{ csrf_token }}');"/>
                            <input type=hidden name="selectedSED" id="selectedSED_{{ sed.id }}" value="{{ sed.id }}"/>
                        {% endif %}
                    {% else %}
                        <input type=checkbox class="selectedConnectivitySEDCheckbox" name="selectedSEDCheckbox_{{ sed.id }}" id="selectedConnectivitySEDCheckbox_{{ sed.id }}" value="{{ sed.id }}" style="display:none"/>
                    {% endif %}
                </td>
                <td>
                    <a href="/bodb/sed/{{ sed.id }}/" onclick="return openInNewTab('/bodb/sed/{{ sed.id }}/');">{{ sed }}</a>
                    {% if sed.draft %}<span style="color: red;">&lt;draft&gt;</span>{% endif %}
                </td>
                <td>{{ sed.get_collator_str }} {% if not sed.collator == user and user.is_authenticated and not user.is_anonymous %}{% if subscribed %}Subscribed{% else %}<a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user={{ sed.collator.id }}&type=SED');"><strong>Subscribe</strong></a>{% endif %}{% endif %}</td>
                <td>{{sed.brief_description }}</td>
                <td>
                    {{ sed.html_url_string|safe }}
                </td>
                <td><span id="sed_{{ sed.id }}_message" name="sed_{{ sed.id }}_message" class="messages"></span></td>
            </tr>
        {% endfor %}
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan="7">
                    Graph Generation Tool:&nbsp;
                    <select id="{{ connectionGraphId }}Graphtool">
                        <option value="dot">dot</option>
                        <option value="neato">neato</option>
                        <option value="fdp">fdp</option>
                        <option value="sfdp">sfdp</option>
                        <option value="twopi">twopi</option>
                        <option value="circo">circo</option>
                    </select>&nbsp;
                    <a href="" onclick="return generateConnDiagram([{% for selected,is_favorite,subscribed,sed in connectivity_seds %}{% if forloop.counter0 > 0 %},{% endif %}{{ sed.id }}{% endfor %}],document.getElementById('{{ connectionGraphId }}Graphtool').value,'{{ connectionGraphId }}','{{ csrf_token }}');">Generate Connectivity Graph</a>
                </td>
            </tr>
            <tr class="col_header">
                <td colspan="7">
                    <div id="{{ connectionGraphId }}Div" style="display:none" class="zoomContainer">
                        <div id="positionButtonDiv">
                            <p>Zoom :
                                <span>
                                    <img id="{{ connectionGraphId }}zoomInButton" class="zoomButton" src="{% static 'bodb/images/zoom_assets/zoomIn.png' %}" title="zoom in" alt="zoom in" />
                                    <img id="{{ connectionGraphId }}zoomOutButton" class="zoomButton" src="{% static 'bodb/images/zoom_assets/zoomOut.png' %}" title="zoom out" alt="zoom out" />
                                </span>
                            </p>
                            <p>Pan:
                                <span class="positionButtonSpan">
                                    <map name="{{ connectionGraphId }}positionMap" class="positionMapClass">
                                        <area id="{{ connectionGraphId }}topPositionMap" shape="rect" coords="20,0,40,20" title="move up" alt="move up"/>
                                        <area id="{{ connectionGraphId }}leftPositionMap" shape="rect" coords="0,20,20,40" title="move left" alt="move left"/>
                                        <area id="{{ connectionGraphId }}rightPositionMap" shape="rect" coords="40,20,60,40" title="move right" alt="move right"/>
                                        <area id="{{ connectionGraphId }}bottomPositionMap" shape="rect" coords="20,40,40,60" title="move bottom" alt="move bottom"/>
                                    </map>
                                    <img class="panButton" src="{% static 'bodb/images/zoom_assets/position.png' %}" usemap="#{{ connectionGraphId }}positionMap" />
                                </span>
                            </p>
                        </div>
                        <img src="" usemap="#{{ connectionGraphId }}Map" id="{{ connectionGraphId }}" style="width:100%" origWidth="" origHeight=""/>
                        <map id="{{ connectionGraphId }}Map" name="{{ connectionGraphId }}Map">
                        </map>
                    </div>
                    <span id="{{ connectionGraphId }}Msg"></span>
                </td>
            </tr>
        {% endif %}
    </table>
</div>