{% load staticfiles %}
<script type="text/javascript">

    var lits=[];
    {% for selected,is_favorite,subscribed,literature in literatures %}
        lits.push({
            id: {{ literature.id }},
            authors: '{{ literature.author_names|escapejs }}',
            year: '{{ literature.year|escapejs }}',
            is_favorite: {% if is_favorite %}true{% else %}false{% endif %},
            selected: {% if selected %}true{% else %}false{% endif %},
            title: '{{ literature.title|escapejs }}',
            string: '{{ literature.str|escapejs }}',
            collator_id: {{ literature.collator.id }},
            collator: '{{ literature.get_collator_str|escapejs }}',
            subscribed_to_user: {% if subscribed %}true{% else %}false{% endif %},
            url_str: '{{ literature.html_url_string|escapejs }}'
        });
    {% endfor %}

    function addLiterature()
    {
        $('[name=literatures]').each(function(index, element){
            $(this).empty();
            var tmplMarkup = $('#literature-template').html();
            for(var idx=0; idx<lits.length; idx++)
            {
                lits[idx]['idx']=$(this).children().length+1;
                var compiledTmpl = _.template(tmplMarkup, lits[idx]);
                $(this).append(compiledTmpl);
            }
        });
    }

    $(document).ready(function(){
        addLiterature();
    });
</script>
<div id="literature_list" name="literature_list" style="display:{% if literatures|length %}block{% else %}none{% endif %}">
    <table class="tab_panel" style="background:#e6e8ed;">
        {% if not ispopup %}
            <tr class="col_header">
                <td colspan=6>
                    {% if can_add_entry or can_remove_entry %}
                        Workspace Select: {% if can_add_entry %}<a href="../" onclick="return toggleAllLiteratureSelect(true,'{{ csrf_token }}');">All</a>{% endif %}{% if can_remove_entry %}, <a href="../" onclick="return toggleAllLiteratureSelect(false,'{{ csrf_token }}');">None</a>{% endif %}&nbsp;&nbsp;
                    {% endif %}
                </td>
            </tr>
            <tr class="col_header">
                <td colspan=6>
                    Format:
                    <select class="lit_export_format" id="id_lit_export_format" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="endnote">Endnote</option>
                        <option value="bibtex">Bibtex</option>
                    </select>
                    <a href="" onclick="return exportReferences('{{ csrf_token }}');">Export</a>
                </td>
            </tr>
        {% endif %}
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:{% if ispopup %}120{% else %}45{% endif %}px">&nbsp;</td>
            <td><a id="id_literature_sort_string" href="" onclick="return sortLiterature('string',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Reference <img id="id_literature_sort_string_dir" name="literature_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px"/></a></td>
            <td width=100px><a id="id_literature_sort_collator" href="" onclick="return sortLiterature('collator',this.value,'{% static 'bodb/images/up.png' %}','{% static 'bodb/images/down.png' %}');" value="descending">Collator <img id="id_literature_sort_collator_dir" name="literature_sort_dir" src="{% static 'bodb/images/up.png' %}" width="10px" style="display:none"/></a></td>
            <td width=150px>&nbsp;</td>
            <td width=100px>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">
                <div id="literatures" name="literatures">
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/html" id="literature-template">
    <div id="literature-<%= idx %>" name="literature">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td align=center style="width:{% if ispopup %}120{% else %}45{% endif %}px">
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        {% if ispopup %}
                            <a href="#" onclick="return opener.addLiteratureMultiple(<%= id %>, ['<%= addslashes(authors) %>', '<%= addslashes(year) %>', '<%= addslashes(title) %>']);">Select</a>
                        {% else %}
                            <a id="favLinkLiterature" href="" onclick="return toggleFavoriteLiterature(<%= id %>,'favIconLiterature-<%= id %>','{{ csrf_token }}');">
                                <img id="favIconLiterature-<%= id %>" name="favIconLiterature-<%= id %>" src="<% if(is_favorite){ %>{% static 'bodb/images/star.png' %}<% } else{ %>{% static 'bodb/images/grey_star.png' %}<% } %>"/>
                            </a>
                            <input type=checkbox name="selectedLiteratureCheckbox" class="selectedLiteratureCheckbox" id="selectedLiteratureCheckbox_<%= id %>" value="<%= id %>" <% if(selected){ %>checked=True<% } %> <% if(selected){ %>{% if not can_remove_entry %}disabled="True"{% endif %}<% } else{ %>{% if not can_add_entry %}disabled="True"{% endif %}<% } %> onclick="toggleLiteratureSelect(this.value, '{{ csrf_token }}');"/>
                        {% endif %}
                    {% else %}
                        <input type=checkbox name="selectedLiteratureCheckbox" class="selectedLiteratureCheckbox" id="selectedLiteratureCheckbox_<%= id %>" value="<%= id %>" style="display: none;"/>
                    {% endif %}
                    <input type=hidden name="selectedLiterature" id="selectedLiterature_<%= id %>" value="<%= id %>"/>
                </td>
                <td><input type="hidden" name="literature" value="<%= id %>"/><a href="/bodb/literature/<%= id %>/" onclick="return openInNewTab('/bodb/literature/<%= id %>/');"><%= _.escape(string) %></a></td>
                <td width=100px><a href="/bodb/user/<%= collator_id %>/"><%= _.escape(collator) %></a> {% if user.is_authenticated and not user.is_anonymous %}<% if(collator_id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= collator_id %>');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}</td>
                <td width=150px><%= url_str %></td>
                <td width=100px><span id="literature_<%= id %>_message" name="literature_<%= id %>_message" class="messages"></span> </td>
            </tr>
        </table>
    </div>
</script>
<script type="text/javascript">
    var $synch = $('.lit_export_format').bind('change', function() {
        $synch.not(this).get(0).selectedIndex = this.selectedIndex;
    });
</script>
