<script type="text/javascript">
    function addLiteratureMultiple(lit_id, data){
        var count = $('#references').children().length;
        var tmplMarkup = $('#reference-template').html();
        var compiledTmpl = _.template(tmplMarkup, { idx : count, lit: lit_id, authors: data[0], year: data[1], title: data[2]});
        $('#references').append(compiledTmpl);
        $('textarea:not(.processed)').TextAreaResizer();
        return false;
    }

    function removeReference(idx){
        $('#reference-'+idx).remove();
        return false;
    }

    $(document).ready(function(){
        {% for reference in references %}
            addLiteratureMultiple({{ reference.id }}, ['{{ reference.author_names|escapejs }}', '{{ reference.year }}',
                '{{ reference.title|escapejs }}']);
        {% endfor %}
    });
</script>
<div id="referenceData" style="display:{% if showReferences %}block{% else %}none{% endif %}">
    <b class="d1f"></b><b class="d2f"></b><b class="d3f"></b><b class="d4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="table_header">
            <td colspan=4>
                <a href="/bodb/literature/search/?_multiple=1" onclick="return showPopup('search_reference_{{ form.instance.id }}',700,550,'/bodb/literature/search/?_multiple=1');">Search</a>
            </td>
        </tr>
        <tr class="col_header">
            <td style="width:120px">&nbsp;</td>
            <td style="width:150px">Authors</td>
            <td style="width:120px">Year</td>
            <td>Title</td>
        </tr>
        <tr>
            <td colspan=4>
                <div id="references">
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/html" id="reference-template">
    <div id="reference-<%= idx %>" name="reference">
        <input id="id_literature-<%= idx %>" name="literature" type="hidden" value="<%= lit %>"/>
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return removeReference(<%= idx %>);">Remove</a>&nbsp;
                </td>
                <td style="width:150px">
                    <%= _.escape(authors) %>
                </td>
                <td style="width:120px">
                    <%= _.escape(year) %>
                </td>
                <td>
                    <%= _.escape(title) %>
                </td>
            </tr>
        </table>
        <div class="myerrors">
        </div>
    </div>
</script>