{% load bodb_extras %}
<script type="text/javascript">
    function addNewBuildingSED(sed_type)
    {
        if(sed_type.length>0)
        {
            document.getElementById('id_new_build_sed_type').value='';
            showPopup('add_sed_{{ form.instance.id }}',700,550,'/bodb/sed/'+sed_type+'/new/?_multiple=1&type=build');
        }
    }

    $(document).ready(function()
    {
        {% for build_sed_form in build_sed_formset.forms %}
            {% if build_sed_form.instance.id %}
                addBuildSEDMultiple('{{ build_sed_form.instance.id }}',
                        '{{ build_sed_form.instance.relationship|escapejs }}',
                        '{{ build_sed_form.instance.relevance_narrative|escapejs }}',
                        {{ build_sed_form.instance.sed.id }},
                        ['{{ build_sed_form.instance.sed.title|escapejs }}',
                            '{{ build_sed_form.instance.sed.brief_description|escapejs }}',
                            '{{ build_sed_form.instance.sed.type|escapejs }}']);
            {% else %}
                addBuildSEDMultiple('', '{{ build_sed_form.initial|lookup:'relationship'|escapejs }}',
                        '{{ build_sed_form.initial|lookup:'relevance_narrative'|escapejs }}',
                        {{ build_sed_form.initial|lookup:'sed' }},
                        ['{{ build_sed_form.initial|lookup:'sed_title'|escapejs }}',
                            '{{ build_sed_form.initial|lookup:'sed_brief_description'|escapejs }}',
                            '{{ build_sed_form.initial|lookup:'sed_type'|escapejs }}'])
            {% endif %}
        {% endfor %}
    });
</script>
<div id="buildSEDData" style="display:{% if showBuildSEDs %}block{% else %}none{% endif %}">
    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="table_header">
            <td>
                <a href="/bodb/sed/search/?_multiple=1&type=build" onclick="return showPopup('search_sed_{{ form.instance.id }}',700,550,'/bodb/sed/search/?_multiple=1&type=build');">Search</a>
            </td>
            <td colspan="5"><div style="font-size: 75%">Add new: <select id="id_new_build_sed_type" name="new_build_sed_type" style="font-size: 80%;font-family: verdana, sans-serif" onchange="addNewBuildingSED(this.value);"><option value=""></option><option value="generic">generic</option><option value="connectivity">connectivity</option><option value="erp">ERP</option><option value="imaging">brain imaging</option> </select> SED</div></td>
        </tr>
        <tr class="col_header">
            <td style="width:120px">&nbsp;</td>
            <td style="width:150px">Title*</td>
            <td style="width:300px">Description*</td>
            <td style="width:100px">Type</td>
            <td style="width:120px">Relationship*</td>
            <td>Relevance Narrative*</td>
        </tr>
        <tr>
            <td colspan=6>
                {{ build_sed_formset.management_form }}
                <div class="myerrors">
                    {{ build_sed_formset.management_form.errors }}
                </div>
                <div id="build_seds">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="build_sed-template">
    <div id="build_sed-<%= idx %>" name="build_sed">
        <input type=hidden id="id_build_sed-<%= idx %>-DELETE" name="build_sed-<%= idx %>-DELETE"/>
        <input id="id_build_sed-<%= idx %>-id" name="build_sed-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        <input id="id_build_sed-<%= idx %>-sed" name="build_sed-<%= idx %>-sed" type="hidden" value="<%= sed %>" />
        <input id="id_build_sed-<%= idx %>-document" name="build_sed-<%= idx %>-document" type="hidden" {% if form.instance %}value="{{ form.instance.pk }}"{% endif %}/>
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td style="width:120px">
                    <a href="" onclick="return deleteInlineForm('build_sed', <%= idx %>);">Remove</a>&nbsp;
                </td>
                <td style="width:150px">
                    <%= _.escape(title) %>
                </td>
                <td style="width:300px">
                    <%= _.escape(brief_description).replace(new RegExp('\\n', 'g'),'<br/>') %>
                </td>
                <td style="width:100px">
                    <%= _.escape(type) %>
                </td>
                <td style="width:120px">
                    <select id="id_build_sed-<%= idx %>-relationship" name="build_sed-<%= idx %>-relationship" style="font-size: 80%;font-family: verdana, sans-serif">
                        <option value="scene setting" <% if(relationship=='scene setting'){ %>selected<% } %>>scene setting</option>
                        <option value="support" <% if(relationship=='support'){ %>selected<% } %>>support</option>
                    </select>
                </td>
                <td>
                    <textarea cols="37" id="id_build_sed-<%= idx %>-relevance_narrative" name="build_sed-<%= idx %>-relevance_narrative" rows="3"><%= _.escape(relevance_narrative) %></textarea>
                </td>
            </tr>
        </table>
        <div class="myerrors">
            <span id="build_sed_<%= idx %>_errors">
            </span>
        </div>
    </div>
</script>