{% extends "base_generic.html" %}
{% block extrahead %}
    <title>BODB - {% if form.instance.id%}Edit {{ form.instance.name }}{% else %}Add{% endif %} Group</title>
    <script type="text/javascript">

        animatedcollapse.addDiv('permissionsData', 'fade=1');

        function save()
        {
            document.getElementById('groupForm').submit();
        }

        function deleteGroup()
        {
            if(confirm('Do you really want to delete this group?'))
            {
                var data = { 'id': {{ group.id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args = { type: "POST", url: "/bodb/group/{{ group.id }}/delete/", data: data, complete: doneDeleteGroup };
                $.ajax(args);
                return false;
            }
            return false;
        }

        function doneDeleteGroup(res, status)
        {
            var txt = res.responseText;
            if (status=="success")
            {
                var data = eval('('+txt+')');
                opener.document.getElementById('group-'+data.id).style.display='none';
                self.close();
            }
            else
                alert(txt);
        }
    </script>
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>{% if form.instance.id%}Edit{% else %}Add{% endif %} Group</h2>
        <form id="groupForm" method="post" action="">
            {% csrf_token %}
            <table class="tab_panel">
                <tr>
                    <td colspan=2>
                        <div id="user_info">
                            [<a href="" onclick="return openHelp('{% if helpPage %}{{ helpPage }}{% else %}BODB{% endif %}');">Help</a>]&nbsp;
                        </div>
                    </td>
                </tr>
                <tr valign=top>
                    <td style="width:20%">{{ form.name.label_tag }}*</td>
                    <td>{{ form.name }}</td>
                    {% if form.name.errors %}<td class="myerrors">{{ form.name.errors }}</td>{% endif %}
                </tr>
                <tr>
                    <td colspan=3 style="padding:0px">
                        <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                    </td>
                </tr>
                <tr class="section_header">
                    <td colspan=3>
                        Permissions (<a href="javascript:animatedcollapse.toggle('permissionsData')"><span id="permissionsDataLabel">Show</span></a>)
                    </td>
                </tr>
                <tr>
                    <td colspan=3 style="padding:0px">
                        <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% include "bodb/admin/permissions_detail.html" %}
                    </td>
                </tr>
            </table>
            <div class="myerrors">
                {{ form.errors }}
            </div>
            <br>
            <input class="btn" type="button" value="Save" onclick="save()" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
            {% if ispopup %}
                <input class="btn" type="button" value="Close" onclick="self.close();" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
            {% endif %}
            {% if form.instance.id %}
                {% if not ispopup %}
                    <input class="btn" type="button" value="Cancel" onclick="document.location.href='/bodb/group/{{ form.instance.id }}/';" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>&nbsp;
                {% endif %}
                <input class="btn" type="button" value="Delete" onclick="deleteGroup()" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
            {% endif %}
        </form>
    </div>
{% endblock %}
