<script type="text/javascript">
    function addUser(user_id, username, active, staff, admin, groups, name, email){
        var tmplMarkup = $('#user-template').html();
        var compiledTmpl = _.template(tmplMarkup, { id : user_id, username: username, active: active, staff: staff,
            admin: admin, groups: groups, name: name, email: email });
        $('#users').append(compiledTmpl);
        return false;
    }

    function updateUser(user_id, username, active, staff, admin, groups, name, email){
        var tmplMarkup = $('#user-template').html();
        var compiledTmpl = _.template(tmplMarkup, { id : user_id, username: username, active: active, staff: staff,
            admin: admin, groups: groups, name: name, email: email });
        $('#user-'+user_id).replaceWith(compiledTmpl);
        return false;
    }

    function toggleActive(userId, active)
    {
        var data = { 'id': userId, 'active': active, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
        var args = { type: "POST", url: "/bodb/user/"+userId+"/toggle_active/", data: data, complete: doneToggleActive };
        $.ajax(args)
        return false;
    }

    function doneToggleActive(res, status)
    {
        var txt = res.responseText;
        if (status!="success")
            alert(res.responseText);
        else
        {
            var data = eval('('+txt+')');
            if(data.active)
                document.getElementById('user_'+data.id+'_message').innerHTML='User activated';
            else
                document.getElementById('user_'+data.id+'_message').innerHTML='User deactivated';
            document.getElementById('user_'+data.id+'_message').style.display='block';
            $('#user_'+data.id+'_message').fadeOut(5000, function(){});
        }

    }

    function toggleStaff(userId, staff)
    {
        var data = { 'id': userId, 'staff': staff, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
        var args = { type: "POST", url: "/bodb/user/"+userId+"/toggle_staff/", data: data, complete: doneToggleStaff };
        $.ajax(args)
        return false;
    }

    function doneToggleStaff(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if (status!="success")
            alert(res.responseText);
        else
        {
            if(data.staff)
                document.getElementById('user_'+data.id+'_message').innerHTML='User is now staff';
            else
                document.getElementById('user_'+data.id+'_message').innerHTML='User no longer staff';
            document.getElementById('user_'+data.id+'_message').style.display='block';
            $('#user_'+data.id+'_message').fadeOut(5000, function(){});
        }
    }

    function toggleAdmin(userId, admin)
    {
        var data = { 'id': userId, 'admin': admin, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
        var args = { type: "POST", url: "/bodb/user/"+userId+"/toggle_admin/", data: data, complete: doneToggleAdmin };
        $.ajax(args)
        return false;
    }

    function doneToggleAdmin(res, status)
    {
        var txt = res.responseText;
        var data = eval('('+txt+')');
        if (status!="success")
            alert(res.responseText);
        else
        {
            if(data.admin)
                document.getElementById('user_'+data.id+'_message').innerHTML='User is now admin';
            else
                document.getElementById('user_'+data.id+'_message').innerHTML='User no longer admin';
            document.getElementById('user_'+data.id+'_message').style.display='block';
            $('#user_'+data.id+'_message').fadeOut(5000, function(){});
        }
    }

    function filter_users(filter_string)
    {
        if(filter_string.length==0)
        {
            $('.user').each(function(){
                this.style.display='inline';
            });
        }
        else{
            $('.user').each(function(){
                if($(this).find(".user_name").html().indexOf(filter_string)>-1)
                    this.style.display='inline';
                else
                    this.style.display='none';
            });
        }
    }

    $(document).ready(function()
    {
        {% for u in users %}
            addUser({{ u.id }},'{{ u.username|escapejs }}',{% if u.is_active %}true{% else %}false{% endif %},
                    {% if u.is_staff %}true{% else %}false{% endif %},
                    {% if u.is_superuser %}true{% else %}false{% endif %},
                    '{% for group in u.groups.all %}{{ group.name|escapejs }}{% if not forloop.last %}, {% endif %}{% endfor %}',
                    '{{ u.first_name|escapejs }} {{ u.last_name|escapejs }}','{{ u.email }}');
        {% endfor %}
    });
</script>

<div id="userDiv" style="display:block">
    <table class="tab_panel">
        <tr class="table_header">
            <td colspan=8>
                <a href="/bodb/user/new/" onclick="return showPopup('add_user',700,550,'/bodb/user/new/');">Add new</a>
            </td>
        </tr>
        <tr class="col_header">
            <td colspan="8">Filter: <input type="text" id="id_user_filter" name="user_filter" onkeyup="filter_users(this.value);"/></td>
        </tr>
        <tr class="col_header">
            <td style="width:40px">&nbsp;</td>
            <td style="width:300px">User</td>
            <td style="width:40px">Active</td>
            <td style="width:40px">Staff</td>
            <td style="width:40px">Admin</td>
            <td style="width:300px">Groups</td>
            <td style="width:150px">Email</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=8>
                <div id="users">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="user-template">
    <div id="user-<%= id %>" class="user">
        <table class="tab_panel">
            <tr class="odd_row" valign=top>
                <td style="width:40px">
                    <a href="/bodb/user/<%= id %>/edit/" onclick="return showPopup('edit_user_<%= id %>', 700, 550, '/bodb/user/<%= id %>/edit/');">Edit</a>
                </td>
                <td style="width:300px">
                    <div id="user-<%= id %>-name" class="user_name"><a href="/bodb/user/<%= id %>/" onclick="return showPopup('view_user_<%= id %>', 700, 550, '/bodb/user/<%= id %>/');"><%= username %></a> (<%= name %>)</div>
                </td>
                <td style="width:40px" align=center>
                    <input type=checkbox name="activeCheckbox" id="activeCheckbox_<%= id %>" value="<%= id %>" <% if(active) { %>checked=True<% } %> onclick="toggleActive(this.value, this.checked);"/>
                </td>
                <td style="width:40px" align=center>
                    <input type=checkbox name="staffCheckbox" id="staffCheckbox_<%= id %>" value="<%= id %>" <% if(staff) { %>checked=True<% } %> onclick="toggleStaff(this.value, this.checked);"/>
                </td>
                <td style="width:40px" align=center>
                    <input type=checkbox name="adminCheckbox" id="adminCheckbox_<%= id %>" value="<%= id %>" <% if(admin) { %>checked=True<% } %> onclick="toggleAdmin(this.value, this.checked);"/>
                </td>
                <td style="width:300px">
                    <%= groups %>
                </td>
                <td style="width:150px">
                    <%= email %>
                </td>
                <td>
                    <span id="user_<%= id %>_message" class="messages"></span>
                </td>
            </tr>
        </table>
    </div>
</script>
