<div id="user_list" name="user_list" style="display:{% if users|length %}block{% else %}none{% endif %}">
    <table class="tab_panel" style="background:#e6e8ed;">
        <tr class="col_header">
            <td width=25px>&nbsp;</td>
            <td style="width:120px">&nbsp;</td>
            <td style="width:120px">Username</td>
            <td>Real Name</td>
            <td style="width:200px">Email</td>
        </tr>
        <tr>
            <td colspan="5">
                <div id="users" name="users">
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="user-template">
    <div id="user-<%= idx %>" name="user">
        <table class="tab_panel">
            <tr class="<%= getTRTag(idx) %>" valign=top>
                <td width=25px><%= idx %></td>
                <td style="width:120px">
                    {% if user.is_authenticated and not user.is_anonymous %}<% if(id != {{ user.id }}){ %><% if(subscribed_to_user){ %>Subscribed<% } else{ %><a href="#" title="Be notified when this user creates new entries" onclick="return showPopup('new_user_subscription', 400, 200, '/bodb/subscription/user/new/?_popup=1&user=<%= id %>');"><strong>Subscribe</strong></a><% } %><% } %>{% endif %}
                </td>
                <td style="width:120px">
                    <a href="/bodb/user/<%= id %>/"><%= _.escape(username) %></a>
                </td>
                <td>
                    <%= _.escape(first_name) %> <%= _.escape(last_name) %>
                </td>
                <td style="width:200px">
                    <%= email %>
                </td>
            </tr>
        </table>
    </div>
</script>